/**file:mobile2.0/mlzla.css**/
@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    width: 100%;
    min-width: 320px;
    color: #4C4C4C;
    background: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
html, body{ height: 100%;}
em, b, ol, a, i, span, header, nav, strong {
    margin: 0;
    padding: 0px;
    display: inline-block;
}
ul, li, dl, dt, dd, p, h1, h2, h3, h4, hr {
    margin: 0;
    padding: 0;
}
h1{ font-size: 1.8rem;}
img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
}
label{ font-weight: normal;}
input, textarea{ 
    font-family: "Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, li { list-style: none; font-weight: normal;}
a { text-decoration: none; color: #333;}
a:focus { outline: none;}
textarea { resize: none;}
i{ font-style: normal;}
strong, h1, h2{ font-weight: normal;}

.pr{ position: relative!important;}
.pa{ position: absolute!important;}
.fl{ float: left!important;}
.fr{ float: right!important; }
@media screen and (min-width:641px) {
    .jiudwrap {
        width: 640px;
        margin: 0 auto;
    }
}

/*房间列表*/
.banner-point{ 
    text-align: center;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.banner-point li{
    display: inline-block;
    margin: 0 3px;
}
.banner-point li a{
    display: block;    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,.3);
}
.banner-point li a.hover{
    background: #f88917;
}
.jiudname-wrap{
    background: #ffffff;
    height: 60px;
    border-bottom: 1px solid #ececec;
    padding: 0 60px 0 10px;
    margin-bottom: 10px;
}
.jiudname-link{
    width: 100%;
    border-right: 1px solid #ececec;
}
.jiudname i{
    width: 40px;
    right: 0;
    top: 22px;
    text-align: center;
}
.jiudname i img{
    width: 10px;
}
.jiudname-link h1{
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #333333;
    overflow: hidden;
}
.jiudname-link span{
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
}
.jiudname-link span img{
    width: 13px;
    margin-right: 5px;
    vertical-align: -3px;
}
.icontel{
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 13px;
}
.icontel img{ width: 30px;}
.jiuddate-wrap{ 
    height: 60px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: #ffffff;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}
.jiuddate{
    width: 50%;
    float: left;
    color: #999999;
}
.jiuddate span{
    width: 60px;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #f5f5f5;
    margin-right: 10px;
    font-size: 15px;
}
.jiuddate-year{ color: #575b5e; padding-top: 11px; font-size: 15px;}
.border-cb{ border-right: 1px solid #ececec;}
.jiudroom{
    background: #ffffff;
}
.jiudroom li{
    position: relative;
    padding: 10px 70px 10px 105px;
    height: 106px;
    border-bottom: 1px solid #ececec;
    font-size: 12px;
}
.jiudroom li .roomimg{
    position: absolute;
    height: 85px;
    width: 85px;
    left: 10px;
}
.jiudroom-text h1{
    font-size: 16px;
    margin-bottom: 14px;
    height: 22px;
    line-height: 22px;
    width: 100%;
    overflow: hidden;
}
.jiudroom-text p{ 
    color: #999999;
    height: 20px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
}
.jiudroom-price{
    right: 10px;
    top: 10px;
    width: 60px;
    text-align: center;
}
.jiudroom-price ins{
    text-decoration-line: none;    
    font-size: 12px;
    color: #f88917;
}
.jiudroom-price ins i{
    font-size: 18px;
}
.jiudroom-price del{
    color: #999999;
}
.btnbook{
    background: #f88917;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 34px;
    line-height: normal;
    font-size: 14px;
    margin-top: 5px;
}
/*我要预订*/
.jiudook-time{
    height: 40px;
    background: #ffffff;
    padding-right: 50px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
} 
.jiudook-time .jiuddate span {
    font-size: 12px;
    height: 39px;
    line-height: 39px;
}
.jiudook-time .jiuddate-year {
    padding-top: 6px;
    font-size: 12px;
}
.jiudook-time .jiuddate span {margin-right: 5px;}
.jiuddays{ 
    top: 0; 
    right: 0;
    width: 40px; 
    height: 40px; 
    text-align: center; 
    line-height: 40px; 
    font-size: 12px;
    border-left: 1px solid #ececec;
}
.jiudbook-info{ border-top: 1px solid #ececec;    
}
.jiudbookp{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ececec;
    padding: 0 10px;
    font-size: 12px;
    width: 100%;
    position: relative;    
    background: #ffffff;
    display: block;
}
.jiudbook-notice{
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
}
.jiudbook-notice i{ color: #f88917; margin: 0 2px;}
.jiudbookp span{
    position: absolute;
    left: 10px;
    top: 0;
    width: 116px;
    color: #999999;
}
.jiudbook-sex{
    padding: 0 10px 0 85px;
    text-align: right;
}
.jiudbook-sex span{ margin-right: 8px; }
.jiudbook-inpu{ padding: 0 10px 0 0px;}
.jiudbook-inpu input{width: 100%;
    border: none;
    /* text-align: right; */
    height: 39px;}
.iconarrowr{
    width: 8px;
    float: right;
    margin: 13px 0px 0px !important;
}
.roomnum{ margin-right: 10px;}
.mar13{ margin-top: 13px;}
.jiudbook-ps{
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ececec;
    color: #999999;
    font-size: 12px;
    position: relative;
    margin-bottom: 10px;
}
.jiudbook-ps label{
    position: absolute;
    left: 10px;
    top: 0;
    width: 50px;
    height: 40px;  
}
.jiudbook-ps textarea{
    height:34px;
    width: 100%;
    margin-top: 5px; 
    border: none;
    font-size: 12px;
    line-height: 29px;
    overflow: hidden;
    padding-left: 10px;
}
.jiudbook-intro{
    background: #ffffff;
    padding: 0 10px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.jiudbook-intro h1, .jiudbook-intro p{
    font-size: 12px;
    margin: 10px 0;
}
.jiudbook-intro p{ color: #999999;}
.jiudbottom-wrap{
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,.8);    
    color: #4C4C4C;
    font-size: 14px;
}
.jiudbottom-text{ padding: 0 98px 0 10px; border-top: 1px solid rgba(248,137,23,.2);}
.jiudbottom-text strong{ color: #f88917; font-size: 20px;}
.jiudbottom-text strong i{ font-size: 12px;}
.jiudbottom-text a{ color: #00aaee; padding: 0 5px;}
.btn-jiudbottom{
    position: absolute;
    right: 0;
    top: 0;
    background: #f88917;
    color: #ffffff;
    padding: 0 35px;
}
.jiudbottom-popupwrap{
    background: rgba(0,0,0,.7);
    height: 95%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cbcbcb;
    font-size: 14px;
    padding: 0 10px;
    overflow-y: scroll;
    color:#fff;
    margin-bottom: 50px;
}
.jiudbottom-popupwrap h1{
    font-size: 14px;
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 20px;
}
.jiudbottom-popupwrap ul{
    padding-bottom: 60px;
}
.jiudbottom-popupwrap ul li{
    height: 40px;
    line-height: 40px;
    position: relative;
}
.jiudbottom-popupwrap ul li .text-c{
    width: 80px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 0;
}
#checkinout {
    height: 45px;
    line-height: 45px;
    background: #fff;
    padding-left: 10px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #e8ebef;
    border-bottom: 1px solid #e8ebef;
    margin-bottom: 10px;
    padding-left: 0px;
}
.ico_time {
    width: 20px;
    height: 19px;
    position: relative;
    top: 2px;
    float: left !important;
    background: url(../images/ico_html5.png) 50% 50% no-repeat;
    background-size: auto 20px;
    background-position: -22px top;
    margin-top: -10px;
    margin-right: 5px;
    margin: 10px;
}
/*雇主发单*/
.formwap{
    padding-bottom: 30px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.form-header{ 
    height: 40px;
    line-height: 40px; 
    text-align: center; 
    color: #ffffff; 
    font-size: 1.6rem;
    background: #f88917;
}
.formbrink{ padding-top: 10px; }
.formdiv{ 
    font-size: 1.4rem;
    padding: 8px 10px;
    overflow: hidden;
    position: relative;
}
.formdiv label{ 
    display: inline-block;
    float: left;
    position: absolute;
    left: 10px;
    top: 17px;
    width: 70px;
}
.formdiv .textarea-label{ 
    top: 13px;
}
.formdiv textarea{ 
    line-height: 24px
}
.formdiv textarea, .formdiv  input{ 
    font-size: 1.4rem; 
    width: 100%;     
    padding: 0 3px;
    border: 1px solid #d7d7d7;
}
.formdiv input{ 
    line-height: 35px
}
.formtextarea, .forminpu, .price-inpu{ 
    padding-left: 70px;
    float: left; 
    width: 100%   
}
.price-inpu input{  
    width: 80px;
    text-align: center;
    padding: 0 3px;
}
.price-inpu i{ color: #d7d7d7;}
.formbtn{
    display: block;
    width: 80%;
    margin: 30px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #f88917;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
}
/*发布汇总*/
.formrelease{
    padding: 0 10px;
}
.formh1{
    font-size: 1.6rem;
    line-height: 35px;
    padding-top: 10px;
    border-bottom: 3px solid #ff4000;

    color: #ff4000;
}
.formh1 a{
    float: right;
    font-size: 1.2rem;
    color: #ff4000;
    padding-left: 15px;
}
.formtable{
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    border-right: 1px solid #d7d7d7;
}
.formtable th{
    font-weight: normal;
}
.formtable th, .formtable td{
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    line-height: 30px;
    font-size: 1.2rem;
}
.formtable-btn{
    background: #ff4000;
    color: #ffffff;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 3px 0
}
.formnothing .formh1{ border-bottom: 3px solid rgba(215,215,215,.6);}
.formnothing-img{
    width: 58px;
    margin-top: 14px;
}
.formnothing-text{
    color: rgb(153, 153, 153);
    margin-bottom: 8px;
    font-size: 1.4rem;
}

/*提交成功*/
.formsuccess{
    text-align: center;
}
.formsuccess h1{
    font-size: 1.6rem;
}
.iconfont-success{
    width: 45px;
    margin: 30px auto 10px;
    display: block;
}
.formsuccess p{
    font-size: 1.2rem;
    color: #999;
    margin: 5px auto 40px;
}
.formsuccess-btn{
    display: block;
    width: 30%;
    margin: 30px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #f88917;
    color: #ffffff;
    text-align: center;
    font-size: 1.4rem;   
}
/*雇主信息*/
.formdetail-wap{ padding: 50px 10px 0 0; color: #4C4C4C}
.formdetail{ position: relative; line-height: 25px; font-size: 1.4rem}
.formdetail span{
    position: absolute;
    width: 85px;
    left: 10px;
    top: 10px;
}
.formdetail-main{ 
    padding: 10px 0 10px 85px;  
    margin-left: 10px;   
    border-bottom: 1px solid #d7d7d7;
}
.formbtn-group{ padding-top: 30px; overflow: hidden;  text-align: center;}
.formbtn-l, .formbtn-r{
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px;
    line-height: 32px;
    height: 36px;
    border: 2px solid #ff3000;
    font-size: 1.4rem;
    margin: 0 5px;
}
.formbtn-l{
    background: #ff3000;
    color: #ffffff;
}
.formbtn-r{
    color: #ff3000;
}
.formgoods{ width: 50px; height: 50px; }
.wd60{ width: 60px; }

.redheader {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    background: #fff;
    left: 0px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border-bottom: 1px #e1e1e1 solid;
}

.redheader h1 {
    padding: 0 40px;
    line-height: 50px;
    color: #ff4000;
    font-size: 1.8rem;
    text-align: center;
}

.go-back {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    background: url(../images/back.png) no-repeat center center;
    background-size: 16px;
}
.footer{
    position: fixed;
    width: 100%;
    height: 48px;
    left: 0px;
    bottom: 0px;
    line-height: 48px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    background-color: #fff
}
.footerleft{
    float:left;
    width:50%;
    text-align:center;
    border-right:1px solid #ccc
}
.footerright{
    float:right;
    width:50%;
    text-align:center;
}
.content{
    font-size: 14px;
}
.content li{
    width: 92%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    margin-top:10px;
    margin-left:4%;
}
.content  li p{
    width: 92%;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}
.fl{
    float:left;
}
.fr{
    float: right
}