/data/
/core/runtime/
/core/model/user.php
sh.exe.stackdump
/core/inc/plugin/vendor/phpunit
tmp/
.idea/
composer.lock
/vendor/*
/tests/
.env
/.phpstorm.meta.php
/_ide_helper.php
/vendor/composer/autoload_static.php
/vendor/autoload.php
/vendor/composer/installed.json
/vendor/composer/autoload_real.php
/vendor/composer/ClassLoader.php
vendor/
.DS_Store
/index.html