{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/order/tabs_hotel'}
<link href="../addons/sz_yi/static/js/dist/select2/select2.css" rel="stylesheet">
<link href="../addons/sz_yi/static/js/dist/select2/select2-bootstrap.css" rel="stylesheet">
<script language="javascript" src="../addons/sz_yi/static/js/dist/select2/select2.min.js"></script>
<script language="javascript" src="../addons/sz_yi/static/js/dist/select2/select2_locale_zh-CN.js"></script>
<style type='text/css'>
.trhead td {  background:#f8f8f8;text-align: center}
.trbody td {  text-align: center; vertical-align:top;border-left:1px solid #DEDEDE;overflow: hidden;}
.goods_info{position:relative;width:60px;}
.goods_info img {width:50px;background:#fff;border:1px solid #DEDEDE;padding:1px;}
.goods_info:hover {z-index:1;position:absolute;width:auto;}
.goods_info:hover img{width:320px; height:320px;}
.form-control .select2-choice {
        border: 0 none;
        border-radius: 2px;
        height: 32px;    line-height: 32px;
    }
</style>
<div class="rightlist">
{if $status != 9}
<div class="panel panel-default ">
    <div class="panel-body sx-border">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="sz_yi" />
            <input type="hidden" name="do" value="order" />
            <input type="hidden" name="type" value="hotel" />
            <input type="hidden" name="status" value="{$status}" />
            <input type="hidden" name="agentid" value="{$_GPC['agentid']}" />
            <input type="hidden" name="refund" value="{$_GPC['refund']}" />  
            <div class="form-group">
                <div class="col-sm-8 col-lg-12 col-xs-12">
                    <div class='input-group'>
                        <div class='input-group-addon'>订单号</div>
                        <input class="form-control" name="keyword" type="text" value="{$_GPC['keyword']}" placeholder="订单号">
                        <div class='input-group-addon'>用户信息</div>
                        <input class="form-control" name="member" type="text" value="{$_GPC['member']}" placeholder="用户手机号/姓名/昵称, 收件人姓名/手机号 ">
                        <div class='input-group-addon'>支付方式</div>
                        <select name="paytype" class="form-control">
                            <option value="" {if $_GPC['paytype']==''}selected{/if}>不限</option>
                            {loop $paytype $key $type}
                            <option value="{$key}" {if $_GPC['paytype'] == "$key"} selected="selected" {/if}>{$type['name']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
            </div> 
<!--             <div class='form-group'>
                  <div class="col-sm-8 col-lg-12 col-xs-12">
                    <div class='input-group'>
                   <div class='input-group-addon'>核销员</div>
                        <input class="form-control" name="saler" type="text" value="{$_GPC['saler']}" placeholder="核销员昵称/姓名/手机号">
                        <div class='input-group-addon'>核销门店</div>
                        <select name="storeid" class="form-control">
                            <option value="" ></option>
             {loop $stores $store}
            <option value="{$store['id']}" {if $_GPC['storeid'] ==$store['id']} selected="selected" {/if}>{$store['storename']}</option>
            {/loop}
                        </select>
                    {if $p_cashier}
                        <div class='input-group-addon'>收银商户</div>
                        <select name="csid" class="form-control">
                            <option value="" ></option>
             {loop $cashier_stores $cashier_store}
            <option value="{$cashier_store['id']}" {if $_GPC['csid'] ==$cashier_store['id']} selected="selected" {/if}>{$cashier_store['name']}</option>
            {/loop}
                        </select>
                    {/if}
            </div>
                  </div>
            </div> -->
            <div class="form-group">
                    <div class="col-sm-6">
                        <div class='input-group'>
                            <div class='input-group-addon'>下单时间
                                <label class='radio-inline' style='margin-top:-7px;'>
                                    <input type='radio' value='0' name='searchtime' {if $_GPC['searchtime']=='0'}checked{/if}>不搜索
                                </label>
                                <label class='radio-inline'  style='margin-top:-7px;'>
                                    <input type='radio' value='1' name='searchtime' {if $_GPC['searchtime']=='1'}checked{/if}>搜索
                                </label>
                            </div>
                            {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d H:i', $starttime),'endtime'=>date('Y-m-d H:i', $endtime)),true);}
                        </div>
                        <div class='input-group'>
                          <div class='input-group-addon'>完成时间
                            <label class='radio-inline' style='margin-top:-7px;'>
                                <input type='radio' value='0' name='fsearchtime' {if $_GPC['fsearchtime']=='0'}checked{/if}>不搜索
                            </label>
                            <label class='radio-inline'  style='margin-top:-7px;'>
                                <input type='radio' value='1' name='fsearchtime' {if $_GPC['fsearchtime']=='1'}checked{/if}>搜索
                            </label>
                        </div>
                        {php echo tpl_form_field_daterange('ftime', array('starttime'=>date('Y-m-d H:i', $fstarttime),'endtime'=>date('Y-m-d H:i', $fendtime)),true);}
                        </div>
                    </div>
                    <div class="col-sm-6">
                    <div class='input-group'>
                        <div class='input-group-addon'>付款时间
                            <label class='radio-inline' style='margin-top:-7px;'>
                                <input type='radio' value='0' name='psearchtime' {if $_GPC['psearchtime']=='0'}checked{/if}>不搜索
                            </label>
                            <label class='radio-inline'  style='margin-top:-7px;'>
                                <input type='radio' value='1' name='psearchtime' {if $_GPC['psearchtime']=='1'}checked{/if}>搜索
                            </label>
                        </div>
                        {php echo tpl_form_field_daterange('ptime', array('starttime'=>date('Y-m-d H:i', $pstarttime),'endtime'=>date('Y-m-d H:i', $pendtime)),true);}
                    </div>
                    <div class='input-group'>
                        <div class='input-group-addon'>确认时间
                            <label class='radio-inline' style='margin-top:-7px;'>
                                <input type='radio' value='0' name='ssearchtime' {if $_GPC['ssearchtime']=='0'}checked{/if}>不搜索
                            </label>
                            <label class='radio-inline'  style='margin-top:-7px;'>
                                <input type='radio' value='1' name='ssearchtime' {if $_GPC['ssearchtime']=='1'}checked{/if}>搜索
                            </label>
                        </div>
                        {php echo tpl_form_field_daterange('stime', array('starttime'=>date('Y-m-d H:i', $sstarttime),'endtime'=>date('Y-m-d H:i', $sendtime)),true);}
                    </div>
                </div>
                
            </div>
            <div class="form-group">
                {if !empty($agentid) && $level>0}   
                <div class="col-sm-3">
                    <div class='input-group'>
                        <div class='input-group-addon'>分销订单级数</div>
                        <select name="olevel" class="form-control">
                            <option value="" >不限</option>
                            <option value="1" {if $_GPC['olevel'] ==1} selected="selected" {/if}>一级订单</option>
                            <option value="2" {if $_GPC['olevel'] ==2} selected="selected" {/if}>二级订单</option>
                            <option value="3" {if $_GPC['olevel'] ==3} selected="selected" {/if}>三级订单</option>
                        </select>
                    </div>    </div>
                {/if}
            </div>
            <div class="form-group">

                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                    <button type="submit" name="export" value="1" class="btn btn-primary">导出 Excel</button>
                    <a class="btn btn-warning" href="{php echo $this->createWebUrl('order/export')}">自定义导出</a>
                </div>

            </div>
     
        </form>
    </div>
</div>

        <table class='table' style='float:left;margin-bottom:0;table-layout: fixed;line-height: 40px;height: 40px'>
                 <tr class='trhead'>
                    <td colspan='8' style="text-align: left;">
                        订单数: {$total}  订单金额: <span style="color:red">{if $totalmoney>0}{$totalmoney}{else}0{/if}</span>元&nbsp;{if $perm_role == 1}结算金额: <span style="color:red">{if $costmoney>0}{$costmoney}</span>元 &nbsp;<a class="btn btn-default" href="{php echo $this->createWebUrl('order/list',array('applytype'=>1))}">提现</a><a class='btn btn-default' onclick="return confirm('确认微信钱包提现?')" href="{php echo $this->createWebUrl('order/list',array('applytype'=>2));}">微信提现</a>{else}没有可提现金额{/if}{/if}                        
                    </td>
                </tr>
        </table>
        <table class='table' style='float:left;margin-bottom:5px;table-layout: fixed;line-height: 40px;height: 40px'>
                <tr class='trhead' style='line-height: 40px'>
                    <td colspan='2'style="width: 16%;text-align:left;">商品</td>
                    <td style='text-align:left;'>单价/数量</td>
                     <td>入住信息</td>
                    <td>支付方式</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
            </table>
          
                {loop $list $item}
  <table class='table' style='float:left;border:1px solid #ccc;margin-top:5px;margin-bottom:0px;table-layout: fixed;'>
                <tr >
                    <td colspan='8'  style='border-bottom:1px solid #ccc;background:#f8f8f8;' > 
                        <b>订单编号:</b>  {$item['ordersn']}     
                        <b>下单时间:  </b>{php echo date('Y-m-d H:i:s', $item['createtime'])}
                        {if !empty($item['refundstate'])}<label class='label label-danger'>{$r_type[$item['rtype']]}申请</label>{/if}
                        {if $item['rstatus'] == 4}<label class='label label-primary'>客户已经寄出快递</label>{/if}
                        {if !empty($agentid)}
                         <b>分销订单级别:</b> {$item['level']}级 <b>分销佣金:</b> {$item['commission']} 元
                        
                         {/if}
                         {if !empty($level)}
                            
                              {if empty($agentid)}
                              {if $item['commission1']!=-1}<b>1级佣金:</b> {$item['commission1']} 元 {/if}
                              {if $item['commission2']!=-1}<b>2级佣金:</b> {$item['commission2']} 元 {/if}
                              {if $item['commission3']!=-1}<b>3级佣金:</b> {$item['commission3']} 元 {/if}
                              {/if}
                              {if !empty($item['agentid'])}
                            {ifp 'commission.changecommission'}
                            <a href='javascript:;' class='btn btn-default' onclick="commission_change('{$item['id']}')">修改佣金</a>
                            {/if}
                              {/if}
                         
                         {/if}
                         <b><button type="button" class="btn btn-success">{$item['vendor']}</button></b>
                    <td style='border-bottom:1px solid #ccc;background:#f8f8f8;text-align: center' >
                          {if empty($item['statusvalue'])}
                           {ifp 'order.op.close'}
                                  <a class="btn btn-default btn-sm" href="javascript:;" onclick="$('#modal-close').find(':input[name=id]').val('{$item['id']}')" data-toggle="modal" data-target="#modal-close">关闭订单</a>
                            {/if}
                            {/if}
                    </td>
                         
                </tr>
  </table>
          <table class='table' style='float:left;border:1px solid #ccc;border-top:none;table-layout: fixed;'>


            {loop $item['goods'] $k $g}
                <tr class='trbody'>
                    <td class="goods_info">
                         <img src="{php echo tomedia($g['thumb'])}"> 
                    </td>
                    <td valign='top'  style='border-left:none;text-align: left;;'  >
                        {$g['title']}
                      
                    </td>
                    <td style='border-left:none;width:30%'>
                    入住日期：  {php echo date('Y-m-d',$item['btime'])} <br />
                    离店日期：  {php echo date('Y-m-d',$item['etime'])} <br />

                    房间数量:  {php echo $item['num']}  间<br /> 
                    房价:
                    ￥ {$item['goodsprice']}                   


                    {php echo $item['roomprice']} <br />
                    押金:
                    ￥ {php echo $item['depositprice']} (
                      {if $item['depositpricetype']=='1' }
                       在线付
                      {/if}
                      {if $item['depositpricetype']!='1' }
                       到店付
                     {/if}
                     )<br />
                      {if $item['discountprice']>0}
                          会员折扣：-￥{php echo number_format( $item['discountprice'],2)}
                      {/if}
                      {if $item['deductprice']>0}                     
                          积分抵扣：-￥{php echo number_format($item['deductprice'],2)}
                      {/if}
                      {if $item['deductcredit2']>0}
                          余额抵扣：
                         -￥{php echo number_format($item['deductcredit2'],2)}                            
                      {/if}
                      {if $item['deductenough']>0}                        
                         满额立减：-￥{php echo number_format( $item['deductenough'],2)}
                      {/if}
                      总计: ￥{php echo $item['price']} 
                      
                    </td>
                     <td style='width:250px'>
                    入住人姓名:
                           {php echo $item['checkname']} <br />
                    电话:  {php echo $item['realmobile']}    
                    </td>
                    {/if}
        
                    {if $k==0}

                    <td rowspan="{php echo count($item['goods'])}"    >
                         <label class='label label-{$item['css']}'>{$item['paytype']}</label><br/>
                     
                    </td>                       
                    <td   rowspan="{php echo count($item['goods'])}" >
                    <label class='label label-{$item['statuscss']}'>{$item['status']}</label>
                     {if $item['returndepositprice']!='0' && $item['statusvalue']=='3'}
                    <label class='label label-{$item['statuscss']}'>押金已退{$item['returndepositprice']}元</label>

                     {/if}
                    {if $item['returndepositprice']=='0' && $item['statusvalue']=='3'}
                    <label class='label label-{$item['statuscss']}'style="background-color:#E84556">押金未退</label>
                     {/if}
                    <br />
                    <a href="{php echo $this->createWebUrl('order', array('op' => 'detail', 'id' => $item['id']))}">查看详情</a></td>
                     <td   rowspan="{php echo count($item['goods'])}" >
                    {if $item['order_type']=='3'}
                    {template 'web/order/ops_hotel'}
                    {/if}
                    {if  $item['order_type']!='3'}
                    {template 'web/order/ops'}
                    {/if}
                     </td>
                   
        </tr>
    {/loop}
   </table>
{/loop}
            
{else}
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <thead class="navbar-inner" >
                <tr>
                    <th style='width:8%;'>供应商ID</th>
                    <th style='width:22%;'>提现单号</th>
                    <th style='width:20%;'>提现金额</th>
                    <th style='width:10%;'>提现方式<br>手动/微信</th>
                    <th style='width:22%;'>申请时间<br>完成时间</th>
                    <th style='width:29%;'>状态</th>
                </tr>
            </thead>
            <tbody>
                {loop $supplierapply $row}
                    {if !empty($row['uid'])}
                        <tr>
                            <td>{$row['uid']}</td>
                            <td>{$row['applysn']}</td>
                            <td><a class="btn btn-danger" href="{if $row['status'] == 0}{php echo $this->createPluginWebUrl('supplier/supplier_list',array('apply_id' => $row['id']));}{else}#{/if}">金额：{$row['apply_money']}元{if $row['status'] == 0}(点击查看订单){/if}</a></td>
                            <td>{if $row['type']==1}<button type="button" class="btn btn-warning">手动提现</button>{elseif $row['type']==2}<button type="button" class="btn btn-success">微信提现</button>{/if}</td>
                            {if $row['status'] == 0}
                            <td><?php echo date('Y-m-d H:i:s',$row['apply_time']);?></td>
                            <td  style="overflow:visible;">
                                <button type="button" class="btn btn-info">申请中，等待审核</button>
                            </td>
                            {else}
                            <td><?php echo date('Y-m-d H:i:s',$row['finish_time']);?></td>
                            <td  style="overflow:visible;">
                                <button type="button" class="btn btn-danger">已打款，审核通过</button>
                            </td>
                            {/if}
                        </tr>
                    {/if}
                {/loop}
            </tbody>
        </table>
    </div>
</div>
{/if}  
{$pager}
</div>
</div>                                                      
<script language="javascript">
    function send(btn){
        var modal =$('#modal-confirmsend');
        var itemid = $(btn).parent().find('.itemid').val();
        alert(itemid);
            modal.find(':input[name=id]').val( itemid );
            var addressdata  = eval('(' +$(btn).parent().find('.addressdata').val()+')');
            modal.find('.realname').html(addressdata.realname);
            modal.find('.mobile').html(addressdata.mobile);
            modal.find('.address').html(addressdata.address);
    }
    $(function () {
        $('.select2').select2({
            search: true,
            placeholder: "请选择门店",
            allowClear: true
        });
    });
</script> 
                    
         {template 'web/order/modals'}
          {if  p('commission')}
          
           {template 'commission/changecommission'}
          {/if}
        {template 'web/_footer'}
