{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/order/tabs'}
<link href="../addons/sz_yi/static/js/dist/select2/select2.css" rel="stylesheet">
<link href="../addons/sz_yi/static/js/dist/select2/select2-bootstrap.css" rel="stylesheet">
<script language="javascript" src="../addons/sz_yi/static/js/dist/select2/select2.min.js"></script>
<script language="javascript" src="../addons/sz_yi/static/js/dist/select2/select2_locale_zh-CN.js"></script>
<style type='text/css'>
.trhead td {  background:#f8f8f8;text-align: center}
.trbody td {  text-align: center; vertical-align:top;border-left:1px solid #DEDEDE;overflow: hidden;}
.goods_info{position:relative;width:60px;}
.goods_info img {width:50px;background:#fff;border:1px solid #DEDEDE;padding:1px;}
.goods_info:hover {z-index:1;position:absolute;width:auto;}
.goods_info:hover img{width:320px; height:320px;}
.form-control .select2-choice {
        border: 0 none;
        border-radius: 2px;
        height: 32px;    line-height: 32px;
    }
</style>
<div class="rightlist">

<div class="panel panel-default" style='margin-top:60px'>
    <div class="panel-body sx-border">
        <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="sz_yi" />
            <input type="hidden" name="p" value="list" id="form_p" />
            <input type="hidden" name="do" value="order" id="form_do" />
            <div class="form-group">
                <div class="col-sm-8 col-lg-12 col-xs-12">
                    <div class='input-group'>
                        <div class='input-group-addon'>订单号</div>
                        <input class="form-control" name="keyword" type="text" value="{$request['keyword']}" placeholder="订单号/支付单号">
                        <div class='input-group-addon'>{$lang['good']}名称</div>
                        <input class="form-control" name="good_name" type="text" value="{$request['good_name']}" placeholder="{$lang['good']}名称">
                        <div class='input-group-addon'>{$lang['good']}ID</div>
                        <input class="form-control" name="good_id" type="text" value="{$request['good_id']}" placeholder="{$lang['good']}ID">
                        <div class='input-group-addon'>快递单号</div>
                        <input class="form-control" name="expresssn" type="text" value="{$request['expresssn']}" placeholder="快递单号">
                        <div class='input-group-addon'>会员ID</div>
                        <input class="form-control" name="memberid" type="text" value="{$request['good_id']}" placeholder="会员ID">
                        <div class='input-group-addon'>用户信息</div>
                        <input class="form-control" name="member" type="text" value="{$request['member']}" placeholder="用户手机号/姓名/昵称/绑定手机号, 收件人姓名/手机号 ">

                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-7 col-lg-9 col-xs-12">
                    <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$var['token']}" />
                    <button type="button" name="export" value="1" id="export" class="btn btn-primary">导出 Excel</button>

                </div>

            </div>

        </form>
    </div>
</div>

        <table class='table' style='float:left;margin-bottom:0;table-layout: fixed;line-height: 40px;height: 40px'>
                 <tr class='trhead'>
                    <td colspan='8' style="text-align: left;">
                        订单数: <span id="total">--</span>  订单金额: <span id="totalmoney" style="color:red">--</span>元&nbsp;{if $perm_role == 1}结算金额: <span style="color:red">{if $costmoney>0}{$costmoney}</span>元 &nbsp;<a class="btn btn-default" href="{php echo $this->createWebUrl('order/list',array('applytype'=>1))}">提现</a>{if !empty($shopset['weixin'])}<a class='btn btn-default' onclick="return confirm('确认微信钱包提现?')" href="{php echo $this->createWebUrl('order/list',array('applytype'=>2));}">微信提现</a>{/if}{else}没有可提现金额{/if}{/if}
                    </td>
                </tr>
        </table>
        <table class='table' style='float:left;margin-bottom:5px;table-layout: fixed;line-height: 40px;height: 40px'>
                <tr class='trhead' style='line-height: 40px'>
                    <td colspan='2'style="width: 19%;text-align:left;">商品</td>
                    <td style='text-align:left;'>单价/数量</td>
                    <td>买家</td>
                    <td>支付方式/配送方式</td>
                    <td>价格</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
            </table>

                {loop $list $item}
  <table class='table' style='float:left;border:1px solid #ccc;margin-top:5px;margin-bottom:0px;table-layout: fixed;'>
                <tr >
                    <td colspan='8'  style='border-bottom:1px solid #ccc;background:#f8f8f8;' >
                        <b>订单编号:</b>  {$item['ordersn_general']}
                        {if $item['pay_ordersn']}
                        <b>支付单号:</b>  {$item['pay_ordersn']}
                        {/if}
                        <b>下单时间:  </b>{php echo date('Y-m-d H:i:s', $item['createtime'])}
                        {if !empty($item['refundstate'])}<label class='label label-danger'>{$r_type[$item['rtype']]}申请</label>{/if}
                        {if $item['rstatus'] == 4}<label class='label label-primary'>客户已经寄出快递</label>{/if}

                        <label class="label label-info">{$item['vendor']}</label>
                        {if !empty($item['storename'])}
                        <label class="label label-primary">所属门店：{$item['storename']}</label>
                        {/if}
                    <td style='border-bottom:1px solid #ccc;background:#f8f8f8;text-align: center' >
                          {if empty($item['statusvalue'])}
                           {ifp 'order.op.close'}
                                  <a class="btn btn-default btn-sm" href="javascript:;" onclick="$('#modal-close').find(':input[name=id]').val('{$item['id']}')" data-toggle="modal" data-target="#modal-close">关闭订单</a>
                            {/if}
                            {/if}
                    </td>


                </tr>
  </table>
      <table class='table' style='float:left;border:1px solid #ccc;border-top:none;table-layout: fixed;'>

{loop $item['goods'] $k $g}
                <tr class='trbody'>
                    <td class="goods_info">
                         <img src="{php echo tomedia($g['thumb'])}">
                    </td>
                    <td valign='top'  style='border-left:none;text-align: left;/*width:400px*/;'  >
                        {$g['title']}{if !empty($g['optiontitle'])}<br/><span class="label label-primary sizebg">{$g['optiontitle']}</span>{/if}
                        <br/>{$g['goodssn']}
                    </td>
                    <td style='border-left:none;text-align:left;/*width:150px*/'>{if $request['plugin'] != "fund"}原价: {php echo number_format( $g['price']/$g['total'],2)} {/if}<br />应付: {php echo number_format($g['realprice']/$g['total'],2)}
        <br/>数量: {$g['total']}
                    </td>

                    {if $k==0}
                    <td rowspan="{php echo count($item['goods'])}" >
                         {ifp 'member.member.edit'}
                         <a href="{php echo $this->createWebUrl('member/list',array('op'=>'detail', 'id'=>$item['mid']))}"> {$item['nickname']}</a>
                         {else}
                             {$item['nickname']}
                             {/if}

                             <br/>
                        {$item['addressdata']['realname']}<br/>{$item['addressdata']['mobile']}</td>
                    <td rowspan="{php echo count($item['goods'])}"    >

                    </td>
                    <td  rowspan="{php echo count($item['goods'])}" style='width:18%;'>
                        <table style='width:100%;'>
                            <tr>
                                <td  style='border:none;text-align:right;'>商品小计：</td>
                                <td  style='border:none;text-align:right;;'>￥{php echo number_format( $item['goodsprice'] ,2)}</td>
                            </tr>




                        <tr>
                                <td style='border:none;text-align:right;'>应收款：</td>
                                <td  style='border:none;text-align:right;color:green;'>￥{php echo number_format($item['price'],2)}</td>
                            </tr>
            {if empty($item['statusvalue'])}
                            <tr>
                                <td style='border:none;text-align:right;'></td>
                                    {if $item['ischangePrice'] == 1}
                                        <td  style='border:none;text-align:right;color:green;'>
                                            <a href="javascript:;" class="btn btn-link " onclick="changePrice('{$item['id']}')">修改价格</a>
                                        </td>
                                    {/if}
                            </tr>
                            {/if}
                        </table>



                    </td>
                    <td   rowspan="{php echo count($item['goods'])}" ><label class='label label-{$item['statuscss']}'>{$item['status']}</label><br />
                    <a href="{php echo $this->createWebUrl('order', array('op' => 'detail', 'id' => $item['id'], 'plugin' => $request['plugin'], 'openid' => $request['openid']))}">查看详情</a></td>
                     <td   rowspan="{php echo count($item['goods'])}" width="10%">
                    {template 'web/order/ops'}
                     </td>
            {/if}
        </tr>

    {/loop}
        <tr>
            <td colspan="4">

            </td>

        </tr>
   </table>
{/loop}

<div id="pager"></div>
</div>
</div>
<script language="javascript">


    function send(btn){
        var modal =$('#modal-confirmsend');
        var itemid = $(btn).parent().find('.itemid').val();
            modal.find(':input[name=id]').val( itemid );
            var addressdata  = eval('(' +$(btn).parent().find('.addressdata').val()+')');
            modal.find('.realname').html(addressdata.realname);
            modal.find('.mobile').html(addressdata.mobile);
            modal.find('.address').html(addressdata.address);
    }
    $(function () {
        $.ajax({
            url: window.location.href,
            type: 'post',
            success: function (serverData) {
                if(serverData){
                    eval("var data=" + serverData + "");
                    $("#pager").html(data.result.pager);
                    $("#total").html(data.result.total);
                    $("#totalmoney").html(data.result.totalmoney);
                }
            }
        })
        $('#export').click(function(){
            $('#form_p').val("exportOrder");
            $('#form1').submit();
            $('#form_p').val("list");
        });
        $('.select2').select2({
            search: true,
            placeholder: "请选择门店",
            allowClear: true
        });
    });
    function sendagent(btn){
        var modal =$('#modal-changeagent');
        var itemid = $(btn).parent().find('.itemid').val();
        modal.find(':input[name=id]').val( itemid );
    }
</script>

         {template 'web/order/modals'}

        {template 'web/_footer'}
