{if empty($order['statusvalue'])}
    <!--未付款-->
        <a class="btn btn-primary btn-sm disbut"
           href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmpay','id' => $order['id']))}"
           onclick="return confirm('确认此订单已付款吗？');return false;">确认付款</a>

{elseif $order['statusvalue'] == 1}
        <!--已付款-->

    {if !empty($order['addressid']) && $order['isverify'] !=1 }
        <!--快递 发货-->
            <div>
                {if $order['confirmsend']}
                <input class='addressdata' type='hidden' value='{php echo json_encode($order['addressdata'])}' />
                <input class='orderid' type='hidden' value="{$order['id']}"/>
                <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal"
                   data-target="#modal-confirmsend">确认发货</a>
                {/if}
            </div>
    {/if}
{elseif $order['statusvalue'] == 2}
    <!--已发货-->
    {if !empty($order['addressid'])}
    <!--快递 取消发货-->
        <a class="btn btn-danger btn-sm disbut" href="javascript:;"
           onclick="$('#modal-cancelsend').find(':input[name=id]').val('{$order['id']}')" data-toggle="modal"
           data-target="#modal-cancelsend">取消发货</a>
        <a class="btn btn-primary btn-sm disbut"
           href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'finish','id' => $order['id']))}"
           onclick="return confirm('确认订单收货吗？');return false;">确认收货</a>
    {/if}
{/if}
