{if empty($order['status'])}
    <!--未付款-->
    {ifp 'order.op.pay'}
        {if $order['paytypevalue']==3}
        <div>
            <input class='addressdata' type='hidden' value='{php echo json_encode($order[' addressdata'])}' />
            <input class='itemid' type='hidden' value="{$order['id']}"/>
            <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal"
               data-target="#modal-confirmsend">确认发货</a>
        </div>
        {else}
        {if empty($perm_role)}
        <a class="btn btn-primary btn-sm disbut"
           href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmpay','id' => $order['id']))}"
           onclick="return confirm('确认此订单已付款吗？');return false;">确认付款</a>
        {else}
        <a class="label label-default">等待付款</a>
        {/if}
        {/if}

    {/if}

{elseif $order['status'] == 1}
        <!--已付款-->

    {if !empty($order['address_id']) && $order['is_verify'] !=1 }
        <!--快递 发货-->
        {ifp 'order.op.send'}
            <div>
                {if $order['confirmsend']}
                <input class='addressdata' type='hidden' value='{php echo json_encode($order['addressdata'])}' />
                <input class='itemid' type='hidden' value="{$order['id']}"/>
                <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal"
                   data-target="#modal-confirmsend">确认发货</a>
                {/if}
            </div>
        {/if}
    {else}
        {if $order['is_verify']==1 && !empty($order['address_id'])}
        <!--核销 确认核销-->
            {ifp 'order.op.verify'}
            <div>
                <input class='addressdata' type='hidden' value='{php echo json_encode($order['addressdata'])}' />
                <input class='itemid1' type='hidden' value="{$order['id']}"/>
                <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send1(this)" data-toggle="modal"
                   data-target="#modal-confirmsend1">确认核销</a>
            </div>
            {/if}
        {else}
            <!--自提 确认取货-->
            {ifp 'order.op.fetch'}
            <a class="btn btn-primary btn-sm disbut"
               href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmsend1','id' => $order['id']))}"
               onclick="return confirm('确认取货吗？');return false;">确认取货</a>
            {/if}
        {/if}

    {/if}
{elseif $order['status'] == 2}
    <!--已发货-->
    {if !empty($order['address_id'])}
    <!--快递 取消发货-->
        {ifp 'order.op.sendcancel'}
        <a class="btn btn-danger btn-sm disbut" href="javascript:;"
           onclick="$('#modal-cancelsend').find(':input[name=id]').val('{$order['id']}')" data-toggle="modal"
           data-target="#modal-cancelsend">取消发货</a>
        {/if}
        {ifp 'order.op.finish'}
        {if empty($perm_role)}
        <a class="btn btn-primary btn-sm disbut"
           href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'finish','id' => $order['id']))}"
           onclick="return confirm('确认订单收货吗？');return false;">确认收货</a>
        {else}
        <a class="btn btn-danger btn-sm disbut">等待收货</a>
        {/if}
        {/if}
    {/if}
<!-- 补发红包 -->
{elseif $order['status'] == 3}
    {if !empty($order['redstatus'])}
    <a class="btn btn-danger btn-sm disbut"
       href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'redpack','id' => $order['id']))}"
       onclick="return confirm('确认发送红包吗？');return false;">补发红包</a>
    <a>{$order['redprice']}元</a>
    {/if}
{/if}
