  {if empty($item['statusvalue'])}
                             <!--未付款-->
				  
                                {ifp 'order.op.pay'}
				{if $item['paytypevalue']==3}
				<div>
					   <input class='addressdata' type='hidden' value='{php echo json_encode($item['addressdata'])}'  />
                                        <input class='itemid'  type='hidden' value="{$item['id']}"  />
                                         <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-confirmsend">确认发货</a>
										 </div>
				{else}
                                <!-- <a class="btn btn-primary btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmpay','id' => $item['id']))}" onclick="return confirm('确认此订单已付款吗？');return false;">确认付款</a> -->
                               {/if}
							   
                                {/if}
                            
                            {elseif $item['statusvalue'] == 1}
                               <!--已付款-->
                            
                                {if !empty($item['addressid']) }
                                      <!--快递 发货-->
                                        {ifp 'order.op.send'}
                                        <div>
                                        <input class='addressdata' type='hidden' value='{php echo json_encode($item['addressdata'])}'  />
                                        <input class='itemid'  type='hidden' value="{$item['id']}"  />
                                        <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-room">确认订单</a>
                                        </div>
                                        {/if}
                                {else}
                                        {if $item['isverify']==1}
                                            <!--核销 确认核销-->
                                             {ifp 'order.op.verify'}
                                             <div>
                                              <input class='addressdata' type='hidden' value='{php echo json_encode($item['addressdata'])}'  />
                                              <input class='itemid1'  type='hidden' value="{$item['id']}"  />
                                                 <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send1(this)" data-toggle="modal" data-target="#modal-confirmsend1">确认核销</a>
                                             </div>    
                                             {/if}
                                        {else}
                                            <!--自提 确认取货-->
                                              {ifp 'order.op.fetch'}
                                                 <a class="btn btn-primary btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'confirmsend1','id' => $item['id']))}" onclick="return confirm('确认取货吗？');return false;">确认入住</a>
                                            {/if}
                                        {/if}
                                
                                {/if}
                                
                            
                            {elseif $item['statusvalue'] == 2}
                                       <!--已发货-->
                                {if !empty($item['addressid'])}
                                 <!--快递 取消发货-->
                                      <a class="btn btn-danger btn-sm disbut" href="javascript:;" onclick="$('#modal-cancelsendroom').find(':input[name=id]').val('{$item['id']}')" data-toggle="modal" data-target="#modal-cancelsendroom">取消入住</a>
                                
                                       <a class="btn btn-primary btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'sendin','id' => $item['id']))}" onclick="return confirm('确认订单入住吗？');return false;">确认入住</a>
                              
                                 
                                {/if}
                            <!-- 补发红包 -->
                            {elseif $item['statusvalue'] == 3}
                                {if !empty($item['redstatus'])}
                                    <a class="btn btn-danger btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'redpack','id' => $item['id']))}" onclick="return confirm('确认发送红包吗？');return false;">补发红包</a>
                                    <a>{$item['redprice']}元</a>
                                {/if}  
                                {if $item['order_type']=='3' && $item['returndepositprice'] =='0'}      
                                  <input class='itemid'  type='hidden' value="{$item['id']}"/>                                                       
                                  <a class="btn btn-primary btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-depositprice">退押金（在线付）</a>
                                  <a class="btn btn-danger btn-sm disbut" href="javascript:;" onclick="send(this)" data-toggle="modal" data-target="#modal-depositprice">退押金（前台付）</a>
                                  <a>已付：{$item['depositprice']}元</a>
                                {/if} 
                           
                           {elseif $item['statusvalue'] == 6}
                                  {ifp 'order.op.finish'}
                                       <a class="btn btn-primary btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'finish','id' => $item['id']))}" onclick="return confirm('确认正常退房吗？');return false;">正常退房</a>                              
                                   {/if}
                                   {ifp 'order.op.abnormalroom'}
                                       <a class="btn btn-danger btn-sm disbut" href="{php echo $this->createWebUrl('order', array('op' => 'deal','to'=>'abnormalroom','id' => $item['id']))}" onclick="return confirm('确认异常退房吗？');return false;">异常退房</a>                              
                                   {/if}
                            {/if}

