<div class="ulleft-nav">
<div class="addtit-name">{$lang['orderlist']}</div>
<ul class="nav nav-tabs" >
    <li {if $this->controller='index'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'index'))}">全部订单<em>({$totals['index']})</em></a>
    </li>


        <a href="{php echo $this->createWebUrl('order', array('op' => 'waitPay'))}">待付款<em>({$totals['waitPay']})</em></a>
    </li>

    <li >
        <a href="{php echo $this->createWebUrl('order', array('op' => 'waitSend'))}">待发货<em>({$totals['waitSend']})</em></a>
    </li>

    <li >
        <a href="{php echo $this->createWebUrl('order', array('op' => 'waitReceive'))}">待收货<em>({$totals['waitReceive']})</em></a>
    </li>

    <li>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'complete'))}">已完成<em>({$totals['complete']})</em></a>
    </li>

    <li>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'close'))}">已关闭<em>({$totals['close']})</em></a>
    </li>

     <li>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'waitRefund'))}">退款申请<em>({$totals['waitRefund']})</em></a>
    </li>

    <li >
        <a href="{php echo $this->createWebUrl('order', array('op' => 'refund'))}">已退款<em>({$totals['refund']})</em></a>
    </li>
    <li>
        <a href="{php echo $this->createWebUrl('order', array('op' => 'applyWithdraw'))}">提现申请状态<em>({$totals['applyWithdraw']})</em></a>
    </li>
    <li class="active">
        <a href="#">订单详情</a>
    </li>
</ul>
</div>
