@charset"utf-8";
html{ height:100%;}
*{ margin:0 auto; padding:0; }
body{ color:#333; font-family:"微软雅黑"; font-size:12px; background:#fff; }
div{height:auto; }
ul, li{ list-style:none;}
img{ border:none; vertical-align:top;}
h1, h2, h3, h4, h5, h6{ font-size:14px;}
a{ color:#666; text-decoration:none;}
a:hover{ color:#ff0000; text-decoration:underline}
input, button, select{ font-size:12px; vertical-align:middle;}
textarea{ padding:5px;color:#333;}
table{ border:none;border-collapse:collapse;}

/*公共属性*/
.RMB{ /*font-family: Arial,Verdana,"宋体";*/}



/*清除浮动样式*/
.clear{ clear:both; height:0; width:100%;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{zoom: 1; clear:both;}

/*公共按钮1*/
a.btn-blue, a.btn-red, a.btn-White,
a.btn-blue i, a.btn-red i, a.btn-White i,
a.btn-Bneed,.btn-addcart, .btn-need{background: url(http://res.360kad.com/theme/default/img/2014NewWeb/btn-kad.png) no-repeat;}

a.btn-blue, a.btn-red, a.btn-White{display: inline-block; height: 28px; line-height: 28px; text-align: center;  color: #fff; border-radius: 4px; width: 66px; padding: 0px 5px; position: relative;}
a.btn-blue i, a.btn-red i, a.btn-White i{ position: absolute; right: 0; top: 0; width: 5px; height: 28px; background-position: -335px -608px; cursor: pointer;}

a.btn-blue{ background-position: 0px -608px;}
a:hover.btn-blue{ text-decoration: none; background-position: 0px -639px; color: #fff;}
a:hover.btn-blue i{ background-position: -335px -639px;}

a.btn-red{ background-position: 0px -672px;}
a.btn-red i{ background-position: -335px -672px;}
a:hover.btn-red{ text-decoration: none; background-position: 0px -704px; color: #fff;}
a:hover.btn-red i{ background-position: -335px -704px;}

a.btn-White{color: #666; background-position: 0px -736px;}
a:hover.btn-White{ text-decoration: none; background-position: 0px -768px;}
a.btn-White i{ background-position: -335px -736px;}
a:hover.btn-White i{ background-position: -335px -768px;}

a.btn-red.w114, a.btn-blue.w114, a.btn-White.w114{ width: 104px;}
a.btn-red.wb114{ font-size: 14px; width: 104px;}

.btn-need{ background-position:-210px -184px; width: 130px; height: 37px; border: none; cursor: pointer;}
a.btn-Bneed, .btn-addcart{ background-position: 0px -184px; width: 191px; height: 44px; display: block; height: 44px; }
a:hover.btn-Bneed{ background-position: 0px -240px;}
.btn-addcart{ background-position: -150px -96px; margin-left: 0px; overflow: hidden; text-indent: -200em; cursor: auto;}
.btn-Register{background: url(http://res.360kad.com/theme/default/img/2014NewWeb/btn-kad.png) 0px -520px no-repeat; width: 340px; height: 38px; font-size: 18px; font-family: "微软雅黑"; color: #fff;}
/*公共图标*/
.ico-tipsDui, .ico-tipsExc, .ico-tipsCuo{ background: url(http://res.360kad.com/theme/default/img/2014NewWeb/ico-kad.png) no-repeat; background-position: 0px -168px; display: inline; float: left; width: 24px; height: 24px;}
.ico-tipsExc{ background-position: 0px -200px;}
.ico-tipsCuo{ background-position: 0px -232px;}

/*公共分页*/
.YPagebox{ height: 30px; padding-top: 15px;}
.YPagebox .YPage{line-height: 28px; font-size: 14px; float: right; color: #959595; }
.YPagebox .Yp_tol{ float: left; padding-right: 10px;}
.YPagebox .Yp_num{ float: left;}
.YPagebox .Yp_num a{ color:#4484db; border:1px solid #e0e0e0; height: 26px; display: inline-block; line-height: 26px; padding: 0 10px; border-radius: 2px;}
.YPagebox .Yp_num i{ background: url(http://res.360kad.com/theme/default/img/2014NewWeb/ico_sj.jpg) repeat-x; display: inline-block; height: 10px;}
.YPagebox .Yp_num .disable{ cursor: default; color: #959595;}
.YPagebox .Yp_num a:hover.disable{ color: #959595;}
.YPagebox .Yp_num .on{ color: #ff0000; border-color: #ff0000;  cursor: default;}
.YPagebox .Yp_num a:hover{ text-decoration: none; color: #ff0000;}
.YPagebox .Yp_num a.Yfirst{ border:none;}
.YPagebox .Yp_num a.Ypre{ }
.YPagebox .Yp_num a.Ynext{ }
.YPagebox .Yp_num a.Ylast{ border:none;}
.YPagebox .Yp_num a.Yfirst i{ width: 10px; background-position: 0px -56px; margin-right: 5px;}
.YPagebox .Yp_num a.Ypre i{ width: 5px; background-position: 0px -56px; margin-right: 5px;}
.YPagebox .Yp_num a.Ynext i{ width: 5px; background-position: 0px -38px; margin-left: 5px;}
.YPagebox .Yp_num a.Ylast i{ width: 10px; background-position: 0px -38px; margin-left: 5px;}
.YPagebox .Yp_num a.Yfirst.disable i, .YPagebox .Yp_num a.Ypre.disable i{background-position: 0px -18px;}
.YPagebox .Yp_num a.Ynext.disable i, .YPagebox .Yp_num a.Ylast.disable i{background-position: 0px 1px;}
.YPagebox .Yp_tolp{ float: left;}
.YPagebox .Yp_skip{ float: left; padding-left: 10px;}
.YPagebox .Yp_skip em { float: left; font-size: 14px; line-height: 28px; font-style: normal;}
.YPagebox .Yp_skip .input-txt { float: left;  border: 1px solid #ccc; font-size: 14px; height: 26px; line-height: 24px; padding: 0px 5px; margin: 0 3px; text-align: center; width: 24px;}


/*弹出框公共部分*/
.PromptBox{ display: none; width:450px; margin:0 auto; position:absolute; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000'); background-color: rgba(102, 102, 102, 0.5); z-index:20; top:50%; left:50%; margin-top:-230px; margin-left:-219px; padding:7px;}
.PromptBox .BoxHead{padding-left:10px; height:36px; line-height:36px; padding-top:2px; background:#eee; color:#666666;}
.PromptBox .BoxHead .BoxTitle{ float:left; margin-right:10px; font-size:14px; font-weight: bold;}
.PromptBox .BoxHead a.go_close{float:right;  display:inline-block; margin:7px 7px 0px 0px; font-size: 24px; line-height: 20px; text-indent: -3px; width:18px; font-weight: bold; height:19px;}
.PromptBox .BoxHead a:hover.go_close{ background: #808080; color: #fff; text-decoration: none;}
.PromptBox .BoxBody{ background:#fff; min-height: 100px; height: auto;}
.PromptBox .Box-operate{ background: #fff; padding: 10px 10px; text-align: center;}

.PromptBox .BoxErrorTips{ display: none; border: 1px solid #e9c64e; background: #fdf8e3; position: absolute; left: 0; padding:0px 10px; line-height: 30px; margin-top: -30px; color: #ff3f3f;}
.PromptBox .BoxErrorTips i{background:url(http://res.360kad.com/theme/default/img/2014NewWeb/login_ico.jpg) no-repeat -28px -76px; position:absolute; width:10px; height:7px; bottom:0px; left: 5px; margin-bottom: -6px; }
/*温馨提示*/
.Box-tips{ width: 400px; z-index: 90;}
.Box-tips .Bcon{ position: relative; padding: 20px 30px 20px 60px; line-height: 24px; font-size: 14px;}
.Box-tips .ico-tipsDui, .Box-tips .ico-tipsExc, .Box-tips .ico-tipsCuo{ position: absolute; left: 30px; top: 20px;}
.Box-tips .Bcon a{ color: #2d8ef3;}
.Box-tips .Box-operate a{ float: right; margin-left: 10px; }
/*详细信息*/

/*取消订单确认*/
.Box-cancelOrder{ width: 460px;}
.Box-cancelOrder .Bdes{ padding: 15px 20px; font-size: 14px; line-height: 24px;}
.Box-cancelOrder .Blist{ padding: 0px 10px 0px 20px;}
.Box-cancelOrder .Blist dd{ float: left; width: 100px; padding-bottom: 10px;}
.Box-cancelOrder .Blist dd.last{ float: left; width: 120px;}
/*处方药搜索列表*/
.Box-druglist{ width: 600px;}
.Box-druglist .Bsearch{ padding: 20px 0px 20px 30px;}
.Box-druglist .Bsearch .header_search{}
.Box-druglist .Blist{}
.Box-druglist .Blist table{ width: 100%; border-collapse: collapse;}
.Box-druglist .Blist table col.td-name{ width: 40%;}
.Box-druglist .Blist table col.td-spec{ width: 20%;}
.Box-druglist .Blist table col.td-Factory{ width: 30%;}
.Box-druglist .Blist table col.td-operate{ width: 10%;}
.Box-druglist .Blist table td{ text-align: center; color: #666;}
.Box-druglist .Blist thead tr.tr-tit{ background: #f7f7f7; height: 32px;}
.Box-druglist .Blist tbody td{ height: 30px;}
.Box-druglist .Blist table tr.tr-line{ height: 5px;}
.Box-druglist .Blist table tbody td.td-name{ text-align: left; padding-left: 10px;}
.Box-druglist .Blist table tbody tr.no td{ color: #999;}
.Box-druglist .Blist .YPagebox{ padding-top: 0px; height: 40px; padding-right: 20px;}
#findContent  ul li {font-family:"Microsoft YaHei";}
/*到货通知*/
.Box-daohuo{}
.Box-daohuo .BoxBody{ padding: 20px;}
.Box-daohuo .BoxBody .Bdes{ color: #666666;}
.Box-daohuo .BoxBody .Blist{}
.Box-daohuo .BoxBody .Blist dt{ float: left; width: 64px; padding-top: 20px; line-height: 32px; color: #999;}
.Box-daohuo .BoxBody .Blist dd{ float: left; width: 340px; padding-top: 20px; position: relative;}
.Box-daohuo .BoxBody #phone-input, .Box-daohuo .BoxBody #mail-input, .Box-daohuo .BoxBody #input1
{ border: 1px solid #bbbbbb; color: #999; height: 30px; line-height: 30px; padding-left: 10px; width: 300px;}
.Box-daohuo .BoxBody #input1 {width: 120px;}
.Box-daohuo .BoxBody #checkCode { border: 0 none; color: #ff0000; font-size: 18px; font-weight: bold; height: 20px; line-height: 20px; padding-left: 10px;}
.Box-daohuo .Box-operate{ padding: 0px 0px 20px;}
/*订单信息*/
.Box-dindan{ width: 560px;}
.Box-dindan .BoxBody{ padding: 20px 20px 10px;}
.Box-dindan .Blist dt{ float: left; height: 32px; line-height: 32px; width: 70px; padding: 10px 0px; text-align: right; color: #999;}
.Box-dindan .Blist dt.quyu{ padding: 0px;}
.Box-dindan .Blist dt.fapiao{ width: 89px;}
.Box-dindan .Blist dd.quyu{ padding: 0px;}
.Box-dindan .Blist dd{ height: 32px; padding: 10px 0px;}
.Box-dindan .Blist dd input.txt{ border: 1px solid #bfbfbf; height: 30px; width: 160px; padding: 0px 10px; color: #999999;}
.Box-dindan .Blist dd input.txtadress{ width: 400px;}
.Box-dindan .Blist dd select{ width: 100px; margin: 6px 0px 0px; height: 22px; border: 1px solid #bfbfbf; padding-left: 5px;}
.Box-dindan .Blist dt.fapiao .checkbox-moni i{ top: 10px;}

/*注册会员*/
.Box-register{}
.Box-register .BoxBody .Blist{}

/*注册start*/
.Box-register .Blist{ color: #949393; padding:8px 55px 20px;}
.Box-register .BoxBody a{ color: #4484db;}
.Box-register .Blist .import_class{ position: relative; z-index: 0; height: 65px;}
.Box-register .Blist .txtClass .pl5{ color: #333;}
.Box-register .Blist .txtClass{}
.Box-register .Blist .txtClass_l{ padding: 10px 0px 0px; height: 20px; display: block;}
.Box-register .Blist .txtClass_l .Bmore{ float: right;}
.Box-register .Blist .txtClass input{width: 305px; overflow: hidden; height: 24px; line-height: 24px; padding: 3px 30px 3px 3px; outline: none; border: solid 1px #d9d9d9; color: #c1c1c1; margin-left: 0px;}
.Box-register .Blist .import_class .p_error input{ border: solid 1px #ff0000; color: #ff0000;}
.Box-register .Blist .txtClass .input_hover { border: solid 1px #38a7e1; color: #333;}
.Box-register .Blist .change_one { padding-left: 10px;}
.Box-register .Blist .cbxClass{ padding: 20px 0px 5px;}
.Box-register .Blist .txt_icon{ background-image: url(http://res.360kad.com/theme/default/img/img/login_icon1_bg.png);
            background-repeat: no-repeat; width: 20px; height: 16px; position: absolute; right: 10px; _right: 0px; top: 38px; display: none;}
.Box-register .txt_yanz .txt_icon{ right: 235px;}
.Box-register .Blist .txt_right { background-position: 0 0;}
.Box-register .Blist .txt_error { background-position: 0 -24px; }
.Box-register .Blist .btnclass input{ cursor: pointer; height: 38px; width: 340px; border: none;}
.Box-register .Blist .btnclass_hover input{ background-position: 0 -178px;}
.Box-register .more_login{ color: #999; padding-bottom: 10px; }
.Box-register .Blist .txtClass input.txtcode{ width: 78px;}
.Box-register #UserEmail{ color: #999; }
.Box-register .pb5{ padding-left: 5px;}
.Box-register .wright ul{font-weight: normal; padding-top: 15px;}
.Box-register .txtWarn, .Box-register .txtError{ border: 1px solid #e9c64e; background: #fdf8e3; position: absolute; left: 0; padding:0px 10px; line-height: 30px; margin-top: -63px; color: #ff3f3f; }
.Box-register .txtWarn i, .Box-register .txtError i{background:url(http://res.360kad.com/theme/default/img/2014NewWeb/login_ico.jpg) no-repeat -28px -76px; position:absolute; width:10px; height:7px; bottom:0px; left: 5px; margin-bottom: -6px; }
        /*注册end*/







/*新登录框start*/
.showLogOrReg{ display: none; width:438px; margin:0 auto; position:absolute; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#80000000', EndColorStr='#80000000'); background-color: rgba(102, 102, 102, 0.5); z-index:20; top:50%; left:50%; margin-top:-230px; margin-left:-219px; padding:7px;}
.showLogOrReg .wright{width:438px;  background:#fff; color:#858484;  }
.showLogOrReg .LoginError{ margin-left:50px; color:#FF0000; display:none;}
.showLogOrReg .wright_t{padding-left:10px; height:36px; line-height:36px; padding-top:2px; background:#eee; color:#666666;}
.showLogOrReg .wright_t span{display:block; float:left; margin-right:10px; font-size:12px; cursor:pointer;}
.showLogOrReg .wright_t span.selthis{font-weight:bold; font-size:16px;}
.showLogOrReg .wright_t a.go_close{float:right;  display:inline-block; margin:7px 7px 0px 0px; background:url(http://res.360kad.com/theme/default/img/2014NewWeb/login_ico.jpg) no-repeat 0px -94px; width:19px; height:19px;}
.showLogOrReg .wright_t a:hover.go_close{ background-position:-35px -94px;}
.showLogOrReg .wright_m .import_class{position:relative; z-index:8; width:340px; }
.showLogOrReg .wright_m .pt10{padding:23px 0px 0px;  font-size:12px; line-height:18px; color:#999; height:18px;} 
.showLogOrReg .wright_m .txtClass input{width:332px; height:30px; line-height:30px; padding:0 3px; outline:none; overflow:hidden; border:solid 1px #bbbbbb; background-color:#fff;}
.showLogOrReg .UserPasswordtxt{width:332px; height:30px; line-height:30px; padding:0 3px; outline:none; overflow:hidden; border:solid 1px #bbbbbb; background-color:#fff; display:inline-block; position:absolute; bottom:0;} 
.showLogOrReg .wright_m .txtClass .input_hover{border:solid 1px #38a7e1;}
.showLogOrReg .wright_m .txtClass .input_error{color:#ff0000;border:1px solid #ff0000;}
.showLogOrReg .wright_m .forget_ps, .wright_m .Register_ps{font-size:12px; font-weight:normal; float:right;}
.showLogOrReg .wright_m .forget_ps a{ color:#999999;}
.showLogOrReg .wright_m .Register_ps a{ color:#4484db;}
.showLogOrReg .wright_m .cbxClass{padding:38px 0 10px; line-height:12px;}
.showLogOrReg .wright .p_input{position:relative; z-index:1; background:#fff;}
.showLogOrReg #UserEmail{color:#999;}
.showLogOrReg .wright .txt_icon{background-image:url(http://res.360kad.com/theme/default/img/img/login_icon1_bg.png); background-repeat:no-repeat; width:20px; height:16px; position:absolute; right:5px; top:9px; display:none;}
.showLogOrReg .wright .txt_right{background-position:0 0;}
.showLogOrReg .wright .txt_error{background-position:0 -24px;}
.showLogOrReg .wright_m .btnclass{padding-bottom:18px;}
.showLogOrReg .wright_m .btnclass .btncss{background:#4a9bef; border-radius:5px; color:#FFFFFF; width:340px; height:37px; font-size: 18px; font-family: "微软雅黑";}
.showLogOrReg .wright_m .btnclass .btncss_hover{background-position:0 -45px;}
.showLogOrReg .wright_m .btnclass input, .wright_m .btnclass img{background:url(http://res.360kad.com/theme/default/img/img/logreg_bg_2.png) no-repeat -238px 0; cursor:pointer; height:32px; width:102px; border:none;}
.showLogOrReg .wright_m .btnclass a{margin-left:6px; color:#cf0000; }
.showLogOrReg .wright_m .btnclass a img{background-position:-443px 0; width:14px; height:14px; vertical-align:middle;}
.showLogOrReg .more_login{color:#999; padding-bottom:10px;}
.showLogOrReg .wright_m .txtClass input.txtcode{width: 130px;}

.showLogOrReg .log_user_other{overflow:hidden; padding-bottom:10px;}
.showLogOrReg .log_user_other span{}
.showLogOrReg .log_user_other a{background:url(http://res.360kad.com/theme/default/img/2014NewWeb/login_ico.jpg) no-repeat; float:left; margin-right:20px; width:32px; height:32px; width:32px; display:inline-block;}
.showLogOrReg .log_user_other a:hover{}
.showLogOrReg .wright_m{padding:10px 0px;}
.showLogOrReg .log_user_other a.l_qq{}
.showLogOrReg .log_user_other a.l_xinlang{ background-position:-47px 0px;}
.showLogOrReg .log_user_other a.l_alipay{ background-position:-94px 0px;}
.showLogOrReg .log_user_other a.l_taobao{ background-position:-141px 0px;}
.showLogOrReg .log_user_other a:hover.l_qq{ background-position:0px -33px;}
.showLogOrReg .log_user_other a:hover.l_xinlang{ background-position:-47px -33px;}
.showLogOrReg .log_user_other a:hover.l_alipay{ background-position:-94px -33px;}
.showLogOrReg .log_user_other a:hover.l_taobao{ background-position:-141px -33px;}
.showLogOrReg .log_user_other a.l_renren{}
.showLogOrReg .log_user_other a.l_neteaseLogin{}
.showLogOrReg .log_user_other a.l_kaixinLogin{}
.showLogOrReg .log_user_other a.l_doubain{}
.showLogOrReg .pb5{padding-left:5px; color:#999;}
.showLogOrReg .p_help{padding-top:10px; margin:10px 18px 6px; _margin:25px 18px 0; text-align:center; border-top:1px dashed #e1e1e1; clear:both;}


.showLogOrReg .txtWarn{border:solid 1px #e9c64e; height:30px; display:none; clear:both; line-height:30px; width:299px; padding-left:10px; background-color:#fdf8e3;color:#ff0000; position:absolute; z-index:10; top:10px; width: 200px;}
.showLogOrReg .txtError{ display:none; border:solid 1px #e9c64e; height:30px; line-height:30px; clear:both;  padding:0px 10px; background-color:#fdf8e3; color:#ff0000; position:absolute; z-index:10; top:10px; *top:10px; _top:10px; left:0px;}
.showLogOrReg .txtError1{top:10px; *top:10px; _top:10px;}
.showLogOrReg .txtError_ico{background:url(http://res.360kad.com/theme/default/img/2014NewWeb/login_ico.jpg) no-repeat -28px -76px; position:absolute; width:10px; height:7px; bottom:0px; left: 5px; margin-bottom: -6px; }

.wright_m .import_class, .wright_m .cbxClass, .wright_m .btnclass, .more_login, .log_user_other{ margin-left:50px;}
.log_help{ margin-left:35px; border-top:1px dashed #dddddd; color:#999999; padding:10px 15px;}
.log_help b{ color:#666666; padding:0px 5px;}

.mailListBox{border:1px solid #e0e0e0; border-top:0; background-color:#fff; width:338px; position:absolute; z-index:9999; top:32px; left:0; display:none;}
.mailListBox ul{padding:0; margin:0;}
.mailListBox li{zoom:1;overflow:hidden;padding:0 3px; margin:0; border-top:1px solid #e0e0e0; list-style:none; font-size:12px; font-family:Arial,Helvetica,sans-serif; line-height:24px; cursor:pointer; color:#999999;}
.mailListBox li.hover{background-color:#e0e0e0; color:#035cc1;}
.mailListBox li.current{background-color:#C1D5EB; color:#035cc1;}

/*checkbox radio模拟*/
 .checkbox-moni i, .checkbox-moni2 i, .radio-moni i,
 .checkbox-moni i.on, .checkbox-moni2 i.on, .radio-moni i.on{ background: url(http://res.360kad.com/theme/default/img/2014NewWeb/ico-kad.png) no-repeat; }

 .checkbox-moni, 
 .checkbox-moni2, 
 .radio-moni{ display: inline-block; *display: inline; *zoom: 1; position: relative; height: 12px; padding-left: 20px; }

 .checkbox-moni i, .checkbox-moni2 i, .radio-moni i{ position: absolute; left: 0; top: 0px; display: block; width: 12px; height: 12px; background-position: 0px -312px; }
 .checkbox-moni2 i {background-position: 0px -344px;}
 .radio-moni i {background-position: 0px -328px; height: 14px; width: 14px;}

 .checkbox-moni input, .checkbox-moni2 input, 
 .radio-moni input { display: block; width: 12px; height: 12px; filter: alpha(opacity=0); opacity: 0; }

 .checkbox-moni i.on{ background-position: -16px -312px; }
 .checkbox-moni2 i.on {background-position: -16px -344px;}
 .radio-moni i.on { background-position: -16px -328px; }

 .checkbox-moni b, .checkbox-moni2 b, 
 .radio-moni b { display: block; font-weight: normal; line-height: 12px; color: #303030; font-size: 12px; }
 



/*右侧导航20140708*/
	.fixed_navigation{position:fixed;right:-264px;top:0;z-index:999;width: 300px;height: 100%;background: #ebebeb;}
	.fixed_navigation .navi_left{position:relative;padding-top: 144px;float:left;width: 36px;height:100%;background-color: #2d8ef3;}
	.fixed_navigation .commonWidth,.fixed_navigation .online_kefu{position:relative;margin-top: 8px;width: 36px;height: 32px;text-align: center;background: url(../images/tm_icons.png) no-repeat;cursor: pointer;}
	.fixed_navigation .online_kefu{height: 42px;background: url(http://res.360kad.com/theme/default/img/2014newKad/zx_kf01.gif) no-repeat center center;}
#nav_closeBtn{display:none;position:absolute;top:8px;left:10px;width: 15px;height: 16px;background: url(http://res.360kad.com/theme/default/img/2014newKad/close_btn024.png) no-repeat;cursor: pointer;}
/*购物车*/
.fixed_navigation .cart_box{position:relative;margin-top: 50px;width: 36px;height: 129px;background-position:-36px 0px;}
.fixed_navigation .cart_box_hover{background-color: #0066d4;}
.fixed_navigation .cart_box span{display:block;position: absolute;bottom:11px;right:8px;width: 20px;height: 22px;line-height:22px;text-align:center;color:#fff;font-family:"Arial";}
/*我的收藏*/
.fixed_navigation .Favorites{background-position:-72px 0px;}
.fixed_navigation .Favorites_hover{background-position: -72px 0px;background-color: #0066d4;}
/*最近浏览*/
.fixed_navigation .view_soon{background-position:-108px 0px;}
.fixed_navigation .view_soon_hover{background-position:-108px 0px;background-color: #0066d4;}
/*最近购买*/
.fixed_navigation .order_current{background-position: -144px 0px;}
.fixed_navigation .order_current_hover{background-position: -144px 0px;background-color: #0066d4;}
	/*热门促销*/
	.fixed_navigation .hot_cxBox,.fixed_navigation .online_kefu,.fixed_navigation .sh_phoneNum,.fixed_navigation .web_chat,.fixed_navigation .sm_order,.fixed_navigation .view_soon,.fixed_navigation .order_current,.fixed_navigation .sm_two_order,.fixed_navigation .cart_order{position:relative;z-index:1;}
	.fixed_navigation .hot_cxBox .container,.fixed_navigation .online_kefu_container,.fixed_navigation .sh_phoneNum .sh_phoneNum_container,.fixed_navigation .web_chat .web_chat_container,.fixed_navigation .sm_two_order_container,.fixed_navigation .cart_order_container,.fixed_navigation .sm_order .sm_order_container{display:none;position:absolute;right:44px;top:0;width: 268px;height: 224px;border: 1px solid #898989;box-shadow: -1px 1px 3px #c7c7c7;background:#fff;}
	.fixed_navigation .hot_cxBox .pointer,.online_kefu .pointer,.fixed_navigation .sh_phoneNum .pointer,.fixed_navigation .web_chat .pointer,.fixed_navigation .sm_two_order .pointer,.fixed_navigation .cart_order .pointer,.fixed_navigation .sm_order .pointer{display:none;position:absolute;top:26px;right:36px;z-index:2;
		width: 9px;height: 13px;background: url(http://res.360kad.com/theme/default/img/new_navigation/fixed_navigation_bgs.gif) no-repeat 0 -48px;}
	
	
	/*在线客服*/
	.fixed_navigation .online_kefu_container{padding:2px 2px 8px;width: 166px;height:auto;line-height: 24px;background:#fff;}
	.fixed_navigation .online_kefu .pointer{top:15px;}
	.fixed_navigation .online_kefu_container .top,.fixed_navigation .sh_phoneNum .top,.fixed_navigation .cart_order_container .top{padding-left: 12px;height: 26px;line-height:26px;background:#2d8ef3;text-align:center;font-size:14px;color:#fff;text-align:center;}
	.fixed_navigation .online_kefu_container .p46{padding:2px 6px 0;text-align: left;color:#959595;}
	.fixed_navigation .online_kefu_container .plr6{padding:8px 6px 0;}
	.fixed_navigation .online_kefu_container .pt8{padding-top:8px;text-align: left;color:#959595;}
	.fixed_navigation .online_kefu_container .borB{padding-bottom: 6px;width: 142px;border-bottom: 1px dashed #ccc;}
	.fixed_navigation .w142{width: 142px;}
	/*扫码下单*/
	.fixed_navigation .Favorites .Favorites_container img{width: 140px;height: 140px;}
	.fixed_navigation .view_soon_container,.Favorites_container,.fixed_navigation .order_current .order_current_container{display:none;position:absolute;top:0;right:66px;opacity:0;filter:alpha(opacity=0);width: 104px;height: 32px;line-height: 32px;background:#fd951a;}
	.fixed_navigation .view_soon .pointer,.fixed_navigation .order_current .pointer,.fixed_navigation .Favorites .pointer{position:absolute;top:10px;right:60px;width: 0;height: 0;line-height: 0;font-size:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid #fd951a;opacity:0;filter:alpha(opacity=0);}
	.fixed_navigation .Favorites a,.fixed_navigation .view_soon a,.fixed_navigation .order_current a,.fixed_navigation .sm_order a:hover,.fixed_navigation .view_soon a:hover,.fixed_navigation .order_current a:hover{
		color:#fff;text-decoration: none;
	}
	/*二维码下单*/
	.fixed_navigation .sm_two_order{margin-top: 60px;background-position:-216px 0px;}
	.fixed_navigation .sm_two_order_hover{background-position:-216px 0px;background-color: #0066d4;}
	.fixed_navigation .sm_two_order .pointer{top:13px;}
	/* .fixed_navigation .sm_two_order_container{top:-120px;padding:2px;width: 120px;height: 160px;} */
	.fixed_navigation .sm_two_order_container{height:auto;width:138px;top:auto;bottom:-150px;height:390px;}
	.fixed_navigation .sm_two_order .pointer,.fixed_navigation .cart_order .pointer{top:10px;}
	/*购物车商品展示*/
	.cart_lists_show{display:none;line-height: 30px;}
	.cart_lists_show  a,.cart_lists_show  a:hover{color:#515151;}
	.cart_lists_show .cart_top{display:none;text-align: right;padding-right: 10px;}
	.cart_lists_show ul li{padding-right:10px;margin-bottom: 9px;border-bottom:1px solid #e6e6e6;background: #fff;overflow: hidden;}
	#cart_lists_show ul li{position:relative;}
	*+html .cart_lists_show ul li{margin-top: -2px;}
	.cart_lists_show .pro_t{padding-left: 10px;border-bottom:1px dashed #ededed;}
	#go_buyAgain .pro_t{padding-left: 0;}
	.cart_lists_show .pro_t a,.cart_lists_show .pro_t .tcTitle{float:left;width: 160px;height: 30px;cursor:pointer;overflow: hidden;}
	.cart_lists_show .pro_price{float:right;color: #959595;font-family:"arial";}
	.cart_lists_show .zengPin{float: left;padding-left: 10px;width: 230px;height: 22px;line-height:22px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
	.cart_lists_show ul li .yhMsg{float: left;padding-left: 10px;width: 230px;height: 30px;overflow:hidden;color: #959595;white-space: nowrap;text-overflow:ellipsis;}
	.cart_lists_show ul li .pic_show{display: inline;margin-left: 10px;}
	.cart_lists_show ul li .pic_show,.cart_lists_show .pic_show img{float:left;width: 70px;height: 70px;}
	.cart_lists_show ul li .pro_box{float:left;position:relative;width: 254px;padding: 10px 0;}
	.cart_lists_show ul li .changeNum{display:inline;margin-left: 40px;float:left;width: 134px;line-height:20px;}
	.cart_lists_show ul li .changeNum p{float:left;width: 134px;height: 20px;text-align: left;line-height:20px;overflow: hidden;font-family: arial;}
	.cart_lists_show ul li .changeNum p.pb4{padding-bottom: 4px;}
	.cart_lists_show ul li .changeNum span{display:block;width: 20px;height: 20px;cursor: pointer;color:#d0d0d0;font-family:"Arial";font-size: 14px;}
	.cart_lists_show ul li .changeNum span,.cart_lists_show ul li .changeNum input{float:left;text-align: center;}
	.cart_lists_show ul li .changeNum input{margin:0 6px;width: 30px;height: 18px;color:#959595;font-family:"Arial";line-height:18px;border:1px solid #d0d0d0;}
	.cart_lists_show ul li .changeNum .red_btn{background: url(http://res.360kad.com/theme/default/img/2014newKad/u2141.png) center center no-repeat;}
	.cart_lists_show ul li .changeNum .add_btn{background: url(http://res.360kad.com/theme/default/img/2014newKad/u2105.png) center center no-repeat;}
	.cart_lists_show ul li .delet_btns,.Favorites_lists_show ul li .favor_delet_btns,.view_soon_lists_show ul li .favor_delet_btns{display:block;position:absolute;right:0;top:10px;width: 19px;height: 20px;overflow:hidden;background: url(http://res.360kad.com/theme/default/img/2014newKad/newRight_bar_allbgs.png?2014) -161px -14px no-repeat;cursor: pointer;z-index:3;}
	.cart_lists_show ul li .delet_btnsH,.Favorites_lists_show ul li .favor_delet_btnsH,.view_soon_lists_show ul li .favor_delet_btnsH{background-position:-178px -14px;}
	.cart_lists_show .total_prices{padding:0 0 10px 54px;color:#959595;}
	.cart_lists_show ul li .delet_btns{top:36px;right:7px;}
	#scrollBar01{height:850px;z-index:1;overflow: hidden;}
	/*去结算*/
	.go_order_box{position: fixed;right:-264px;bottom:0;width:264px;height: 74px;line-height:30px;background: #e6e6e6;z-index: 9;}
	#Favorites_lists_show .go_order_box p{padding-top: 20px;}
	.go_order_box .pro_msg{padding-left: 10px;padding-top: 2px;}
	.cart_totalPrices{padding-right: 4px;float: right;color:#ff0000;font-family: Arial;}
	.total_pros{padding-left: 10px;float: left;}
	.go_order_box .go_nowOr,.go_order_box a:hover{display:block;width: 244px;height: 36px;font-size:14px;border-radius:4px;text-align:center;line-height:36px;color: #fff;background: #e60000;text-decoration: none;}
	#go_buyAgain .go_order_box a,#Favorites_lists_show .go_order_box a{background: #333;}
	#cart_lists_show .go_order_box a:hover{background:#ff3535;}
	/*回到TOP*/
	.fixed_navigation .backUp_top{height:38px;background-position:-252px 5px;}
	.fixed_navigation .backUp_top_hover{background-position:-252px 5px;background-color: #0066d4;}
    .fixed_navigation .sm_order .sm_order_container a, .fixed_navigation .view_soon .view_soon_container a, .fixed_navigation .order_current .order_current_container a{display:block;}
	/*滚动条*/
	.scrollBar{display:none;position:relative;width:264px;overflow:hidden;}
	.pc_proLists{position: absolute;left:0;top:0;width: 260px;}
	.bar_box{display:none;position:absolute;right:0;top:0;width: 4px;height: 100%;background-color: #000;}
	.bar{position:absolute;right:0;top:0;width: 4px;height:250px;background-color: #ccc;}
	/*最近浏览*/
	.view_soon_lists_show .cart_top{padding-left: 10px;color:#959595;text-align: left;overflow: hidden;}
	.view_soon_lists_show .cart_top a{float: right;}
	.view_soon_lists_show .cart_top .favor_num{float:left;padding-left:40px;color:#ff0000;}
	.view_soon_lists_show .pro_t{position: relative;}
	.without_favor{display:none;margin-top:150px;width: 264px;height: 156px;}
	.without_favor .cryKad_icon{
                 padding-bottom: 20px;
                width: 200px;
               height: 160px;
               background: url(http://res.360kad.com/theme/default/img/2014newKad/kad_car.gif) 0 0 no-repeat;
                  margin: 0 auto;
}
	.without_favor p{text-align:center;color:#959595;}
	.view_soon_lists_show ul li .favor_delet_btns{top:9px;}
	.view_soon_lists_show ul li .favor_icon{display: block;position:absolute;right:24px;top:5px;width: 17px;height: 20px;overflow:hidden;background: url(http://res.360kad.com/theme/default/img/2014newKad/newRight_bar_allbgs.png) -164px 5px no-repeat;cursor: pointer;}
	.view_soon_lists_show ul li .favor_icon_act{background-position:-182px 5px;}
	.view_soon_lists_show ul li .changeNum{margin-top:0px;}
	.view_soon_lists_show ul li .changeNum .price1{padding:4px 0;color:#ff0000;font-family: "微软雅黑";font-size: 16px;font-weight: bold;}
	.view_soon_lists_show ul li .changeNum .price2{color:#959595;text-decoration: line-through;}
	.view_soon_lists_show ul li .changeNum .put_inCart,.buy_againBtn{display:block;width: 90px;height: 26px;line-height:26px;text-align:center;border-radius:4px;background-color:#e60000;}
	.view_soon_lists_show ul li .changeNum .put_inCart a,.go_buyAgain ul li .changeNum a,.view_soon_lists_show ul li .changeNum .put_inCart a:hover,.go_buyAgain ul li .changeNum a:hover{color:#fff;text-decoration: none;}
	.view_soon_lists_show ul li .pro_box{padding:10px 0 5px;}
	.favor_success{display:none;position:absolute;left:50%;top:50%;margin-left:-95px;width: 190px;height: 28px;line-height: 28px;text-align:center;color:#fff;background-color: #000;opacity: 0.75;filter:alpha(opacity=75);}
	/*end我最近浏览*/
	/*再次购买*/
	.go_buyAgain{display:none;}
	.go_buyAgain .go_order_box{height: 54px;}
	.go_buyAgain .full_checked_box,.go_buyAgain .buy_date{float:left;padding-left: 10px;color:#959595;}
	#full_checked{display:inline;margin-right: 8px;}
	.go_buyAgain .checkBox{display:block;float:left;margin-top: 10px;}
	.go_buyAgain .buy_date{float:left;padding:2px 8px 0;}
	.myCarts{display:none;padding-left: 10px;}
	/*end再次购买*/
	/*我要投诉*/
	.fixed_navigation .my-tsBox{margin-top: 8px;display:block;width: 36px;height:32px;background:url(http://res.360kad.com/theme/default/img/2014newKad/my-tsPic.png) no-repeat center center;}
	.fixed_navigation .my-tsBox .order_current_container{display: none;position: absolute;top: 0;right: 66px;opacity: 0;filter: alpha(opacity=0);width: 104px;height: 32px;line-height: 32px;background: #fd951a;}
	.fixed_navigation .my-tsBox .pointer{position:absolute;top:10px;right:60px;width: 0;height: 0;line-height: 0;font-size:0;border-top: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid #fd951a;opacity:0;filter:alpha(opacity=0);}
	.fixed_navigation .sm_order .sm_order_container{right: 38px;}
	.fixed_navigation .my-tsBox a,
	.fixed_navigation .my-tsBox a:hover{color:#fff;text-decoration:none;}
	/*导航右侧信息列表*/
	.navi_right{position:relative;float:left;width: 264px;}
	/*end导航右侧信息列表*/
	#singleNum{display:none;padding-right: 2px;width: 18px;height: 20px;text-align:center;line-height:20px;background:url(http://res.360kad.com/theme/default/img/2014newKad/radius_icon.png) no-repeat;bottom:auto;top:20px;opacity:0;}
/*右侧登录*/
.login_boxs{display:none;position:absolute;top:50%;margin-top:-95px;padding-left: 10px;width:254px;color:#858484;font-size: 14px;}
.login_boxs .p_input input{border: 1px solid #ccc; color: #bfbfbf; height: 28px; line-height: 28px; margin: 10px 0; outline: 0 none; padding-left: 4px; width: 240px;}
.login_boxs .forget_ps{ padding-left: 90px;}
.login_boxs .forget_ps a,.login_boxs .forget_ps a:hover,.pl196 a,.pl196 a:hover{color: #2d8ef3; font-size: 12px;}
.login_boxs .pl196{padding-left: 196px;}
.login_boxs .sub_btn input{background:#e60000; border: 0 none; color: #fff; cursor: pointer; font-size: 14px; height: 30px; line-height: 24px; padding-left: 0; width: 244px; margin-bottom: 10px;}
.checked_val1{display: inline;margin:3px 10px 0 0;width: 13px;height: 13px;background: url("http://res.360kad.com/theme/default/img/2014newKad/newRight_bar_allbgs.png") no-repeat -148px 0;cursor: pointer;}
.checked_val2{background-position: -148px -16px;}
.checked_val1,.checked_Txt{float:left;}
.p_input2{padding-bottom:10px;overflow:hidden;}
.p_input{position: relative;}
.errorTxt{display:none;position:absolute;bottom:-20px;left:0;padding-left: 10px;width: 236px;height: 30px;line-height:30px;font-size:12px;color:#fff;text-align:left;background-color: #fba2a2;}
.login_boxs .p_input .errorInput{border-color: #ff0000;}
.p_input .error_btn{display:none;position:absolute;right:16px;top:16px;width: 15px;height: 15px;background: url(http://res.360kad.com/theme/default/img/2014newKad/newRight_bar_allbgs.png) -314px 0px no-repeat;cursor: pointer;}
/*end登录*/





