/*清除浮动样式*/
.clear {
    clear: both;
    height: 0;
    width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
    clear: both;
}
/*主体内容*/
.wrap1200 .wrapper {
    width: 1200px;
    clear: both;
}

.wrap980 .wrapper {
    width: 980px;
    clear: both;
}

.wrap1200 .wrapper .A_zone {
    width: 1200px;
    float: left;
    line-height: 23px;
}

.wrap980 .wrapper .A_zone {
    width: 980px;
    float: left;
    line-height: 23px;
}

.wrapper_l {
    width: 214px;
    float: left;
    color: #fff;
    font-size: 14px;
}

    .wrapper_l .wrapper_l_top {
        height: 357px;background:url('../images/quanbu_bg.png') no-repeat;
    }

        .wrapper_l .wrapper_l_top .prod_title {
            width: 168px;
            height: 30px;
            line-height: 30px;
            float: left;
            padding: 6px 0px 0 46px;
            font-size: 14px;
            font-family: "微软雅黑";
        }

.main_illness {
    height: 58px;
    padding: 0 24px;
    clear: both;
}

    .main_illness li {
        width: 83px;
        display: block;
        float: left;
        font-size: 12px;
    }

    .main_illness a, .prod_title a {
        color: #fff;
        text-align: center;
    }

        .main_illness a:hover, .prod_title a:hover, .floor_a_pro li a:hover, .more_link a:hover {
            color: #ffde00;
            text-decoration: none;
        }

.All_product {
    width: 144px;
    float: left;
    display: inline;
    text-indent: -999em;
    margin: 28px 0 0 25px;
}

    .All_product a {
        height: 35px;
        display: block;
        background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat 0 -73px;
    }

.ad_position {
    width: 215px;
    height: 242px;
    margin-top: 7px;
}

.wrap1200 .wrapper_m {
    width: 756px;
    float: left;
    margin: 8px 7px 0 10px;
    display: inline;
    position: relative;
}

.wrap980 .wrapper_m {
    width: 756px;
    float: left;
    margin: 8px 0 0 8px;
    display: inline;
    position: relative;
    overflow: hidden;
}

.wrapper_m .ad_l {
    position: relative;
}

.wrapper_r {
    width: 210px;
    float: right;
    margin-top: 8px;
}
/*轮播*/
.lp_ad {
    width: 756px;
    height: 349px;
    overflow: hidden;
}

.i_box {
    position: relative;
    overflow: hidden;
    width: 756px;
    height: 349px;
}

.i_imglist {
    width: 756px;
    height: 349px;
}

    .i_imglist li {
        width: 756px;
        height: 349px;
    }

        .i_imglist li a {
            margin: 0;
        }

.i_nav {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 115px;
    height: 20px;
    z-index: 2;
    right: 325px;
}

    .i_nav ul li {
        float: left;
        display: inline;
        font-size: 35px;
        width: 15px;
/*        color: #c5d4ff;
*/        text-decoration: none;
        line-height: 20px;
        cursor: pointer;
    }

        .i_nav ul li.hover {
            color: #a9005f;
        }

        .i_nav ul li a:hover {
            text-decoration: none;
        }

        .i_nav ul li.hover a {
            color: #a9005f;
        }
/*轮播end*/
/*table选项卡*/
.wrap_m_l {
    width: 756px;
    height: 335px;
    margin-top: 8px;
    overflow: hidden;
}

.wrap_m_l_t h3 {
    width: 85px;
    height: 34px;
    float: left;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
}

    .wrap_m_l_t h3 a, .wrap_m_l_t h3 a:hover {
        color: #fff;
        text-decoration: none;
    }

.wrap_m_l .wrap_m_l_t .selH3 {
    background: #c00066;
}

.wrap_m_l .wrap_m_l_t #kadtab3 {
    border-right: none;
}

.wrap_m_l ul {
    width: 756px;
    height: 335px;
}

.wrap_m_l .showUL {
    display: block;
}

.wrap_m_l ul li {
    width: 378px;
    height: 150px;
    float: left;
    line-height: 22px;
    background: #000;
}

    .wrap_m_l ul li .pic img {
        width: 378px;
        height: 150px;
    }

    .wrap_m_l ul li .pic {
        text-align: center;
        position: relative;
    }

.wrap_m_l_t {
    width: 756px;
    height: 34px;
    line-height: 34px;
    background: #4f0083;
}
/*table选项卡end*/

/* 右边付款方式 */
.wrapper_r .payment_c {
    width: 210px;
    height: 84px;
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/pay_bg.png) no-repeat;
}

.swidth1200 .wrapper_r .payment_c {
    background-position: 0 -108px;
}

.wrapper_r .payment_c {
    position: relative;
    z-index: 2;
}

    .wrapper_r .payment_c dl b {
        width: 45px;
        display: block;
        height: 40px;
        background: url(../images/index_ico_bg.png) no-repeat;
    }

.payment_c dl {
    width: 57px;
    float: left;
    line-height: 24px;
    height: 70px;
}

.payment_c .pay_f2 {
    width: 63px;
    padding-left: 7px;
}

.swidth1200 .payment_c .pay_f2 {
    width: 101px;
}

.swidth1200 .payment_c dl {
    width: 101px;
}

.payment_c dt {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 15px;
    width: 58px;
    height: 69px;
}

.swidth1200 .payment_c dt {
    width: 100px;
}

.payment_c dt a {
    color: #444;
}

#pay_f2 b {
    background-position: 0 -53px;
}

#pay_f3 b {
    background-position: -54px 8px;
}

.payhover #pay_f1 b {
    background-position: -110px 0;
    position: absolute;
    right: 3px;
}

.swidth1200 .payhover #pay_f1 b {
    background-position: -112px 0;
}

.payhover #pay_f3 b {
    background-position: -236px -53px;
    position: absolute;
    right: 3px;
}

.swidth1200 .payhover #pay_f3 b {
    background-position: -114px -54px;
}

.payhover #pay_f2 b {
    background-position: -185px 0;
    width: 75px;
}

.swidth1200 .payhover #pay_f2 b {
    background-position: -185px 0;
}

#pay_f1 {
    left: 0px;
}

#pay_f2 {
    left: 64px;
    width: 85px;
}

.swidth1200 #pay_f2 {
    left: 100px;
    width: 100px;
}

#pay_f3 {
    left: 150px;
}

.swidth1200 #pay_f3 {
    left: 202px;
}

.payment_c dl dd strong {
    font-size: 16px;
}

.payment_c dl dd p {
    padding-bottom: 5px;
}

.payment_c dl dd {
    position: absolute;
    z-index: 9;
    width: 178px;
    border: solid 1px #8d00c3;
    display: none;
    left: 0px;
    top: 84px;
    background-color: #fff;
    padding: 15px;
    height: 233px;
}

.swidth1200 .payment_c dl dd {
    width: 272px;
}

.wrapper_r .payment_c .payhover dt {
    border: 1px solid #8d00c3;
    border-bottom: none;
    background-color: #fff;
    position: absolute;
    z-index: 99;
}

.payment_c .payhover dt b {
    height: 54px;
    width: 56px;
}

.swidth1200 .payment_c .payhover dt b {
    height: 54px;
    width: 75px;
}

.payment_c .payhover dt span {
    display: none;
}

.payment_c .payhover dd {
    display: block;
}

.g_xin {
    width: 210px;
    height: 257px;
    margin-top: 7px;
    overflow: hidden;
}

.g_xin_ad {
    height: 384px;
}
/* end 右边付款方式 */
.wrap1200 .add_position a {
    float: left;
    width: 1200px;
    height: 100px;
    margin: 7px 0;
}

.wrap980 .add_position a {
    float: left;
    width: 976px;
    height: 100px;
    margin: 7px 0;
}
/*楼层广告*/
.wrap1200 .add_position1 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad1_1200.jpg) no-repeat;
}

.wrap1200 .add_position2 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad2_1200.jpg) no-repeat;
}

.wrap1200 .add_position3 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad3_1200.jpg) no-repeat;
}

.wrap1200 .add_position4 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad4_1200.jpg) no-repeat;
}

.wrap1200 .add_position5 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad5_1200.jpg) no-repeat;
}

.wrap1200 .add_position6 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/N6f_1200.jpg) no-repeat;
}
/*980*/
.wrap980 .add_position1 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad1_980.jpg) no-repeat;
}

.wrap980 .add_position2 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad2_980.jpg?24) no-repeat;
}

.wrap980 .add_position3 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad3_980.jpg) no-repeat;
}

.wrap980 .add_position4 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad4_980.jpg) no-repeat;
}

.wrap980 .add_position5 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/banner_ad5_980.jpg) no-repeat;
}

.wrap980 .add_position6 a {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/N6f_980.jpg) no-repeat;
}
/*楼层广告end*/
.wrap980 .add_position a {
    float: left;
    width: 976px;
    margin: 7px 0;
}
/*商品展示2*/
.wrap1200 .wrapper .B_zone {
    width: 1198px;
    border: 1px solid #ddd;
}

.wrap980 .wrapper .B_zone {
    width: 976px;
    border: 1px solid #ddd;
    border-right: 0;
}

.wrapper_ll {
    width: 198px;
    height: 488px;
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/1f_bg.png) no-repeat;
}

.wll_1 {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/2f_bg.png) no-repeat;
}

.wll_2 {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/3f_bg.png) 0 10px no-repeat;
}

.wll_3 {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/4f_bg.png) no-repeat;
}

.wll_4 {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/5f_bg.png) no-repeat;
}

.wll_5 {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/6f_bg.png) no-repeat;
}

.wrapper_ll .floor_a {
/*    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/1F.png) no-repeat;
*/    height: 46px;
      font-size: 18px;
      text-align: center;
      padding-top: 10px;

/*    text-indent: -999em;*/
}

.wrapper_ll .floor_b {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/2F.png) no-repeat;
}

.wrapper_ll .floor_c {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/3F.png) no-repeat;
}

.wrapper_ll .floor_d {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/4F.png) no-repeat;
}

.wrapper_ll .floor_e {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/5F.png) no-repeat;
}

.wrapper_ll .floor_f {
    background: url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/6F.png) no-repeat;
}

.wrapper_ll .floor_a_ad {
    height: 272px;
    margin-top: 6px;
    clear: both;
}

.floor_a_pro li {
    width: 90px;
    padding-left: 9px;
    margin: 8px 0;
    float: left;
    text-align: center;
}

.floor_a_pro a, .more_link a {
    color: #fff;
}

.more_link {
    clear: both;
}

    .more_link a {
        float: right;
        margin-top: 10px;
        padding-right: 20px;
    }

.wrap1200 .wrapper_mm {
    width: 998px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 0;
    line-height: 21px;
    overflow: hidden;
}

    .wrap1200 .wrapper_mm .Main_Product {
        width: 998px;
        z-index: 0;
    }

        .wrap1200 .wrapper_mm .Main_Product li {
            width: 199px;
            height: 242px;
            border: 1px solid #ddd;
            border-right:0;
            border-top:0;
            float: left;
            position: relative;
            margin-top: 2px;
        }

        .wrap1200 .wrapper_mm .Main_Product .li_hover {
            border-color: #9027ff;
        }

        .wrap1200 .wrapper_mm .Main_Product .t {
            font-size: 12px;
            height: 45px;
            overflow: hidden;
            padding: 0 10px;
        }

        .wrap1200 .wrapper_mm .Main_Product .adv {
            width: 173px;
            height: 21px;
            color: #fa5b02;
            text-indent: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .wrap1200 .wrapper_mm .Main_Product .price1 {
            color: #ababab;
            text-decoration: line-through;
            vertical-align: middle;
            padding-left: 10px;
        }

        .wrap1200 .wrapper_mm .Main_Product .price2 {
            color: #c60000;
            font: bold 18px Arial;
            padding-left: 10px;
        }

        .wrap1200 .wrapper_mm .Main_Product li .pic {
            text-align: center;
            height: 150px;
        }

        .wrap1200 .wrapper_mm .Main_Product .pic img {
            width: 150px;
            height: 150px;
        }

.wrap980 .wrapper_mm {
    width: 776px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom: 0;
    margin: 0;
    line-height: 21px;
    overflow: hidden;
}

    .wrap980 .wrapper_mm .Main_Product {
        width: 784px;
        z-index: 0;
    }

        .wrap980 .wrapper_mm .Main_Product li {
            width: 192px;
            height: 242px;
            border: 1px solid #ddd;
            float: left;
            position: relative;
        }

        .wrap980 .wrapper_mm .Main_Product .li_hover {
            border-color: #9027ff;
        }

        .wrap980 .wrapper_mm .Main_Product .t {
            height: 42px;
            overflow: hidden;
            font-size: 14px;
            text-indent: 30px;
        }

        .wrap980 .wrapper_mm .Main_Product .adv {
            width: 173px;
            color: #fa5b02;
            text-indent: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .wrap980 .wrapper_mm .Main_Product .price1 {
            color: #ababab;
            text-decoration: line-through;
            vertical-align: middle;
            text-indent: 30px;
        }

        .wrap980 .wrapper_mm .Main_Product .price2 {
            color: #c60000;
            font: bold 18px Arial;
            text-indent: 30px;
        }

        .wrap980 .wrapper_mm .Main_Product .pic img {
            width: 190px;
            height: 150px;
        }

.wrapper_rr {
    width: 221px;
    margin-top: 0;
    background: #000;
}

    .wrapper_rr .Small_pro img {
        width: 221px;
        height: 244px;
    }

    .wrapper_rr .Small_pro a {
        width: 221px;
        height: 244px;
        display: block;
    }
/*主体内容end*/
.small {
    display: block;
}

.pix {
    display: none;
}

#no_log a, #no_log1 a, #yes_log a, #yes_log1 a {
    color: #bb0063;
}

    #no_log a:hover, #no_log1 a:hover, #yes_log a:hover, #yes_log1 a:hover {
        color: #fff;
        text-decoration: underline;
    }

.sub_nav_l {
    color: #fff;
}

.cartBody {
    background: url("http://res.360kad.com/theme/default/img/theme/default/img/www/cart_a.png") no-repeat 0 0;
}

/*二维码start*/
.erweim_11 {
    width: 140px;
    height: 188px;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    top: 310px;
    right: 0;
    z-index: 998;
}

*html .erweim_11 {
    width: 110px;
    height: 150px;
    position: absolute;
    z-index: 998;
    right: 0;
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-280));
}

    .erweim_11 .erweim_11_p {
        background: url(http://res.360kad.com/theme/default/img/skin/kadad/index/1311/phone_11.png) no-repeat;
        width: 25px;
        height: 103px;
        cursor: pointer;
        float: right;
    }

    .erweim_11 .ewm11_hover {
        background: url(http://res.360kad.com/theme/default/img/skin/kadad/index/1311/phone_erweima11.png?11) no-repeat center center;
        width: 140px;
        height: 188px;
    }
/*二维码end*/
