<div class="ulleft-nav">
<div class="addtit-name">设置</div>
<ul class="nav nav-tabs">
    {ifp 'sysset.view.shop'}<li {if $_GPC['op']=='shop' or  $_GPC['do']=='shop' or $_GPC['op']=='sms' or $_GPC['op']=='member' or $_GPC['op']=='template' or $_GPC['op']=='category' or $_GPC['op']=='contact'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'shop'))}">商城设置</a></li>{/if}
    {ifp 'sysset.save.pcset'}<li {if $_GPC['op']=='pcset'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'pcset'))}">PC端设置</a></li>{/if}
    {ifp 'sysset.view.follow'}<li  {if $_GPC['op']=='follow'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'follow'))}">引导分享</a></li>{/if}
    {ifp 'sysset.view.notice'}<li  {if $_GPC['op']=='notice'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'notice'))}">消息提醒</a></li>{/if}
    {ifp 'sysset.view.trade'}<li  {if $_GPC['op']=='trade'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'trade'))}">交易设置</a></li>{/if}
    {ifp 'sysset.view.pay'}<li  {if $_GPC['op']=='pay'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'pay'))}">支付方式</a></li>{/if}
	{if $_W['isfounder']} 
	  <li {if $_GPC['p']=='perm'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('perm/setting')}">权限设置</a></li>
	  {/if}
    {ifp 'sysset.view.upgrade'}<li  {if $_GPC['op']=='display'}class="active"{/if}><a href="{php echo $this->createWebUrl('upgrade',array('op'=>'display'))}">系统升级</a></li>{/if}
</ul> 
</div>
