@charset "utf-8";
/* CSS Document */
html{ height:100%;}
*{ margin:0 auto; padding:0; }
body{ color:#333; font-family:"宋体",Tahoma,Verdana,sans-serif, simsun; font-size:12px; background:#fff;}
div{height:auto; }
ul, li{ list-style:none;}
img{ border:none; }
h1, h2, h3, h4, h5, h6{ font-size:14px;}
a{text-decoration:none;outline: none;}
a:hover{text-decoration:underline}
input, button, select{ font-size:12px; vertical-align:middle;}
textarea{ padding:5px;color:#333;}
table{ border:none;}

/*清除浮动样式*/
.clear{ clear:both; height:0; width:100%;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{zoom: 1; clear:both;}
.categorys{position:relative;z-index:4;}
 .categorys h2{height: 40px;}
 .leftSide_menu{display:none;float:left;width: 196px;height:570px;background: #fff;border:2px solid #2d8ef3;border-top:0; }
 .leftSide_menu li{position:relative;z-index:4;padding-left: 16px;width: 180px;height:35px;border-top:2px solid #fff;border-bottom:1px solid #f0f0f0;line-height: 35px;}
 .leftSide_menu li a{font-size: 14px;color:#333;}
 .leftSide_menu li.act{margin-right: 2px;padding-left: 30px;width: 166px;border-right:0;border-top:2px solid #2d8ef3;}
 .leftSide_menu li.bgNone{border-bottom:0;}
 .leftSide_menu li .blueLine{display:none;position:absolute;left:0;bottom:-1px;z-index:10;width: 198px;height: 2px;background:#2d8ef3; }
 .leftSide_menu li.act .whiteLine{display:block;position:absolute;right:-2px;top:0;z-index:9;width:2px;height: 35px;background: #fff;overflow:hidden;}
 .leftSide_menu li .potiner_h{display: block;position:absolute;right:23px;top:15px;width: 15px;height: 9px;background: url(hhttp://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png) no-repeat -151px -86px;}
 .leftSide_menu .sideBox{display:none;position:absolute;top:-2px;left:198px;width: 802px;height:570px;background: #fff;border:2px solid #2d8ef3;border-left:0;overflow: hidden;}
 .leftSide_menu .nodeLists{float:left;width: 544px;}
 .leftSide_menu .topL{float:left;width: 544px;}
 .leftSide_menu .topL .ml20{margin-left:20px;}
 .leftSide_menu .topL h3, .leftSide_menu .topR h3{width: 524px;border-bottom: 1px solid #f0f0f0;overflow: hidden;}
 .leftSide_menu .topL p{width: 524px;padding:10px 0 0 20px;line-height: 22px;overflow:hidden;}
 .leftSide_menu .topL p.pt14{padding-top: 14px;}
 .leftSide_menu .topL p a, .leftSide_menu .bottom p a{display:inline;float:left;padding:0 6px;font-size: 12px;color:#959595;background:url(hhttp://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) left center no-repeat;white-space: nowrap;}
 .leftSide_menu .topL p .bigTitle{padding-right:16px;width: 64px;text-align:right;font:bold 12px/22px "";color:#ff0000;background: none;}
 .leftSide_menu .top .pt5{padding-top: 5px;}
 .leftSide_menu li a:hover, .leftSide_menu .topL p a:hover, .advStation .other_msg a:hover{color:#ff0000;}
 .leftSide_menu .topR{float:right;margin-right: 25px;width: 240px;}
 .leftSide_menu .topR p{padding-left: 0;border: 0;}
 .leftSide_menu .topL i{display:inline;margin:14px 0 0 4px;float:left;width: 15px;height: 9px;background: url("hhttp://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png") no-repeat -151px -86px;}
 .leftSide_menu .topL .title{float:left;}
 .leftSide_menu .hot_research{margin:0 0 5px 20px;border-bottom:1px solid #f0f0f0;background: url(hhttp://res.360kad.com/theme/default/img/2014newKad/hot_research_icon.png) no-repeat 32px 12px;}
 .leftSide_menu .bottom p{clear:both;padding-left: 14px;border-left:2px solid #2d8ef3;}
 .leftSide_menu .bottom p a{line-height: 22px;background:url(hhttp://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) right center no-repeat;white-space: nowrap;}
/*推荐商品*/
 .advStation{float:right;padding:18px 10px;width: 218px;height: 536px;overflow:hidden;background: #f5f3e8;}
 .advStation .adv_title span{float:left;font:bold 16px/18px "微软雅黑";color:#000;}
 .advStation .adv_title .closeBtn{float:right;font-weight: normal;color:#acaca9;cursor: pointer;}
 .advStation .pro_pic{padding:22px 0 16px;}
 .advStation .other_msg{line-height: 26px;}
 .advStation .other_msg a{color:#959595;}
/*主体*/
.wrapContainer{width:1200px;height: 100%;}
.wrapContainer .categoryTitle{padding-left: 20px;height: 30px;line-height:30px;border-bottom:2px solid #e60000;overflow: hidden;}
.wrapContainer .categoryTitle ul li{display:inline;margin-right: 6px;padding:0 14px;float:left;text-align: center;border:1px solid #c9c9c9;border-bottom:0;border-radius:3px 3px 0 0;}
.wrapContainer .categoryTitle ul li a,.categoryTitle ul li a:hover{font-weight:bold;font-size:14px;color:#666;text-decoration: none;}
.wrapContainer .categoryTitle ul li.act{background-color: #e60000;border-color:#e60000;}
.wrapContainer .categoryTitle ul li.act a,.categoryTitle ul li.act a:hover{color:#fff;}
.wrapContainer .mainContent .mainH3{padding:20px 0 18px;font-size:20px;text-align: center;color:#666;font-family:"微软雅黑";}
.wrapContainer .mainContent .ksList{padding-left: 48px;}
.wrapContainer .mainContent .ksList a{display:inline;float: left;margin:0 18px 10px;width: 100px;height: 44px;line-height: 44px;color:#005aa0;text-align: center;border: 1px solid #d4d4d4;border-radius: 3px;overflow: hidden}
.wrapContainer .mainContent .ksList a:hover{color:#e40001;text-decoration: underline;}
/*科室*/
.wrapContainer .mainContent .ksBoxs li{display:inline;float:left;margin:16px 16px 0 0;width: 590px;border: 1px solid #ccc;}
.wrapContainer .mainContent .ksBoxs li h3{padding-left: 20px;margin-top:1px;height: 36px;line-height: 36px;background: #f4f3f3 url(hhttp://res.360kad.com/theme/default/img/category2014/ksTitle_bg.png) no-repeat 5px 10px;font-size: 14px;color:#666;border-bottom: 1px solid #ccc;}
.wrapContainer .mainContent .ksBoxs li .box{padding: 5px;line-height: 24px;}
.wrapContainer .mainContent .ksBoxs li .box .itemList{float:left;padding-bottom: 5px;margin-bottom:5px;width: 580px;border-bottom:1px dashed #ccc;}
.wrapContainer .mainContent .ksBoxs li .box .left{padding:0 11px 0 12px;float:left;width: 52px;text-align: right;}
.wrapContainer .mainContent .ksBoxs li .box .left a{color:#e60000;font-weight: bold;}
.wrapContainer .mainContent .ksBoxs li .box .right{float:left;}
.wrapContainer .mainContent .ksBoxs li .box .right a{padding-right: 12px;}
/*热门关注品牌*/
.wrapContainer .mainContent .hotPList a{display:inline;margin:0 18px 20px 0;float:left;width: 183px;height: 86px;border:1px solid #ccc;}
.wrapContainer .mainContent .hotCtitle{padding-left: 0;}
.wrapContainer .mainContent .pPaiBox{padding-top: 18px;}
.wrapContainer .mainContent .pPaiBox .hotPList{display:none;}
.wrapContainer .mainContent .pPaiBox .act{display: block;}
/*专业导购*/
.mainCont{width: 1200px;}
.mainCont h3{padding:15px 0  5px;font:normal 18px/20px "微软雅黑";color:#333;border-bottom:2px solid #e60000;}
.mainCont .buyLists{padding-top:10px;}
.mainCont .buyLists li{display:inline;float:left;margin-right: 40px;padding:6px 0;width: 580px;line-height: 24px;border-bottom:1px dashed #ccc;}
.mainCont .buyLists li a{display:inline;float: left;text-align: center;color:#666;padding-right: 20px;}
.mainCont .buyLists li a:hover{color:#ff0000;}
.mainCont .buyLists li a.left{padding-right: 10px;width: 74px;color:#e60000;font-weight: bold;text-align: right;}
.mainCont .buyLists li.borB0{border-bottom:0;}
/*热门咨询*/
.msgBoxs{padding-top: 20px;}
.msgBoxs .msgL{float:left;width: 195px;height: 495px;background: url(hhttp://res.360kad.com/theme/default/img/category2014/nurse_01.jpg) no-repeat;}
.msgBoxs .msgR{float:right;width: 964px;line-height: 22px;}
.msgBoxs .msgR .viperName{float:left;padding-right: 38px;color:#9b9b9b;}
.msgBoxs .msgR .contTitle{float:left;color:#3f3f3f;}
.msgBoxs .msgR .dateT{float:right;color:#9b9b9b;}
.msgBoxs .msgR li{padding:0 11px 10px 11px;margin-bottom:8px;border-bottom:1px dashed #cfcfcf;}
.msgBoxs .msgR li .mainConts{color:#ff4e4e;}
.msgBoxs .msgR li.borB0{border-bottom:0;margin-bottom:0;}
/*楼层*/
.mainCont .storey{padding-bottom: 20px;width: 1200px;overflow: hidden;}
.mainCont .storeyL{float:left;width:200px;}
.mainCont .storeyL h4{padding-left: 12px;width: 193px;height: 50px;font:bold 20px/50px "微软雅黑";color:#fff;background: url(hhttp://res.360kad.com/theme/default/img/category2014/floorBg_01.png) no-repeat;}
.mainCont .storeyL h4 span{padding-left: 34px;}
.mainCont .storeyL_list{display:inline;float:left;padding:7px 4px 0;background:#fff;border:2px solid #1cb1be;border-top:0;}
.mainCont .storeyL_list li{display:inline;position:relative;padding-left:10px;float:left; width: 80px;height:40px;line-height:40px;overflow:hidden;}
.mainCont .storey_tool .storeyL_list,.mainCont .storey_tool .storeyR .middle_zone{border-color:#3c84e5;}
.mainCont .storey_tool .topHot_salse h4{background-color: #d7fbfe;}
.mainCont .storeyL_list li a,.mainCont .storeyR .bottom_zone li a{color:#000;}
.mainCont .storeyL_list li a:hover,.mainCont .storeyR .bottom_zone li a:hover{color:#ff0000;}
.mainCont .storeyL_list li a{float:left;}
.mainCont .storeyL_list li a.hot_icon{display:block;padding-right:17px;height:40px;background:url(hhttp://res.360kad.com/theme/default/img/2014newKad/hot_icons.jpg) right center no-repeat;}
.mainCont .storeyL .borTop{border-top: 1px solid #dfdede;}
.mainCont .storeyL .mainProadv_pic{float:left;padding:5px 0 4px;width: 188px;}
.mainCont .storeyL .mainProadv_pic img{display:block;width: 188px;}
.mainCont .storeyR{display:inline;float:left;margin-top: 10px;width: 1000px;background:#f5f5f5;}
.mainCont .storeyR .w780{float:left;width: 800px;}
.mainCont .storeyR .pic img{display: block;}
.mainCont .storeyR .middle_zone{margin-top:39px;}
.mainCont .storeyR .top p.pic{position:relative;float:left;width: 559px;overflow: hidden;}
.mainCont .storeyR .top p.pic i{position:absolute;top:0;right:-260px;width:260px;height: 230px;background-color: #000;opacity: 0.7;filter:alpha(opacity=70);}
.mainCont .storeyR .top p.pic img{width: 559px;height: 230px;overflow: hidden;}
.mainCont .storeyR .top p.pic2 img{width: 241px;}
.pic_target{position:absolute;bottom:85px;right:-230px;width: 200px;height: 60px;background: url(hhttp://res.360kad.com/theme/default/img/2014newKad/havea_see.png) no-repeat;}
.storey_men .pic_targetH{background-position:0 -60px;}
.storey_baby .pic_targetH{background-position:0 -120px;}
.storey_older .pic_targetH{background-position:0 -180px;}
.storey_health .pic_targetH{background-position:0 -240px;}
.storey_tool .pic_targetH{background-position:0 -300px;}
.storey_sexy .pic_targetH{background-position:0 -360px;}
.mainCont .storeyR .top p.pic2{position:relative;width: 241px;height: 230px;overflow:hidden;}
.radius_pic{display:none;position: absolute;top:0;left:0;z-index:1;width: 241px;height: 230px;color:#fff;}
.radius_pic .txt{position: absolute;left:104px;bottom:8px;}
.mainCont .storeyR .top p.pic2 i{display:none;position: absolute;top:0;right:0;z-index:1;width: 241px;height: 230px;background-color: #000;opacity: 0.5;filter:alpha(opacity=50);}
.mainCont .storeyR .top p.pic .radius_pic img{display: block;position: absolute;top:16px;left:30px;z-index:2;width: 180px;height: 180px;}
.mainCont .storeyR .bottom_zone,.mainCont .storeyR .top{float:left;width: 800px;}
.mainCont .storeyR .bottom_zone li{float:left;padding-top:13px;width: 199px;height: 187px;border-right:1px solid #ededed;line-height:24px;text-align:center;background:#fff;overflow:hidden;}
.mainCont .storeyR .bottom_zone li .vipMoney{font-size:16px;font-family:"Arial";color:#ff0000;}
.mainCont .storeyR .bottom_zone li .marketMoney{padding-left: 10px;font-family:"Arial";color:#959595;text-decoration: line-through;}
/*热卖排行*/
.mainCont .topHot_salse{float:right;width: 200px;background:#fff;}
.mainCont .topHot_salse h4{padding-left: 10px;height:40px;background: #d4eeff;font:bold 14px/38px "";color:#000;}
.mainCont .topHot_salse li{display:inline;position:relative;margin:0 6px;float:left;width: 188px;border-top: 1px dashed #dfdede;background:#fff;}
.mainCont .topHot_salse li div{float:left;line-height: 20px;}
.mainCont .topHot_salse li .top_icon{display: block;position: absolute;left:4px;top:-4px;width: 18px;height: 26px;color:#fff;font:bold 14px/26px "Arial";text-align:center;background: url(hhttp://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png) no-repeat -96px -87px;}
.mainCont .topHot_salse li .pic{width: 90px;height:77px;overflow: hidden;}
.mainCont .topHot_salse li .pic a img{padding: 3px 0 4px;}
.mainCont .topHot_salse li .title{padding-top: 10px;width: 98px;height: 40px;overflow: hidden;}
.mainCont .topHot_salse li .intor_msg{width: 98px;}
.mainCont .topHot_salse li .intor_msg a{color:#000;}
.mainCont .topHot_salse li .intor_msg a:hover{color:#ff0000;}
.mainCont .topHot_salse li .intor_msg .price{color:#ff0000;font-family: "Arial";font-weight: bold;}
/* 底部 */
.wrap{width:1200px;clear:both;}
.footer{clear:both; margin-top:8px;background:url(hhttp://res.360kad.com/theme/default/img/footer_bg.png) repeat-x 0 -219px;background-color:#eee;border:solid 1px #c1c1c1; height:100%;overflow:hidden;padding:20px 0;}.footer dl{width:125px;padding-left:10px;border-right:1px dashed #bdbdbd;float:left;}.footer dl dt{background:url(hhttp://res.360kad.com/theme/default/img/footer_bg.png) no-repeat;height:34px;line-height:34px;padding-left:40px;font-size:16px;font-weight:bold;margin-bottom:10px;}.footer dl dd{padding-left:22px;line-height:24px;}.footer dl dd p{padding-left:20px;background:url(hhttp://res.360kad.com/theme/default/img/footer_bg.png) no-repeat 0 -161px;}
.footer .foot_t02 dt{background-position:0 -32px;}.footer .foot_t03 dt{background-position:0 -62px;}.footer .foot_t04 dt{background-position:0 -96px;}.footer .foot_t05 dt{background-position:0 -129px;}.footer .foot_t05{border:none;background:url(hhttp://res.360kad.com/theme/default/img/foot_r_bg.gif) no-repeat right;width:125px}.footer_r .line{background:url(hhttp://res.360kad.com/theme/default/img/footer_bg.png) 0 -187px;height:22px;width:18px;vertical-align:middle;}.footer_r a{color:#333;}
.footer_r{text-align:center;float:right;width:290px;}.footer_r p{margin-top:10px;}.footer_b{width:980px;clear:both;padding-top:10px;}.footer_r .foot_phone{height:41px;width:280px;background:url(hhttp://res.360kad.com/theme/default/img/foot_phone_small.gif)}
.flinktitle{font-weight:bold;width:90px;float:left;}.flinkcon{width:800px;float:left;line-height:22px;height:22px;overflow:hidden;} .flinkcon a{margin-right:5px;}.footer_b .hover{height:100%;overflow:hidden;}.friendLink{line-height:22px;padding-top:5px;clear:both;width:900px;overflow:hidden;}
.aboutKad{border:solid 1px #ccc;clear:both;height:30px;line-height:30px;font-weight:bold;margin:10px 0px;clear:both;}.aboutKad p{width:950px; text-align:center;}.aboutKad p a{color:#333}
.bottomMain{width:980px;height:auto;line-height:23px;margin:0 auto}.bottomMain a{color:#3e3e3e}.bottomLeft{width:484px;height:65px;float:left;padding-left:10px;margin-left:15px}.bottomLeft p{height:28px;padding-top:2px}
.bottomLeft .bottomPadding01{padding-left:10px;padding-right:10px}.bottomLeft .bottomPadding02{padding-right:5px}
.bottomRight{width:410px;height:75px;float:left;padding-left:20px}.bottomRight a{cursor:pointer}.bottomRightIcon{width:410px}.bottomRightIcon li{height:40px;float:left}.bottomRightIcon li p{height:18px;line-height:24px;_line-height:16px;_padding-top:5px}.bottomRightIcon li.bottomWidth02 p{height:36px;line-height:36px}.bottomMargin{margin-left:30px;margin-top:4px;margin-right:4px}.bottomWidth01{width:50px}.bottomWidth02{width:130px}.bottomIconPos1{margin-top:6px}.bottomIconPos2{margin-top:5px;margin-left:4px;margin-right:4px}.bottomIconPos3{margin-top:0;margin-left:4px;margin-right:4px}
 /* end 底部 */ 