@charset"utf-8";
 /*搜索框*/
.header_r_d a,.header_r_d a:hover,.Ymykad a,.Ymyorder a,.tphone a{color:#959595;}
.header_r_d a{margin-right:15px;}
.YnewNoLogin a{color:#0a75e7;padding:0 4px;}
.YnewNoLogin a:hover{color:red;}
 
 
 /*原头部尾部*/
 /*头部样式*/
.nav .navc{position:relative;z-index:10;margin-left:auto; margin-right:auto; width:1200px;height:40px;}
.nav  a{font-family:"Microsoft YaHei";}
.header_t, .header, .navc, .Crumbs{ margin-left:auto; margin-right:auto; width:1200px;}
.header_t.w980, .header.w980, .navc.w980, .Crumbs.w980{ width: 980px;}
.header_top{ background:#f1f1f1; height:30px; color:#767676; line-height:30px;}
.header_t_l{ float:left; }
.header_t_r{ float:right;}
.hNavList li{ float:right; padding:0px 8px; position:relative; z-index:23;}
li.tphone, li.ttel, li.tcart{ background:url(http://res.360kad.com/theme/default/img/product/2014new/ico_t2.png) no-repeat 6px -74px; padding-left:20px;}
li.ttel{ background-position:1px -40px; font-weight:bold;font-family:"Microsoft YaHei";}
li.tcart a b{color:#e61510;font-size:15px;font-weight: normal;padding:0 2px;}
li.tcart{ background-position:-3px -4px; font-weight:bold;font-family:"Microsoft YaHei";}
li.tcart a{ margin:0px 3px;}
.tlast {padding-right:12px;cursor:pointer;}
.tlast:hover{color:red;}
/*----------- 8.28 -----------*/
.hNavList li a:hover{color:red;}
.hNavList .Ycen{ display:none;}
.hNavList .Yico_dian{ background:url(http://res.360kad.com/theme/default/img/product/2014new/ico_t.png) no-repeat -2px -120px; position:absolute; right:5px; top:12px; display:block; width:10px; height:10px; }
.hNavList .Yhover .Ycen{ background:#FFFFFF; position:absolute; height:31px; width:100%; display:block; z-index:-1; margin-left:-8px; border:1px solid #e6e6e6; border-bottom:none; border-top:none; top:0;}
.hNavList .Yhover .Yico_dian{ background-position: -2px -133px;}
.hNavList .Yhover .Ytopnavdiv{ position:absolute; background:#FFFFFF; display:block; border:1px solid #e6e6e6; z-index:-2; right:0px; left:0px; top:30px; overflow:hidden;}
.hNavList .Yhover .Ytopnavdiv b{ color:#cc0000; padding-left:3px;}
.hNavList .Ymykad .Ytopnavdiv{ width:124px;text-align:center;}
.hNavList .Ymyorder{ width:78px;}
.hNavList .Ymyorder .Ycen{ width:76px;}
.hNavList .Ymyorder .Ytopnavdiv{ width:76px; left:0px; right:auto;}
.Ytopnavdiv dd a span{font-weight:bold;color:red;}
.hNavList .Ymyorder .Yico_dian{ right:12px;}
.hNavList .YService .Ytopnavdiv{ width:76px;text-align:center;}
.hNavList .Ywebnav .Ytopnavdiv{ width:677px;}
.hNavList .Ytopnavdiv a{ color:#939393;}
.hNavList .Ytopnavdiv a:hover{ color:#FF0000;}
.hNavList .Ywebnav .Ytopnavdiv dl{ float:left; width:210px; padding:0px 0px 0px 15px; margin:10px 0px; line-height:24px;}
.hNavList .Ywebnav .Ytopnavdiv dl dt{ font-weight:bold; color:#2d8ef3;}
.hNavList .Ywebnav .Ytopnavdiv dl.d2{ border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.hNavList .Ywebnav .Ytopnavdiv dl dd{ float:left; width:70px;}
.hNavList .Ywebnav .Ytopnavdiv dl dd.Ytit{ clear:both; width:210px;}

.Ymykadc, .Ymyorderc, .YServicec, .Ywebnavc{ background:#FFFFFF; line-height:24px; padding:5px 7px;}
.Ytopnavdiv{ display:none;}
.YnewYesLogin{ display:none;}
.YnewYesLogin li{ float:left; padding-right:10px;}
.header{ height:112px;}
.header_l{ float:left; width:432px;}
.header_logo{ padding-top:14px;}
.header_logo p{padding-top:6px;}
.header_l p span{ color:#2d8ef3;} 
.header_l p a:hover{ color:#666666;}
.header_r{ float:left; width:650px; margin-top:30px;position:relative;}
.header_r_d{ padding:10px 0px 0px; clear: both;height:15px;line-height:15px;}
.header_r_d span{ padding:0px 4px;}
.header_search{ border:2px solid #0a75e7; width:586px; margin-left:0; height:36px; position:relative; float: left;z-index:6;font-family: "Microsoft YaHei";}
.header_search .stxt{ border:none; width:502px; float:left; padding:3px 0px 3px 8px; line-height:30px;height:30px; background:#ffffff;font-family:"Microsoft YaHei";}
.header_search .sbtn{background:url(../images/search.jpg) no-repeat; border:none; width:76px; height:34px; font-size:0px; cursor:pointer;background-size:76px 36px;}
.header_r .header_search_fine{ float: left; padding: 10px 0px 0px 10px;}
.header_r .header_search_fine a{ font-size: 12px;}
/*导航*/

.itmes_wrap .leftSide .sideBox{
display:none;position:absolute;
z-index:-1;top:0px;left:178px;
width: 810px;background: #fff;
border:1px solid #2d8ef3;
overflow: hidden;
min-height:379px;
}
.catename{ background: url(../images/abor_bg.png) left center no-repeat; white-space: nowrap;}
.itmes_wrap .leftSide{position:absolute;left:0;top:38px;width: 180px;border-top:0;background:#036dde;height:399px;border-bottom:1px solid #036dde;z-index:30; }
.itmes_wrap .leftSide li a{font-size: 16px;color: #333;font-family:"Microsoft YaHei";}

.itmes_wrap .leftSide li.act{border-right:0px;color: #036dde;background: #ffffff;}
.itmes_wrap .leftSide li.bgNone{border-bottom:0;}
.itmes_wrap .leftSide li .blueLine{display:block;width: 165px;height: 1px; margin-left:7px;border-bottom: 1px dashed #0a5fbb;}
.storeyL_list span.potiner_h{display: block;position:absolute;right:18px;top:15px;width:0;height:0;line-height:0;border:5px solid transparent;border-left-color:#dbd7d7;}
.storeyL_list span.potiner_h{top:10px;right:0px;}
.Line{width:1px;height:44.33px;background:#ffffff;position:absolute;right:-1px;top:0;z-index:5; display:none;}
.itmes_wrap .leftSide .topL{float:left;padding-right: 20px;display:inline;}
.itmes_wrap .leftSide .topL h3{font-size: 14px;color: #131313;height:30px;line-height:30px;margin-left: 20px;border-bottom: 1px solid #f0f0f0;margin-bottom: 4px;}
.itmes_wrap .leftSide .topR h3{margin-bottom: 4px;width: 524px;height: 30px;border-bottom: 1px solid #f0f0f0;overflow: hidden;}
.itmes_wrap .leftSide .topL p{width: 390px;line-height: 20px;margin: 0;padding: 2px 20px 1px 20px;word-wrap: break-word;clear: both}
.itmes_wrap .leftSide .topL p.pt14{padding-top: 14px;}
.itmes_wrap .leftSide .topL p a{float:left;padding:0 4px;font-size: 12px;color:#959595;background: url(../images/abor_bg.png) left center no-repeat;white-space: nowrap;}
.itmes_wrap .leftSide .bottom p a{display:inline;float:left;padding:0 4px;font-size: 12px;color:#959595;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) left center no-repeat;white-space: nowrap;}
.itmes_wrap .leftSide .topL p .bigTitle{ padding-right: 16px; padding-left: 50px; width: 86px; text-align: center;    color: #ff0000;
    background: none;
    font: bold 12px/20px "";}
.itmes_wrap .leftSide .sub-nodeList{float:left;width: 200px;display:inline;display:block;}
.itmes_wrap .leftSide .top .pt5{padding-top: 5px;}
.itmes_wrap .leftSide .topL p a:hover,.itmes_wrap .advStation .other_msg a:hover{color:#ff0000;}
.itmes_wrap .leftSide .topR{float:right;margin-right: 25px;width: 240px;}
.itmes_wrap .leftSide .topR p{padding-left: 0;border: 0;}
.itmes_wrap .leftSide .topL .title{float:left;}
.itmes_wrap .leftSide .topL i{
display:inline;margin:12px 0 0 4px;
float:left;width: 15px;height: 9px;
background: url("http://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png") no-repeat -151px -86px;}

.itmes_wrap .leftSide .hot_research{margin:0 0 5px 20px;border-bottom:1px solid #f0f0f0;background: url(http://res.360kad.com/theme/default/img/2014newKad/hot_research_icon.png) no-repeat 32px 12px;}
.itmes_wrap .leftSide .bottom{padding-bottom: 20px;padding-right: 20px;}
.itmes_wrap .leftSide .bottom p{clear:both;padding-left: 14px;}
.itmes_wrap .leftSide .bottom p a{line-height: 22px;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) right center no-repeat;white-space: nowrap;}
/*中西药品特有*/
.itmes_wrap .leftSide .nodeLists-zxL{float:left;width:390px;padding-bottom:10px;}
.itmes_wrap .leftSide .nodeLists-zxL .top{width:800px;}
.itmes_wrap .leftSide .nodeLists-zxL .topL,.itmes_wrap .leftSide .nodeLists-zxL .topL p{width:380px;}
.itmes_wrap .leftSide .nodeLists-zxL .topL h3{width:360px;} 
/*.itmes_wrap .leftSide .nodeLists-zxL .sub-nodeList{width:280px;}
*/







.nav{ background:#ffffff; height:38px; clear:both; border-bottom:2px solid #0063cd;}
.categorys{ float:left; width:180px; height:38px; background:#0066d4;border-bottom:2px solid #0063cd;z-index:4;position:relative;}
.categorys h2{ line-height:38px; text-align:center; font-size:18px; font-family:"Microsoft YaHei";background: url(http://res.360kad.com/theme/default/img/product/2016new/quan.png) no-repeat 22px center;}
.categorys h2 a{ color:#FFFFFF;  line-height:36px; padding:0px 25px; font-weight:normal; }
.rightscroll{width: 208px;height: 36px; float: right;padding-left: 33px;overflow: hidden;
	white-space: nowrap;-o-text-overflow: ellipsis;
     text-overflow: ellipsis;
	background: url(http://res.360kad.com/theme/default/img/product/2016new/kuai.png) no-repeat left center;}
.rightscroll ul li{line-height: 36px;padding-left:7px;}
.rightscroll ul li a{color: red;}
.navclist{ float:left; padding-left:1px;}
.navclist li{ float:left;  height:38px;}
.navclist li.qi i{width: 1px;height:30px;}
.navclist li a{font-size:16px;}
.navclist li.kad-mc-ask .kad-mc-askBox a{font-size:14px;}
.navclist li a,.navclist li.kad-mc-ask>a{ color:#000; display:block;  line-height:38px; padding:0px 20px;font-family:"Microsoft YaHei";}
.navclist li a:hover,.navclist li.kad-mc-ask a:hover{  text-decoration:none;color:#0063cd;font-family:"Microsoft YaHei"; }
.navclist  #kad-mc-ask1 .kad-mc-askBox a:hover{color:#ff0000;text-decoration:underline;}
.Crumbs{ height:40px; line-height:40px; color:#767676;}
.Crumbs a{ color:#767676;}
.Crumbs span{ color:#a6a6a6;}




/*首页底部1200*/
.wrap_footer{width:100%;background:#1a82ee;clear:both;}
.wrap_footer .item01{width:100%;border-bottom: 1px solid #147ce8;}
.wrap_footer .item01 dl{width:1200px;padding:30px 0px;}
.wrap_footer .item01 dl dd{float:left;display:inline;padding-right:48px;}
.wrap_footer .item01 dl dd img{float:left;display:inline;margin-right:8px;}
.wrap_footer .item01 dl dd .medicineWorld{float:left;display:inline;color:#ffffff;}
.wrap_footer .item01 dl dd .medicineWorld p.t{font-size:20px;font-weight:400;font-family:"Microsoft YaHei";margin-bottom:5px;}

.wrap_footer .item01 ul{width:810px;}
.wrap_footer .item01 ul li{float:left;display:inline;padding-right:48px;}
.wrap_footer .item01 ul li img{float:left;display:inline;margin-right:8px;}
.wrap_footer .item01 ul li .medicineWorld{float:left;display:inline;color:#ffffff;}
.wrap_footer .item01 ul li .medicineWorld p.t{font-size:20px;font-weight:400;font-family:"Microsoft YaHei";margin-bottom:5px;}



.wrap_footer .item01 .width1200,.footer_list .width1200{width: 1200px;position: relative;margin:0 auto;}
.wrap_footer .item01 .width1200 .safeBuy{position:absolute;left:0;top:0;width: 240px;height: 86px;}
.wrap_footer .item02 .width1200{padding:14px 0 40px 20px;width: 1180px;height: 194px;}
.wrap_footer .item02{border-top: 1px solid #0c74df;border-bottom:0;}
.wrap_footer .item02 .lside{float:left;width: 300px;color:#fff;border-right: 1px solid #0c74df;padding-right:50px; }
.wrap_footer .item02 .width980 .lside{width: 106px;}
.wrap_footer .item02 .lside .title{padding-bottom: 8px; text-align: center;font-family: "Microsoft YaHei";font-size: 14px;}
.wrap_footer .item02 .lside .title02{padding-top: 8px;width: 78px;line-height:16px;text-align: center;font-family: "Microsoft YaHei";font-size: 14px;}
.wrap_footer .item02 .lside .appCode{float:left;width: 106px;}
.wrap_footer .item02 .lside .appCode .code{width: 106px;height: 106px;background: url(http://res.360kad.com/theme/default/img/2014newKad/codeallbgs.gif) 0 0 no-repeat;}
.wrap_footer .item02 .lside .appCode .pl8{padding-top: 8px; text-align: center;font-family: "Microsoft YaHei";font-size: 14px;}
.wrap_footer .item02 .lside .weixinCode{float:right;width: 106px;}
.wrap_footer .item02 .lside .weixinCode .code{width: 106px;height: 106px;background: url(http://res.360kad.com/theme/default/img/2014newKad/codeallbgs.gif) -106px 0 no-repeat;}
.wrap_footer .item02 .lside .ios,.wrap_footer .item02 .lside .android{display:inline;margin-top: 8px;float:left;}
.wrap_footer .item02 .lside .ios a{float:left;width: 29px;height: 29px;background: url(http://res.360kad.com/theme/default/img/2014newKad/codeallbgs.gif) -212px 0 no-repeat;}
.wrap_footer .item02 .lside .ios a:hover{background-position:-270px 0;}
.wrap_footer .item02 .lside .android a{float:left;width: 29px;height: 29px;background: url(http://res.360kad.com/theme/default/img/2014newKad/codeallbgs.gif) -241px 0 no-repeat;}
.wrap_footer .item02 .lside .android a:hover{background-position:-299px 0;}
.wrap_footer .item02 .lside .line{margin:12px 14px 0 14px;float:left;height: 24px;border-left:1px solid #147ce8;border-right:1px solid #439ffd;overflow: hidden;}
.wrap_footer .item02 .mside{float:right;}
.wrap_footer .item02 .width980 .mside{padding-left: 0;float: right;}
.wrap_footer .item02 .mside li{float:left;width: 114px;text-align:left;color:#fff;line-height: 22px;}
.wrap_footer .item02 .mside .phonePic{padding-top: 4px;padding-left: 10px;width:192px;border-left: 1px solid #0b72de;}
.wrap_footer .item02 .mside .phonePic .pt4{padding-top: 4px;}
.wrap_footer .item02 .mside li .title{padding-bottom: 12px; font: bold 16px/24px "";}
.wrap_footer .item02 .mside li a{color:#fff;text-decoration: none;font-family: "Microsoft YaHei"; }.wrap_footer .item02 .mside li a:hover{color:#fff;text-decoration:underline;}

.footer_list{padding-top: 10px;width:100%;overflow: hidden;line-height:22px;}
.footer_list a{padding-right: 12px;color:#666;}
.footer_list a:hover,.footer_list .aboutKadList a:hover,.footer_list .hyRz li a:hover{color:#ff0000;text-decoration: underline;}
.footer_list p .title{font-weight:bold;color:#666;}
.footer_list p .fl{float:left;}
.footer_list p.friendLinks{height: 22px;overflow: hidden;}
.footer_list p .linkBox{width: 1092px;text-align:left;}
.footer_list .aboutKadList{margin-top: 6px;padding-top:6px;border-top:1px solid #cdcdcd;text-align: center;}
.footer_list .aboutKadList a{padding-right: 0;color:#666;position: relative;}
.footer_list .aboutKadList a.pifa_shop span{background:url(http://res.360kad.com/theme/default/img/product/2014new/pifa_new.png);width: 23px;height: 10px;display: inline-block;position: absolute;top: -7px;left: 27px;}
.footer_list .diploma_list{padding:0 0 20px 16px;text-align:center;}
.footer_list .diploma_list a{padding-right: 0;}
.footer_list .diploma_list .pr8{padding-right: 8px;}
.footer_list .hyRz{/*padding-left: 224px;*/;width:1200px;text-align:center;}
.footer_list .hyRz li{padding-left: 8px;/*float:left;*/display:inline-block;*display:inline;*zoom:1;}
.footer_list .hyRz li a{padding-right: 0;float:left;color:#333;line-height:18px;}
.footer_list .hyRz li .txt{padding-right:4px;width:82px;background: url(http://res.360kad.com/theme/default/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list .hyRz li .item01{padding-left: 1px;width:60px;}
.footer_list .hyRz li .item02{width: 56px;}
.footer_list .hyRz li .item03{padding:4px 8px 0 0;background: url(http://res.360kad.com/theme/default/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list .bottom{padding: 5px 0;text-align: center;color:#666;}
.footer_list .bottom a{padding-right: 0;}
/*END首页1200底部*/
/*底部980*/
.wrap_footer .item01 .width980,.footer_list .width980{margin:0 auto;width: 980px;position: relative;}
.wrap_footer .item01 .width980 .safeBuy{position:absolute;left:0;top:0;width: 240px;height: 86px;}
.wrap_footer .item02 .width980{padding:20px 0 0 20px;width: 960px;}
.footer_list980{padding-top: 10px;width:100%;overflow: hidden;line-height:22px;}
.footer_list980 a{padding-right: 12px;color:#666;}
.footer_list980 a:hover,.footer_list980 .aboutKadList a:hover,.footer_list980 .hyRz li a:hover{color:#ff0000;text-decoration: underline;}
.footer_list980 p .title{font-weight:bold;color:#666;}
.footer_list980 p .fl{float:left;}
.footer_list980 p.friendLinks{height: 22px;overflow: hidden;}
.footer_list980 p .linkBox{width: 915px;text-align:left;}
.footer_list980 .aboutKadList{margin-top: 6px;padding-top:6px;border-top:1px solid #cdcdcd;text-align: center;}
.footer_list980 .aboutKadList a{padding-right: 0;color:#666;}
.footer_list980 .diploma_list{padding:0 0 20px 16px;text-align:left;}
.footer_list980 .diploma_list a{padding-right: 0;}
.footer_list980 .diploma_list .pr8{padding-right: 8px;}
.footer_list980 .hyRz{padding-left: 110px;}
.footer_list980 .hyRz li{padding-left: 8px;float:left;}
.footer_list980 .hyRz li a{padding-right: 0;float:left;color:#333;line-height:18px;}
.footer_list980 .hyRz li .txt{padding-right:4px;width:66px;background: url(http://res.360kad.com/theme/default/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list980 .hyRz li .item01{padding-left: 1px;width:60px;}
.footer_list980 .hyRz li .item02{width: 56px;}
.footer_list980 .hyRz li .item03{padding:4px 8px 0 0;background: url(http://res.360kad.com/theme/default/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list980 .bottom{text-align: center;color:#666;}
.swidth980,.width980{width: 980px;}
.swidth980 .header_r{float: left;width: 650px;position:relative;}

/*全部分类1200*/

#kinds_lists li{position:relative;z-index:4;width: 178px;height:39.9px;line-height: 39.9px;border-left:1px solid #036dde;border-right:1px solid #036dde;background-repeat: no-repeat;}


.itmes_wrap .leftSide li.text-intent{}
.itmes_wrap .leftSide li.act{border-right:0;}
.itmes_wrap .leftSide li.bgNone{border-bottom:0;}
.itmes_wrap .leftSide li .blueLine{display:none;position:absolute;left:0;bottom:-1px;z-index:10;width: 178px; }
.itmes_wrap .leftSide li.act .whiteLine{display:block;position:absolute;right:-2px;top:0;z-index:9;width:2px;height: 35px;background: #fff;overflow:hidden;}

.storeyL_list span.potiner_h{display: block;position:absolute;right:18px;top:15px;width:0;height:0;line-height:0;border:5px solid transparent;border-left-color:#dbd7d7;}
.itmes_wrap .leftSide li .potiner_h{display: block;position:absolute;right:18px;top:2px;font-size: 16px;color: #0a5fbb;font-weight: bold;font-style: normal;}
.storeyL_list span.potiner_h{top:10px;right:0px;}

.itmes_wrap .leftSide .topL h3{}
.itmes_wrap .leftSide .topR h3{margin-bottom: 4px;width: 524px;height: 30px;border-bottom: 1px solid #f0f0f0;overflow: hidden;}
.itmes_wrap .leftSide .topL p.pt14{padding-top: 14px;}
.itmes_wrap .leftSide .bottom p a{display:inline;float:left;padding:0 4px;font-size: 12px;color:#959595;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) left center no-repeat;white-space: nowrap;}

.itmes_wrap .leftSide .top .pt5{padding-top: 5px;}
.itmes_wrap .leftSide li a:hover,.itmes_wrap .leftSide .topL p a:hover,.itmes_wrap .advStation .other_msg a:hover{color:#ff0000;}
.itmes_wrap .leftSide .topR{float:right;margin-right: 25px;width: 240px;}
.itmes_wrap .leftSide .topR p{padding-left: 0;border: 0;}
.itmes_wrap .leftSide .topL i{display:inline;margin:14px 0 0 4px;float:left;width: 15px;height: 9px;background: url("http://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png") no-repeat -151px -86px;}
.itmes_wrap .leftSide .hot_research{margin:0 0 5px 20px;border-bottom:1px solid #f0f0f0;background: url(http://res.360kad.com/theme/default/img/2014newKad/hot_research_icon.png) no-repeat 32px 12px;}
.itmes_wrap .leftSide .bottom{padding-bottom: 20px;padding-right: 20px;}
.itmes_wrap .leftSide .bottom p{clear:both;padding-left: 14px;}
.itmes_wrap .leftSide .bottom p a{line-height: 22px;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) right center no-repeat;white-space: nowrap;}
/*中西药品特有*/

.itmes_wrap .leftSide .nodeLists-zxR{float:left;}
/*END中西药品特有*/
/*推荐商品*/
.itmes_wrap .advStation{float:right;padding:18px 10px;width: 218px;overflow:hidden;}
.itmes_wrap .advStation .adv_title span{float:left;font:bold 16px/18px "Microsoft YaHei";color:#000;}
.itmes_wrap .advStation .adv_title .closeBtn{float:right;font-weight: normal;color:#acaca9;cursor: pointer;}
.itmes_wrap .advStation .pro_pic{padding:22px 0 16px;}
.itmes_wrap .advStation .other_msg{line-height: 26px;}
.itmes_wrap .advStation .other_msg a{color:#959595;}
/*全部分类980*/
.itmes_wrap980{width: 980px;}
.itmes_wrap980 .leftSide{display: none;position:absolute;left:0;top:40px;width: 196px;background: #fff;border:2px solid #2d8ef3;border-top:0; }
.itmes_wrap980 .leftSide li{position:relative;z-index:4;width: 180px;height:35px;border-bottom:1px solid #f0f0f0;line-height: 35px;}
.itmes_wrap980 .leftSide li a{font-size: 14px;color:#333;}
.itmes_wrap980 .leftSide li.act{border-right:0;}
.itmes_wrap980 .leftSide li.bgNone{border-bottom:0;}
/*.itmes_wrap980 .leftSide li .blueLine{display:block;position:absolute;left:0;bottom:-1px;z-index:10;width: 198px;height: 2px;background:#2d8ef3; }*/
/*.itmes_wrap980 .leftSide li.act .whiteLine{display:block;position:absolute;right:-2px;top:0;z-index:9;width:2px;height: 35px;background: #fff;overflow:hidden;}*/
.storeyL_list span.potiner_h{display: block;position:absolute;right:18px;top:15px;width:0;height:0;line-height:0;border:5px solid transparent;border-left-color:#dbd7d7;}
.storeyL_list span.potiner_h{top:10px;right:0px;}
.itmes_wrap980 .leftSide li .potiner_h{font-style: normal;}
.itmes_wrap980 .leftSide .sideBox{display:none;position:absolute;top:0px;left:196px;width: 776px;padding-bottom: 10px;background: #fff;border:2px solid #2d8ef3;overflow: hidden;}
.itmes_wrap980 .leftSide .nodeLists{float:left;width: 538px;}
.itmes_wrap980 .leftSide .topL{padding:0 20px;float:left;}
.itmes_wrap980 .leftSide .topL h3,.itmes_wrap980 .leftSide .topR h3{width: 498px;height: 30px;border-bottom: 1px solid #f0f0f0;overflow: hidden;}
.itmes_wrap980 .leftSide .topL p{width: 498px;padding-top:2px;line-height: 22px;overflow:hidden;}
.itmes_wrap980 .leftSide .topL p.pt14{padding-top: 14px;}
.itmes_wrap980 .leftSide .topL p a,.itmes_wrap980 .leftSide .bottom p a{display:inline;float:left;padding:0 6px;font-size: 12px;color:#959595;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) left center no-repeat;white-space: nowrap;}
.itmes_wrap980 .leftSide .topL p .bigTitle{padding-left: 0;padding-right:16px;width: 86px;text-align:right;font:bold 12px/22px "";color:#ff0000;background: none;}
.itmes_wrap980 .leftSide .top .pt5{padding-top: 5px;}
.itmes_wrap980 .leftSide li a:hover,.itmes_wrap980 .leftSide .topL p a:hover,.itmes_wrap980 .advStation .other_msg a:hover{color:#ff0000;}
.itmes_wrap980 .leftSide .topR{float:right;margin-right: 25px;width: 240px;}
.itmes_wrap980 .leftSide .topR p{padding-left: 0;border: 0;}
.itmes_wrap980 .leftSide .topL i{display:inline;margin:14px 0 0 4px;float:left;width: 15px;height: 9px;background: url("http://res.360kad.com/theme/default/img/2014newKad/newKad_allbgs.png") no-repeat -151px -86px;}
.itmes_wrap980 .leftSide .topL .title{float:left;}
.itmes_wrap980 .leftSide .hot_research{margin:0 20px 5px 20px;border-bottom:1px solid #f0f0f0;background: url(http://res.360kad.com/theme/default/img/2014newKad/hot_research_icon.png) no-repeat 32px 12px;}
.itmes_wrap980 .leftSide .bottom p{padding:0 14px 5px;overflow:hidden;}
.itmes_wrap980 .leftSide .bottom p a{line-height: 22px;background:url(http://res.360kad.com/theme/default/img/2014newKad/abor_bg.png) right center no-repeat;white-space: nowrap;}
/*推荐商品*/
.itmes_wrap980 .advStation{float:right;padding:18px 10px;width: 218px;overflow:hidden;background: #fff;}
.itmes_wrap980 .advStation .adv_title span{float:left;font:bold 16px/18px "Microsoft YaHei";color:#000;}
.itmes_wrap980 .advStation .adv_title .closeBtn{float:right;font-weight: normal;color:#acaca9;cursor: pointer;}
.itmes_wrap980 .advStation .pro_pic{padding:22px 0 16px;}
.itmes_wrap980 .advStation .other_msg{line-height: 26px;}
.itmes_wrap980 .advStation .other_msg a{color:#959595;}
.itmes_wrap980 .leftSide .nodeLists-zxL{width: 385px;}
.itmes_wrap980 .leftSide .nodeLists-zxL .topL,.itmes_wrap980 .leftSide .nodeLists-zxL h3{width: 345px;}
.itmes_wrap980 .leftSide .nodeLists-zxL .sub-nodeList{float: left;width: 243px;}
.itmes_wrap980 .leftSide .nodeLists-zxR{float: right;}
/*用药问答*/
.kad-mc-ask{position:relative;z-index:20;}
.kad-mc-ask i{position:absolute;right:5px;top:18px;
	
}
#kad-mc-askBox1{border-top:none;}
#kad-mc-askBox1 a:hover{color:red;text-decoration:underline;}
.kad-mc-askBox{display:none;padding:5px 0;position:absolute;top:38px;z-index:8;border:1px solid #e0e0e0;background:#fff;font-size:12px;}
#kad-mc-askBox{display:none;position:absolute;top:38px;width: 142px;height: 385px;border: 0;padding: 0;}
#kad-mc-askBox p{font-size:16px;line-height:170%;}
#kad-mc-askBox p.fistP{color:#000000;font-weight:bold;font-family:"Microsoft YaHei";}
#kad-mc-askBox p.secendP{color:red;}
.navclist li .kad-mc-askBox a{padding-left:18px;float: left;width: 74px;color:#666;text-align: center;line-height:24px;height:24px;font-weight:normal;text-align:left;}
.navclist li .kad-mc-askBox a:hover{background:none;}
.navclist li .kad-mc-askBox .pl16{padding-left: 16px;}


/* 资讯 */
.topcollect{border:1px solid #fff}.topcollecthover{border-color:#e55535}.topcollectcon{height:33px;line-height:33px;position:relative;text-align:center;width:980px}
.swidth1200 .topcollectcon{width:1200px}.topcollectcon p{color:#666;width:570px}.topcollectcon p i{background:url("http://res.360kad.com/theme/default/img/img/header_bg.png") no-repeat scroll 0 -416px rgba(0,0,0,0);float:left;height:33px;margin-right:20px;width:30px}
.topcollectcon p a#nocollectkad{text-decoration:underline}.topcollectcon p strong,.topcollectcon p span.red{color:#e53b04}.topcollectcon p strong.haswhite{margin-right:40px}.topcollectcon p span.red{margin-right:50px}.topcollectcon a#closecollect{background:url("http://res.360kad.com/theme/default/img/header_bg.png") no-repeat scroll -30px -416px rgba(0,0,0,0);height:14px;position:absolute;right:10px;top:10px;width:18px}
/*20150331*/
.navigation{width:980px; line-height:30px;}

.wrap{width:980px;}


.swidth1200 .wrap {
    clear: both;
    width: 1200px;
}

/* 1200px 独有*/
.swidth1200 .wrap{width:1200px;clear:both;}.swidth1200 .header_t{width:1200px;}.swidth1200 .header{width:1200px; }.swidth1200 .header .header_r{width:760px; }
.swidth1200 .nav_r{width:304px;_width:303px;}.swidth1200 .txtSearch_bg{width:478px;}.swidth1200 .txtSearch_bg input{width:374px;}.swidth1200 .footer dl{padding-left:26px;width:130px;}
.prolist .search_again{padding-bottom:15px;}
/* 搜索框 */
.txtSearch_bg{background:#2d8ef3;height:32px;line-height:32px;display:block;float:left;width:478px; position: relative;}
.txtSearch_bg input{border:none;background:#fff;float:left; width:374px;padding-left:5px;color:#666;height:26px;line-height:26px} .wrap .txtSearch_bg .btn_search{background:none;width:93px;height:32px;cursor:pointer;margin-top:0;float:left;font-size: 16px;color:#fff;font-family: "Microsoft YaHei";}
.txt_search{margin-left:3px;margin-top: 3px;border:none;background:none;float:left; width:340px;padding-left:5px;color:#666;height:35px;line-height:35px}
.txtSearch_bg samp,.txtSearch_bg b{display:none;width:3px;height:35px;background:url(http://res.360kad.com/theme/default/img/header_bg.png) no-repeat 0 -38px;float:left;}

/*男科导航*/
.w980 .Main_nav{height:36px;background:#3f0057;clear:both;}
.w980 .Main_nav .sub_nav{width:1200px;line-height:36px;}
.w980 .Main_nav .sub_nav .sub_nav_l{width:194px;height:36px;font-size:18px;font-weight:bold;padding-left:20px;background:url(http://skin.360kad.com/skin/piyao/new_mens/men_spirit.png) no-repeat 0 -178px;float:left;}
.w980 .Main_nav .sub_nav .sub_nav_l a{color:#fff;}
.w980 .Main_nav .sub_nav .sub_nav_l a:hover{color:#ffde00;}
.w980 .Main_nav .sub_nav .sub_nav_m{width:670px;float:left;}
.w980 .Main_nav .sub_nav .sub_nav_m li{width:95px;float:left;font-size:14px;font-weight:bold;}
.w980 .Main_nav .sub_nav .sub_nav_m li a{display:block;color:#fff;text-align:center;}
.w980.Main_nav .sub_nav .sub_nav_m li a:hover{background:#a9005f; text-decoration:none;}
.w980 .Main_nav .protect{width:118px;float:right;}
.red{color:#ff0000;}
/*医疗器械导航*/
.qxw980 .sortBox{width:100%;height:30px;line-height:30px;background:#3371c5;}
.qxw980 .mainNav{width:1200px;}
.qxw980 .mainNav p.left,.mainNav ul.ulList{float:left;color:#fff;}
.qxw980 .mainNav p.left{position:relative;z-index:1;}
.qxw980 .mainNav p.left{width:228px;font:bold 14px/30px 'Microsoft YaHei';padding-left:22px;}
.qxw980 .mainNav p.left i{width:5px;height:9px;position:absolute;right:24px;top:11px;overflow:hidden;background:url(http://res.360kad.com/theme/default/img/devices/sp_bg.png) no-repeat -273px -40px;}
.qxw980 .mainNav p.left i.pn_icon{width:9px;height:5px;top:13px;background:url(http://res.360kad.com/theme/default/img/devices/pn_icon.png) no-repeat;}
.qxw980 .mainNav ul.ulList li{float:left;width:90px;text-align:center; background:url(http://res.360kad.com/theme/default/img/devices/li_icon_07.png) no-repeat right center;}
.qxw980 .mainNav ul.ulList li.removeBg{background:none;}
.qxw980 .mainNav ul.ulList li a{color:#fff;display:block;}
.qxw980 .mainNav ul.ulList li a:hover{background:#244f8a; text-decoration:none;}
.qxw980 .mainNav p.right a{width:120px;height:30px;float:right;margin-right:15px;display:display:inline;background:url(http://res.360kad.com/theme/default/img/devices/sp_bg.png) no-repeat -72px -43px; text-indent:-999em;}
/*侧栏菜单*/
.qxw980 .zoneA .leftSide{width:238px;float:left;height:307px;position:relative;z-index:3;border-left:1px solid #ccc;}
.qxw980 .navList{border-top:1px solid #ccc;background:#fff;}
.qxw980 .zoneA .navList li{padding-left:48px;height:46px;line-height:46px;border-bottom:1px solid #ccc;position:relative;cursor:pointer;_cursor:hand;}
.qxw980 .zoneA .navList li.addCla{background:none;border-right:1px solid #ccc;}
.qxw980 .zoneA .navList li a.title{font:bold 16px/50px 'Microsoft YaHei';}
.qxw980 .lIcon1{width:17px;height:16px;display:block;overflow:hidden;background:url(http://res.360kad.com/theme/default/img/devices/gray_icon.png) no-repeat -21px -21px;position:absolute;left:20px;top:18px;}
.qxw980 .lIcon1_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -21px -21px;}
.qxw980 .lIcon2{width:20px;height:21px;background-position:-19px -66px;top:15px;}
.qxw980 .lIcon2_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -19px -66px;}
.qxw980 .lIcon3{width:16px;height:16px;background-position:-21px -120px;}
.qxw980 .lIcon3_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -21px -120px;}
.qxw980 .lIcon4{width:17px;height:11px;background-position:-21px -173px;}
.qxw980 .lIcon4_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -21px -173px;}
.qxw980 .lIcon5{width:17px;height:14px;background-position:-21px -221px;}
.qxw980 .lIcon5_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -21px -221px;}
.qxw980 .lIcon6{width:21px;height:14px;background-position:-19px -271px;}
.qxw980 .lIcon6_hover{background:url(http://res.360kad.com/theme/default/img/devices/blue_icon.png) no-repeat -19px -271px;}
.qxw980 .rIcon{width:5px;height:9px;display:block;overflow:hidden;background:url(http://res.360kad.com/theme/default/img/devices/sp_bg.png) no-repeat -280px -40px;position:absolute;right:12px;top:18px;}
.qxw980 .rIcon_hover{background:url(http://res.360kad.com/theme/default/img/devices/sp_bg.png) no-repeat -273px -50px;}
.qxw980 .showBox{width:520px;background:#fff;height:449px;position:absolute;left:238px;top:0;z-index:8;display:none;cursor:pointer;_cursor:hand;border:1px solid #ccc;border-left:0;padding:10px 0;}
.qxw980 .showBox .box1{width:480px;margin:0 20px;}
.qxw980 .box1 .subList li{height:auto;line-height:24px;border-bottom:1px dashed #ccc;padding:4px 0;}
.qxw980 .box1 .subList li .mainTitle{width:40px;color:#000;font-weight:bold;padding-right:10px;display:block;float:left;}
.qxw980 .box1 .subList .aBox a{float:left;padding:0 5px;white-space:nowrap;}
.qxw980 .box1 .subList li p.aBox{float:left;width:400px;}
.qxw980 .box1 .subList li a:hover{color:#3371c5; text-decoration:underline;}
.qxw980 .zoneA{width:238px; background:#fff;display:none;position:absolute;left:0;top:30px;z-index:13;}
.qxw980 .mainNav p.left{cursor:pointer;_cursor:hand;}
.qxw980 .zoneA .navList>li{border-right: 1px solid #ccc;} 
.qxw980 .left_wrapper{position:relative;float:left;z-index:100;}
.qxw980 .showBox{left:238px;top:-1px;float:left;}
/*侧栏菜单end*/
.qxw980 .header{height:115px;}

.hotL dl dd{float: left; margin: 0 16px 14px 0;}
.hotL dl{padding-left: 20px;}

.meifuAd{
	width: 315px;
float: right;
}