/*Winglau 2012.12.15*/

/*头部*/
html{height:100%;background-color:#fff;}
*{margin:0 auto; padding:0;}
body{color:#333; font-family:"宋体",Tahoma,Verdana,sans-serif, simsun; font-size:12px;}
div{height:auto;}
ul, li{list-style:none;}
img{border:none;}
h1, h2, h3, h4, h5, h6{/*font-size:14px;*/}a{color:#666;text-decoration:none;}
a:hover{color:#005EAC; text-decoration:underline}
.wrap1200 .header_r_btn_1 a:hover,.wrap1200 .header_r_btn_2 a:hover{color:#ffde00;}
.wrap980 .header_r_btn_1 a:hover,.wrap980 .header_r_btn_2 a:hover{color:##BB0063;}
input, button, select{font-size:12px; vertical-align:middle;}
textarea{padding:5px;color:#333;}
table{border:none;}
.header_top{height:36px;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/header_top_bg.png) repeat-x;}
.wrap1200 .header_t{width:1200px;line-height:36px;}
.wrap980 .header_t{width:980px;line-height:36px;}
.header_t .header_t_r{width:270px;float:right;height:36px;position:relative;z-index:22;}
.wrap1200 .myKADbox ul li a:hover{color:#be0707;}
/* 按钮+弹窗*/
.header_r_btn_1 .i_picture,.header_r_btn_2 .per_cart_i{background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat -64px -22px;width:9px;height:16px;display:block;float:left;margin-top:8px;}.header_r_btn_2 .per_cart_i{background-position:-43px -22px;width:19px;height:17px;}
.header_r_btn_1 .i_picture_1{background-position:-74px -22px;}
.header_r_btn_2 .per_cart_i_1{background-position:-178px -19px;float:right;}
.header_r_btn_1 a.per_kad,.header_r_btn_2 .per_cart{padding-left:3px;float:left;display:block;width:70px;}
.wrap1200.header_r_btn_1 a.per_kad,.wrap1200 .header_r_btn_2 .per_cart{float:right;}
.wrap980 .btn_show,.wrap980 .btn_show1{border:1px solid #b1b1b1;}
.header_r_btn_1{width:90px;height:32px;margin-top:3px;display:block;float:left;padding-left:10px;line-height:32px;text-align:center;color:#666;}
.header_r_btn_2{width:110px;height:32px;margin-top:3px;display:block;float:left;padding-left:50px;line-height:32px;text-align:center;color:#666;}
.header_r_btn_2{background-position:0 -107px}
/* 购物车中商品数量 */
.header_r_btn_2 .cartNum{width:42px;height:18px;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat 0 -28px;position:absolute;top:12px;right:120px;color:#ff1800;line-height:22px;overflow:hidden;}.header_r_btn_1 .myKADbox{display:none;z-index:5;}.goCartbox .title label{color:Red;} 
.header_r_btn_2 .cartNum_1{background-position:-178px 0;right:104px;top:10px;}
.btn_show .myKADbox,.header_r_btn_2 .no_goCartbox_1{background-color:#fff; display:block;padding-bottom:15px; position:absolute;width:276px;top:34px;right:168px;border:solid 1px #b1b1b1; border-top:none;border-radius:3px 0 3px 3px}
.btn_show .myKADbox_1,.header_r_btn_2 .no_goCartbox_2{border:1px solid #8d00c3;}
.wrap1200 .header_r_btn_2 .no_goCartbox_2{right:0px;z-index:5;}
.wrap1200 .header_r_btn_2 .no_goCartbox_2 .title span,.wrap1200 .myKADbox_1 .title span{border-top:0;}
.no_goCartbox,.goCartbox{background-color:#fff; display:block;padding-bottom:15px; position:absolute;width:286px;top:34px;right:108px;border:solid 1px #b1b1b1; border-top:none;border-radius:3px 0 3px 3px}
.wrap1200 .no_goCartbox,.wrap1200 .goCartbox{background-color:#fff; display:block;padding-bottom:15px; position:absolute;width:286px;top:34px;right:108px;border:solid 1px #8d00c3; border-top:none;border-radius:3px 0 3px 3px}
.header_r_btn_2 .no_goCartbox,.header_r_btn_2 .goCartbox{display:none;}.myKADbox .title,.goCartbox .title{background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) repeat-x 0 -301px;padding-right:8px;height:38px;line-height:38px;}
.myKADbox .title span{float:left;width:169px;display:block;/*border-top:1px solid #b1b1b1;*/padding-left:7px;}
.no_goCartbox .title span,.goCartbox .title span{float:left;width:140px;display:block;/*border-top:1px solid #b1b1b1;*/padding-left:7px;}
.header_r_btn_2 .no_goCartbox,.header_r_btn_2 .goCartbox{right:0px;}
.wrap980 .header_r_btn_2 .no_goCartbox,.wrap980 .header_r_btn_2 .goCartbox{right:8px;}
.no_goCartbox p{padding-left:15px;line-height:30px;clear:both; text-align:left;}
.no_goCartbox p.title{padding-left:0px;height:10px}
.btn_show1 .no_goCartbox .CBlue{color:#167ccb}
.goCartbox ul{padding:5px;}
.goCartbox ul li{clear:both;padding:5px 0px;line-height:20px;border-bottom:1px dashed #e3e3e3;clear:both;}
.goCartbox ul li img{width:60px;height:40px;vertical-align:middle;}
.header .btn_show,.header .btn_show1{border-radius:3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;width:119px;height:36px;background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) repeat-x 0 -341px;border:solid 1px #b90623;border-bottom:none;}
.header .btn_show1{background-position:0 -378px;}
/*马上登录*/
.myKADbox .title a{width:77px;height:25px;display:block;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat -224px -0;float:right;margin-top:10px;line-height:21px;text-align:center;}
.myKADbox .title a:hover{text-decoration:none;}
.myKADbox .title samp{color:#136cbf}
.myKADbox ul{padding-left:10px;clear:both;}
.myKADbox ul li{width:110px;float:left;margin:0 9px;display:inline;line-height:40px;border-bottom:dashed 1px #e3e3e3;text-indent:2px;height:40px;margin-bottom:4px;text-align:right;}
.myKADbox ul li a:hover{background-color:#f4f4f4;color:#be0707;text-decoration:none;height:36px;display:block;}
.myKADbox ul li.no_br,.categorys .item_m_c dl.no_br{border:none;}
.goCartbox_l{width:65px;float:left;overflow:hidden;}
.goCartbox_l a{display:block;border:1px solid #fff;width:60px}
.goCartbox_l a:hover{border:solid 1px #ddd;}
.goCartbox_m{width:75px;float:left;height:40px;padding-right:5px;overflow:hidden;}
.goCartbox_r span{display:block;padding-left:5px}
.goCartbox_r .btn_del{text-align:right;}
.goCartbox_r .btn_del a{color:#177ecb}
.goCartbox_r .price{color:#9a0909;}
.goCartbox_r .num_p{font-weight:bold;text-align:left;}
.goCartbox .btn_goCart{text-align:right;color:red;font-weight:bold;font-size:14px;padding:8px 10px 0 0;line-height:18px;clear:both;}
.goCartbox .btn_goCart a img{background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat -160px -56px;width:88px;height:28px;vertical-align:middle;}
/* end 按钮+弹窗*/ 
.header_t .header_t_l{width:390px;float:left;}
.header_top .header_t_l .wh{color: #3F7FC4;font-size:14px;font-weight:bold;}
.header_t .header_t_m{width:260px;float:right;padding-left:25px;text-align:right;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/phone_icon.png) 5px 5px no-repeat;}
.header_top .header_phone{color:#c90808;font:bold 17px Arial;}

/* 搜索框 */
.txtSearch_bg{position: relative;height:35px;line-height:35px;display:block;float:left;width:388px;} 
.txtSearch_bg input{border:none;outline:none;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat 0 -219px;float:left;width:310px;color:#666;height:35px;line-height:35px}
.txtSearch_bg .btn_search{background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) no-repeat -41px -41px;width:70px;height:29px;cursor:pointer;float:left;}
.txtSearch_bg .search_ico{width:31px;height:29px;margin-top:3px;background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) no-repeat -3px -38px;float:left;}
.txt_search{border:none;background:none;float:left; width:343px;padding-left:8px;color:#666;height:35px;line-height:35px}
.header .txtSearch_bg .btn_search{border:none;cursor:pointer;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/men_spirit.png) no-repeat -100px 0;width:70px;height:35px;vertical-align:middle;float:left;}
.txtSearch_bg .search_ico{width:31px;height:29px;margin-top:3px;background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) no-repeat -3px -38px;float:left;}
.txtSearch_bg samp,.txtSearch_bg b{display:block;width:3px;height:35px;background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) no-repeat 0 -38px;float:left;}
.txtSearch_bg b{background-position:-35px -38px;float:left;}
.header_r_l{width:388px;float:left;}
.wrap1200 .header_r_l{width:488px;}.header_r_l p{padding-top:8px;float:left;width:390px;}
/* end 搜索框 */
/*中间头部*/
.wrap1200 .header{width:1200px;clear:both;padding-top:10px;}
.wrap980 .header{width:980px;clear:both;padding-top:10px;}
.wrap1200 .header .header_logo,.wrap980 .header .header_logo{float:left; position:relative;}
.header_logo .logoGG{ position:absolute; z-index:2;  left:176px; top:0;}
.wrap1200 .header_r{width:785px;float:right;margin-top:20px;}
.wrap980 .header .header_r{width:615px;float:left;margin-top:20px;}
/*更多频道*/
.more_chan{width:68px;margin:40px 0 0 0;float:left;display:inline;}
.more_chan_hd{display: block;height: 21px;line-height: 15px;position: relative;background:url(../images/men_spirit.png) no-repeat -20px 0;}
.more_chan_sub{display:none;padding-top:2px;position:absolute;z-index:999;width:66px;background:#942dba;border:1px solid #dcdcdc;border-top:0;}
.more_chan_sub a{color: #ecd4ff;display:block;height:22px;line-height:22px;overflow: hidden;padding-left:6px; text-decoration:none;}
.more_chan_sub a:hover{width:60px;color:#fff;background:#7700a5; text-decoration:none;}
.more_chan_hd_1{background-position:-240px -27px;}
/*更多频道end*/
.See_Kad{width:200px;height:36px;line-height:36px;background:url(../images/men_spirit.png) no-repeat 0 -139px;float:right;text-align:right;padding-right:20px;}
.See_Kad a:hover{color:#ff1800;text-decoration:none;}
/*中间头部end*/
/*导航*/
.Main_nav{height:36px;background:#3f0057;clear:both;}
.wrap1200 .Main_nav .sub_nav{width:1200px;line-height:36px;}
.wrap980 .Main_nav .sub_nav{width:980px;line-height:36px;}
.Main_nav .sub_nav .sub_nav_l{width:214px;height:36px;font-size:18px;font-weight:bold;padding-left:20px;background:url(../images/men_spirit.png) no-repeat 0 -178px;float:left;}
.Main_nav .sub_nav .sub_nav_l a{color:#fff;}
.Main_nav .sub_nav .sub_nav_l a:hover{color:#ffde00;}
.Main_nav .sub_nav .sub_nav_m{width:670px;float:left;}
.wrap980 .Main_nav .sub_nav .sub_nav_m{width:635px;float:left;}
.Main_nav .sub_nav .sub_nav_m li{width:95px;float:left;font-size:14px;font-weight:bold;}
.wrap980 .Main_nav .sub_nav .sub_nav_m li{width:90px;float:left;font-size:14px;font-weight:bold;}
.Main_nav .sub_nav .sub_nav_m li a{display:block;color:#fff;text-align:center;}
.Main_nav .sub_nav .sub_nav_m li a:hover{background:#a9005f; text-decoration:none;}
.wrap1200 .protect{width:118px;float:left;display:none;}
.wrap980 .protect{width:118px;float:right;}
/*1200登录/购物车*/
/* .wrap1200 .cart_box{height:36px;background:url(http://res.360kad.com/theme/default/img/skin/piyao/new_mens/cart_bg.png) no-repeat 5px 0;display:inline;float:right;position:relative;z-index:10;}
 */.per_kad_1,.per_cart_1{color:#fff;}
/*1200登录/购物车end*/

/* 底部 */
.wrap1200 .wrapper_ft{width:1200px;clear:both;}
.wrap980 .wrapper_ft{width:980px;clear:both;}
.wrap1200 .footer{width:1198px;float:left;margin-top:10px;background:url(http://res.360kad.com/theme/default/img/skin/img/footer_bg.png) repeat-x 0 -219px;background-color:#eee;border:solid 1px #c1c1c1;height:100%;overflow:hidden;padding:20px 0;}
.wrap980 .footer{width:978px;float:left;margin-top:10px;background:url(http://res.360kad.com/theme/default/img/skin/img/footer_bg.png) repeat-x 0 -219px;background-color:#eee;border:solid 1px #c1c1c1;height:100%;overflow:hidden;padding:20px 0;}
.footer dl{padding-left:26px;width:130px;border-right:1px dashed #bdbdbd;float:left;}
.footer dl dt{background:url(http://res.360kad.com/theme/default/img/skin/img/footer_bg.png) no-repeat;height:34px;line-height:34px;padding-left:40px;font-size:16px;font-weight:bold;margin-bottom:10px;}
.footer dl dd{padding-left:22px;line-height:24px;}
.footer dl dd p{padding-left:20px;background:url(http://res.360kad.com/theme/default/img/skin/img/footer_bg.png) no-repeat 0 -161px;}
.footer .foot_t02 dt{background-position:0 -32px;}
.footer .foot_t03 dt{background-position:0 -62px;}
.footer .foot_t04 dt{background-position:0 -96px;}
.footer .foot_t05 dt{background-position:0 -129px;}
.footer .foot_t05{border:none;background:url(http://res.360kad.com/theme/default/img/skin/img/foot_r_bg.gif) no-repeat right;width:180px}.footer_r .line{background:url(http://res.360kad.com/theme/default/img/skin/img/footer_bg.png) 0 -187px;height:22px;width:18px;vertical-align:middle;}
.footer_r a{color:#333;}
.footer_r{text-align:center;width:350px;float:right;}
.footer_r p{margin-top:10px;}
.footer_b{width:980px;clear:both;padding-top:10px;}
.footer_r .foot_phone{background:url(http://res.360kad.com/theme/default/img/skin/img/foot_phone.gif);height:41px;width:335px;}
.flinktitle{font-weight:bold;width:90px;float:left;}
.flinkcon{width:800px;float:left;line-height:22px;height:22px;overflow:hidden;}
.flinkcon a{margin-right:8px;} 
.footer_b .hover{height:100%;overflow:hidden;}
.friendLink{line-height:22px;padding-top:5px;clear:both;width:900px;overflow:hidden;}
.aboutKad{border:solid 1px #ccc;clear:both;height:30px;line-height:30px;font-weight:bold;margin:10px 0px;clear:both;}
.aboutKad p{width:900px; text-align:center;}
.aboutKad p a{color:#333}
.bottomMain{width:980px;height:auto;line-height:23px;margin:0 auto}
.bottomMain a{color:#3e3e3e}
.bottomLeft{width:484px;height:65px;float:left;padding-left:10px;margin-left:15px}
.bottomLeft p{height:28px;padding-top:2px}
.bottomLeft .bottomPadding01{padding-left:10px;padding-right:10px}
.bottomLeft .bottomPadding02{padding-right:5px}
.bottomRight{width:410px;height:75px;float:left;padding-left:20px}
.bottomRight a{cursor:pointer}
.bottomRightIcon{width:410px}
.bottomRightIcon li{height:40px;float:left}
.bottomRightIcon li p{height:18px;line-height:24px;_line-height:16px;_padding-top:5px}
.bottomRightIcon li.bottomWidth02 p{height:36px;line-height:36px}
.bottomMargin{margin-left:30px;margin-top:4px;margin-right:4px}
.bottomWidth01{width:50px}
.bottomWidth02{width:130px}
.bottomIconPos1{margin-top:6px}
.bottomIconPos2{margin-top:5px;margin-left:4px;margin-right:4px}
.bottomIconPos3{margin-top:0;margin-left:4px;margin-right:4px}
.wrap980 .footer dl{width:125px;padding-left:10px}
.wrap980 .foot_img_1200{display:none;}
.wrap980 .footer_r .foot_phone{width:280px;background:url(http://res.360kad.com/theme/default/img/skin/img/foot_phone_small.gif)}
.wrap980 .footer_r{width:290px;float:right;}
.Main_nav .sub_nav .sub_nav_m li.on{background:#a9005f;}
/* end 底部 */ 

/*促销选项 2013-1-7*/
.wrapper_mm ul li{position:relative;}
.wrapper_mm .pic span.icon_promotion1,.wrapper_mm .pic span.icon_promotion2,.wrapper_mm .pic span.icon_promotion3,.wrapper_mm .pic span.icon_promotion4{display:block; width:71px; height:33px; position:absolute; left:3px; top:118px; background:url(http://res.360kad.com/theme/default/img/skin/img/icon_promotion20121024.png) no-repeat 0 0;}
.wrapper_mm .pic span.icon_promotion2{background-position:-87px 0 ;}.wrapper_mm .pic span.icon_promotion3{background-position:0px  -43px;}.wrapper_mm .pic span.icon_promotion4{background-position:-87px -43px ;}

.wrapper_mm .pic span.icon_promotion4{
     background:url("http://res.360kad.com/theme/default/img/skin/img/proico/2015adv/320yq_s.png") no-repeat 0;
    height:61px;width:74px;  top:5px;display: block;position: absolute;
}
.wrapper_mm .pic span.icon_promotion5 {
     background:url("http://res.360kad.com/theme/default/img/skin/img/proico/2015adv/320yqOTC_s.png") no-repeat;
     height:61px;width:74px; top:5px;display: block;position: absolute; left:3px;
}
.wrapper_mm .pic span.icon_promotion8{background:url("http://res.360kad.com/theme/default/img/skin/img/proico/2015adv/320gaoji_s.png") no-repeat;
     height:61px;width:74px; top:5px;display: block;position: absolute; left:3px;}
.wrapper_mm .pic span.icon_StockLesstrue {
     background:url("http://res.360kad.com/theme/default/img/skin/img/proico/Christmas/180gaoji.png") no-repeat;
     height:48px;width:180px; display: block;position: absolute; left: 30px; top: 102px;
}

/*新登录样式2013-7-15*/
.newLoginZone{width:220px;float:right;margin-top:1px;}
.newNoLogin{width:220px;height:33px;line-height: 30px;background: url(http://res.360kad.com/theme/default/img/skin/img/mensloginSp_bg.png) no-repeat 0 0;}
.newNoLogin .leftS{width:75px;height:33px;float:left;padding-left:13px;}
.newNoLogin .leftS a,.newNoLogin .rightS a{font-size:14px;color:#6c0098;font-weight: bold;}
.newNoLogin .leftS a:hover{color:#666; text-decoration: underline;}
.newNoLogin .rightS a:hover{text-decoration: underline;}
.newNoLogin .rightS a{color:#fff;}
.newNoLogin .rightS{width:127px;height:33px;float:left;padding-left:5px;float:left;}
/*未登录END*/
.newYesLogin{width:220px;height:33px;line-height: 30px;background: url(http://res.360kad.com/theme/default/img/skin/img/mensloginSp_bg.png) no-repeat 0 -34px;display:none;}
.newYesLogin_hover{background-position: 0 -69px;}
.newYesLogin a{color:#333;}
.newYesLogin .myKadL{width:136px;float:left;position:relative;z-index:3;}
.newYesLogin .myKadMTitle,.vipShareMTtitle{padding-left:25px;font:bold 14px/30px '';color:#fff;}
.myKadList{width:132px;border:1px solid #6c0098;position: absolute;left:2px;top:30px;display:none;background-color: #fff;}
.myKadList li{padding-left: 15px;}
.myKadList li.pl10{padding-left:0;}
.myKadL a:hover{color:#fff;}
.myKadList a:hover{color:#41005a; text-decoration: underline;}
.myKadList li.myKadList_hover a{color:#333;}
.myKadList li.myKadList_hover a:hover{color:#333; text-decoration:none;}
.getInCenterBtn{width:108px;height:25px;margin-top:10px;padding-bottom:10px;background: url(http://res.360kad.com/theme/default/img/skin/img/mensloginSp_bg.png) no-repeat 0 -152px;display: block;}
.getInCenterBtn_hover{background-position:-112px -152px ;}
span.spanColor{color:#ff0000; font-family:'arial';}
span.spanBlack{color:#333;}
/*会员专享*/
.vipShare{width:84px;float:left;position:relative;z-index:3;}
.vipShare .vipShareMTtitle{color:#6c0098;padding-left:10px;}
.newYesLogin .vipShare a{color:#6c0098;}
.vipShare a:hover{ text-decoration: underline;}
.vipShareList{width:216px;background-color: #fff;border:1px solid #6c0098;border-top:0;position:absolute;left:-134px;top:30px;display: none;overflow: hidden;}
.vipShareList li{width:194px;padding-left:22px;position:relative;}
.newYesLogin .vipShareList li a{color:#333;padding-left:53px;}
.newYesLogin .vipShareList li a:hover{color:#41005a;}
.icon1{width:43px;height:18px;background: url(http://res.360kad.com/theme/default/img/skin/img/mensloginSp_bg.png) no-repeat 0 -104px;position:absolute;top:6px;display: block;}
.icon2{background-position: -48px -104px;}
.icon3{background-position: -96px -104px;}
.icon4{background-position: -144px -104px;}
.icon5{background-position: 0 -128px;}
.icon6{background-position: -48px -128px;}
.icon7{background-position: -96px -128px;}
.myKadList li.li_bgclor,.vipShareList li.li_bgclor{background:#eee0f7;}
/*新登录样式END*/
/*购物车右侧*/
.wrp{width:127px;position:fixed;right:0;bottom:0;z-index:14;}
*html .wrp{position:absolute;cursor:pointer;right:0;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-62+"px")}
.cart_product{width:127px;height:58px;background:url(http://search.360kad.com/Content/V3/images/cart_a.png) no-repeat 3px 14px;position:relative;z-index:20;}
.p_num{display:block;width:17px;height:16px;padding-top:2px;background:url(http://search.360kad.com/Content/V3/images/num_bg1.png) no-repeat;color:#fff;text-align:center; vertical-align:middle;}
.p_num_box{width:226px;background:url(http://search.360kad.com/Content/V3/images/p_numg.png) no-repeat center bottom;position:absolute;top:-22px;right:20px;}
.p_num_box .p_num_c{width:224px;border:1px solid #d0d0d0;line-height:24px;overflow:hidden;background:#fff;border-bottom:0;position:absolute;top:-100px;}
/*商品展示购物车*/
.p_num_box .p_num_c ul{float:left;padding:4px 0;margin:0 15px;width:194px;border-bottom:1px dashed #e3e3e3;}
.p_num_pic{width:54px;height:53px;float:left;border:1px solid #d6d6d6;margin-right:5px;display:inline;}
.p_num_intor{width:133px;float:left;display:inline;}
.pd_title{width:103px;float:left;}
.pd_num{float:right;font-weight:bold;}
.pc_pr{color:#fe0000;font-weight:bold;}
.pc_cancel{font-weight:normal;color:#999;}
.Go_cart{color:#fff;margin:15px 0 0 58px;display:block;}
.cart_product a:hover{color:#fff;}
/*购物车右侧END*/

.header_top{background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) repeat-x 0 -265px;height:36px;line-height:36px;color:#666;}
.header_top .header_t_l span{display:block; float:left;}
.header_top .header_t_l{float:left;}
.header_t_l a{display:block; float:left; height:36px;}
.header_t_l .sjhq{float:left; background:url(http://res.360kad.com/theme/default/img/skin/kadad/index/1402/ph_icon_bg.png) no-repeat; width:85px; margin-top:4px; position:relative;z-index:13; }
.header_t_l .sjhq_hover{background-position:0 -70px;}
.header_t_l .sjhq  a{width:85px; height:30px; display:block; text-indent:-9999px; outline:none;}
.header_t_l .sjhq .ph_erweim{display:none; position:absolute; top:30px; left:0; width:169px; height:109px;}
.header_t_l .sjhq_hover .ph_erweim{display:block;}
.header_top .header_t_r{width:655px;float:right;/*text-align:right;*/}
.header_top .header_t_r span{color:#333;}
.header_top .header_line img{background:url(http://res.360kad.com/theme/default/img/skin/img/header_bg.png) no-repeat -139px -38px;width:22px;height:34px;vertical-align:middle;}
.header_top .header_phone{color:#c90808;font:bold 17px Arial;margin-top:2px}
.header .header_r{width:760px;position:relative;z-index:10;float:left;height:90px;}

/*购物车右侧*/
html{ _background:url(about:blank);} 
.navCart{width:162px;position:fixed;_position:absolute;right:0;bottom:0;z-index:9996;}
.cartBody{width:126px;height:43px;background: url("http://res.360kad.com/theme/default/img/skin/img/cartBg_s.png") no-repeat 0 0;positin:relative;float:left;}
.cartBody a.dumpCart{color:#fff;position:absolute;left:58px;top:20px;}
.cartBody a:hover{color:#fff;}
.cartBody span.p_num{width:17px;height:17px;line-height:14px;color:#fff;text-align:center;display:block;background:url("http://res.360kad.com/theme/default/img/skin/img/cartBg_s.png") no-repeat 0 -83px;position:absolute;left:52px;top:-10px;}
.backTop{width:36px;height:32px;float:right;margin-top:11px;background: url("http://res.360kad.com/theme/default/img/skin/img/cartBg_s.png") no-repeat 0 -46px;_cursor:hand;}
.backTop a{width:35px;height:32px;text-indent: -999em;display:block;}
/**0823***/
.p_num{display:block;float:right;width:17px;height:16px;padding-top:2px;background:url(http://search.360kad.com/Content/V3/images/num_bg1.png) no-repeat;color:#fff;text-align:center; vertical-align:middle;}
.p_num_box{width:226px;background:url(http://search.360kad.com/Content/V3/images/p_numg.png) no-repeat center bottom;position:absolute;top:-22px;right:20px;}
.p_num_box .p_num_c{width:224px;border:1px solid #d0d0d0;line-height:24px;overflow:hidden;background:#fff;border-bottom:0;position:absolute;top:-100px;}
/*商品展示购物车*/
.p_num_box .p_num_c ul{float:left;padding:4px 0;margin:0 15px;width:194px;border-bottom:1px dashed #e3e3e3;}
.p_num_pic{width:54px;height:53px;float:left;border:1px solid #d6d6d6;margin-right:5px;display:inline;}
.p_num_intor{width:133px;float:left;display:inline;}
.pd_title{width:103px;float:left;}
.pd_num{float:right;font-weight:bold;}
.pc_pr{color:#fe0000;font-weight:bold;}
.pc_cancel{font-weight:normal;color:#999;}
.Go_cart{color:#fff;display:block;position:absolute;bottom:10px;}
.cart_product a:hover{color:#fff;}
.centerDiv p a:hover{color:#666;}
/*购物车右侧END*/

/*2013-08-13*/
.newList_Wrap{width: 350px;border-top:1px solid #d0d0d0;overflow:hidden;position:absolute;left:-222px;bottom:10px;z-index:10;display:none;}
.pointerBg{width: 350px;height:10px;background:url(http://res.360kad.com/theme/default/img/skin/img/sp_bg0813.png?) no-repeat 0 0;float:left;}
.newList_Box{border:1px solid #d0d0d0;border-top: 0;border-bottom: 0;}
.newList_BoxB{width:288px;height:53px;padding:16px 30px;background: #f5f5f5;color:#333;}
.newList_BoxB .priceMain{width:288px;float:left;padding-bottom:10px;}
.newList_BoxB .leftSide{float:left;}
.newList_BoxB  p.fl_pl{float:right;}
.newList_BoxB .leftSide .newCounts{padding:0 5px;font-weight:bold;color:#ff0000; font-family: "Arial";}
.newList_BoxB .rightSide{float:right;}
.newList_BoxB .rightSide .totalPrices{padding-left:5px;font-weight:bold;color:#ff0000; font-family: "Arial";}
.newGoBuy_Btn{width: 129px;height: 30px;display:block;background:url(http://res.360kad.com/theme/default/img/skin/img/sp_bg0813.png?) no-repeat 0 -16px;float:left;}
/*产品明细*/
.newList_BoxT{width:344px;padding-left:4px;overflow:hidden;background:#fff;}
.newList_BoxT ul{width:330px;float:left;}
.newList_BoxT li{float:left;width:330px;padding:8px 0 6px;border-bottom:1px dashed #e3e3e3;}
.newList_BoxT .leftDiv{width:53px;height:53px;border:1px solid #d2d2d2;float:left;}
.newList_BoxT .leftDiv img{width:53px;height: 53px;}
.newList_BoxT .centerDiv{width:200px;padding-left:8px;line-height:20px;float:left;}
.newList_BoxT .centerDiv p a{color:#666;}
.newList_BoxT .centerDiv .single_prices{padding-right:2px;font-weight:bold;color:#ff0000; font-family: "Arial";}
.productNumber{font-size:14px; font-weight:bold;color:#666; }
.newList_BoxT .rightDiv{width:44px;padding:10px 22px 0 0;float:right;text-align: center;}
.newList_BoxT .rightDiv .reductQu,.newList_BoxT .rightDiv .addQu{width:11px;height: 11px;display:block;margin-top:3px;float:left;background: url(http://res.360kad.com/theme/default/img/skin/img/sp_bg0813.png?) no-repeat -136px -23px;cursor:pointer;_cursor:hand;}
.newList_BoxT .rightDiv .addQu{background-position: -152px -23px;}
.newList_BoxT .rightDiv  .productsCounts{width:22px;height:14px;line-height:14px;padding:1px 0;border:1px solid #b8b8b8;text-align: center;float:left;margin:0 3px;display:inline;}
.newList_BoxT .rightDiv .deleteTxt{width:44px;float:left;padding-top: 9px;display: block;color:#999;}
.newList_BoxT .rightDiv a:hover{color:#999;}
.widthoutPr{background:#f5f5f5;padding:10px;color:#333;line-height:24px;display:none;}
.centerDiv p{width:200px;}
#changeDiv{width:70px;position:absolute;left:0;top:0;}
/*2013-08-13END*/
.red{color:#ff0000;}
/*2015改版底部CSS-start-*/
/*首页底部1200*/
.wrap_footer{width:100%;height:322px;background:#2d8ff4;clear:both;}
.wrap_footer .item01{width:100%;height: 100px;border-bottom: 1px solid #147ce8;}
.wrap_footer .item01 .width1200,.footer_list .width1200{width: 1200px;position: relative;}
.wrap_footer .item01 .width1200 .safeBuy{position:absolute;left:0;top:0;width: 240px;height: 86px;}
.wrap_footer .item02 .width1200{padding:20px 0 0 20px;width: 1180px;}
.wrap_footer .item02{height: 222px;border-top: 1px solid #439ffd;border-bottom:0;overflow: hidden;}
.wrap_footer .item02 .lside{float:left;width: 302px;color:#fff;}
.wrap_footer .item02 .width980 .lside{width: 106px;}
.wrap_footer .item02 .lside .title{padding-bottom: 8px;font:bold 14px/20px ""; text-align: center;}
.wrap_footer .item02 .lside .title02{padding-top: 8px;width: 78px;line-height:16px;text-align: center;}
.wrap_footer .item02 .lside .appCode{float:left;width: 106px;}
.wrap_footer .item02 .lside .appCode .code{width: 106px;height: 106px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/codeallbgs.gif) 0 0 no-repeat;}
.wrap_footer .item02 .lside .appCode .pl8{padding-left: 8px;}
.wrap_footer .item02 .lside .weixinCode{float:right;width: 106px;}
.wrap_footer .item02 .lside .weixinCode .code{width: 106px;height: 106px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/codeallbgs.gif) -106px 0 no-repeat;}
.wrap_footer .item02 .lside .ios,.wrap_footer .item02 .lside .android{display:inline;margin-top: 8px;float:left;}
.wrap_footer .item02 .lside .ios a{float:left;width: 29px;height: 29px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/codeallbgs.gif) -212px 0 no-repeat;}
.wrap_footer .item02 .lside .ios a:hover{background-position:-270px 0;}
.wrap_footer .item02 .lside .android a{float:left;width: 29px;height: 29px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/codeallbgs.gif) -241px 0 no-repeat;}
.wrap_footer .item02 .lside .android a:hover{background-position:-299px 0;}
.wrap_footer .item02 .lside .line{margin:12px 14px 0 14px;float:left;height: 24px;border-left:1px solid #147ce8;border-right:1px solid #439ffd;overflow: hidden;}
.wrap_footer .item02 .mside{float:right;}
.wrap_footer .item02 .width980 .mside{padding-left: 0;float: right;}
.wrap_footer .item02 .mside li{float:left;width: 114px;text-align:left;color:#fff;line-height: 22px;}
.wrap_footer .item02 .mside .phonePic{padding-top: 4px;width: 240px;line-height: 36px;text-align:center;}
.wrap_footer .item02 .mside .phonePic  p {width: 240px;}
.wrap_footer .item02 .mside .phonePic .pt4{padding-top: 4px;}
.wrap_footer .item02 .mside li .title{padding-bottom: 22px;font:bold 16px/24px "";}
.wrap_footer .item02 .mside li a,.wrap_footer .item02 .mside li a:hover{color:#fff;text-decoration: none;}

.footer_list{padding-top: 10px;width:100%;overflow: hidden;line-height:22px;}
.footer_list a{padding-right: 12px;color:#666;}
.footer_list a:hover,.footer_list .aboutKadList a:hover,.footer_list .hyRz li a:hover{color:#ff0000;text-decoration: underline;}
.footer_list p .title{font-weight:bold;color:#666;}
.footer_list p .fl{float:left;}
.footer_list p.friendLinks{height: 22px;overflow: hidden;}
.footer_list p .linkBox{width: 1092px;text-align:left;}
.footer_list .aboutKadList{margin-top: 6px;padding-top:6px;border-top:1px solid #cdcdcd;text-align: center;}
.footer_list .aboutKadList a{padding-right: 0;color:#666;}
.footer_list .diploma_list{padding:0 0 20px 16px;text-align:center;}
.footer_list .diploma_list a{padding-right: 0;}
.footer_list .diploma_list .pr8{padding-right: 8px;}
.footer_list .hyRz{padding-left: 224px;}
.footer_list .hyRz li{padding-left: 8px;float:left;}
.footer_list .hyRz li a{padding-right: 0;float:left;color:#333;line-height:18px;}
.footer_list .hyRz li .txt{padding-right:4px;width:66px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list .hyRz li .item01{padding-left: 1px;width:60px;}
.footer_list .hyRz li .item02{width: 56px;}
.footer_list .hyRz li .item03{padding:4px 8px 0 0;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list .bottom{padding-top: 5px;text-align: center;color:#666;}
.footer_list .bottom a{padding-right: 0;}
/*END首页1200底部*/
/*底部980*/
.categorys{position:relative;z-index:12;}
.wrap_footer .item01 .width980,.footer_list .width980{margin:0 auto;width: 980px;position: relative;}
.wrap_footer .item01 .width980 .safeBuy{position:absolute;left:0;top:0;width: 240px;height: 86px;}
.wrap_footer .item02 .width980{padding:20px 0 0 20px;width: 960px;}
.footer_list980{padding-top: 10px;width:100%;overflow: hidden;line-height:22px;}
.footer_list980 a{padding-right: 12px;color:#666;}
.footer_list980 a:hover,.footer_list980 .aboutKadList a:hover,.footer_list980 .hyRz li a:hover{color:#ff0000;text-decoration: underline;}
.footer_list980 p .title{font-weight:bold;color:#666;}
.footer_list980 p .fl{float:left;}
.footer_list980 p.friendLinks{height: 22px;overflow: hidden;}
.footer_list980 p .linkBox{width: 915px;text-align:left;}
.footer_list980 .aboutKadList{margin-top: 6px;padding-top:6px;border-top:1px solid #cdcdcd;text-align: center;}
.footer_list980 .aboutKadList a{padding-right: 0;color:#666;}
.footer_list980 .diploma_list{padding:0 0 20px 16px;text-align:left;}
.footer_list980 .diploma_list a{padding-right: 0;}
.footer_list980 .diploma_list .pr8{padding-right: 8px;}
.footer_list980 .hyRz{padding-left: 110px;}
.footer_list980 .hyRz li{padding-left: 8px;float:left;}
.footer_list980 .hyRz li a{padding-right: 0;float:left;color:#333;line-height:18px;}
.footer_list980 .hyRz li .txt{padding-right:4px;width:66px;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list980 .hyRz li .item01{padding-left: 1px;width:60px;}
.footer_list980 .hyRz li .item02{width: 56px;}
.footer_list980 .hyRz li .item03{padding:4px 8px 0 0;background: url(http://res.360kad.com/theme/default/img/skin/img/2014newKad/rightLine.png) no-repeat right 6px;}
.footer_list980 .bottom{text-align: center;color:#666;}
.swidth980,.width980{width: 980px;}
.swidth980 .header_r{float: left;width: 650px;}
/*2015改版底部样式-end-*/