{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/finance/tabs'}
 
 <div class="rightlist">
<div class="panel panel-default">
    <div class="panel-heading">总数：{$total}</div>
    <div class="panel-body ">
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr>
                    <th style='width:50px;'>编号</th>
                    <th style='width:120px;'>转让人</th>
                    <th style='width:120px;'>受让人</th>
                    <th style='width:120px;'  class='hidden-xs'>金额</th>
                    <th style='width:120px;' class='hidden-xs'>转让时间</th>
                    <th style='width:120px;'>状态</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $row}
                <tr>

                    <td>{$row['id']}</td>
                    <td>{$row['tosell_realname']}({$row['tosell_id']})</td>
                    <td>{$row['assigns_realname']}({$row['assigns_id']})</td>
                    <td>{$row['money']}</td>
                    <td>{$row['createtime']}</td>
                    <td>{if $row['status']=='-1'}失败{else if $row['status']=='0'}进行中{else}已到账{/if}</td>

                </tr>
                {/loop}
            </tbody>
        </table>
           {$pager}
    </div>
</div>
</div>
</div>
{template 'web/_footer'}
