/**file:mobile2.0/mlzla.css**/
@charset "utf-8";

html {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
}
body {
    width: 100%;
    min-width: 320px;
    color: #4C4C4C;
    background: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
}
html, body{ height: 100%;}
body, em, b, ol, a, i, span, header, nav, strong {
    margin: 0;
    padding: 0px;
    display: inline-block;
}
ul, li, dl, dt, dd, p, h1, h2, h3, h4, hr {
    margin: 0;
    padding: 0;
}
h1{ font-size: 1.8rem;}
img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
}
label{ font-weight: normal;}
input, textarea{ 
    font-family: "Microsoft YaHei","simsun","Helvetica Neue", Arial, Helvetica, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, li { list-style: none; font-weight: normal;}
a { text-decoration: none; color: #333;}
a:focus { outline: none;}
textarea { resize: none;}
i{ font-style: normal;}
strong, h1, h2{ font-weight: normal;}

.fl{ float: left!important;}
.fr{ float: right!important; }
@media screen and (min-width:641px) {
    .fenxwap {
        width: 640px;
        margin: 0 auto;
    }
}

/*红包*/
.fenxbg{
    background: url(../images/fenxbg.jpg) no-repeat #15212b;
    background-size: 100%;
    overflow: hidden;
}
.fenx-img{
    text-align: center;
    width: 80%;
    margin: 20px auto 30px;
}
.fenxinpu{
    width: 85%;
    margin: 0 auto 10px;
    display: block;
    height: 45px;
    border-radius: 3px;
    background: #ffffff;
    border: none;
    padding: 0 15px;
    font-size: 14px;
}
.fenxinpu-div{ position: relative; }
.fenxhuoqu{
    position: absolute;
    right: 10%;
    top: 5px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #00aaee;
    color: #00aaee;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    padding: 0 8px;
}
.btnfenx-bg{    
    height: 45px;
    border-radius: 45px;
    background: #074c7d;
    width: 85%;
    margin: 30px auto 0;
    position: relative;
}
.btnfenx-bg a{ 
    position: absolute;
    top: -3px;
    left: 0;
    display: block;   
    height: 45px;
    border-radius: 45px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    background: #1377bf;
    width: 100%;
}
.btnuse-bg{ 
    display: block;   
    height: 45px;
    border-radius: 45px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    border: 2px solid rgba(255,255,255,0.5);
    margin: 40px auto;
    width: 85%;
}
/*下载客户端*/
.xiazbg{ background: #04a6d5;}
.xiazh1{ 
    font-size: 26px;
    text-align: center;
    color: #ffffff;
    margin: 40px 0 70px;
    font-weight: bold;
}
.btnwrap{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.btnxiaz{
    background: #eeeeee;
    padding: 30px 0;
}
.btnxiaz a{
    display: block;
    height: 45px;
    border-radius: 45px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 45px;
    background: #f40118;
    width: 200px;
    margin: 0 auto;
}
.btnbg img{ width: 100%;}
/*支付成功*/
.bgf8{ background: #f8f8f8;}
.paysuccess-wrap{ background: #ffffff; text-align: center; padding-bottom: 30px; border-bottom: 1px solid #eeeeee;}
.paysuccess-wrap img{ width: 80px; margin: 70px auto 10px;}
.paysuccess-wrap h1{ font-size: 21px; }
.btn-paysuccess{
    background: #ffffff;
    font-size: 18px;
    overflow: hidden;
    padding: 30px 3%;
    border-bottom: 1px solid #eeeeee;
}
.btn-paysuccess a{
    display: block;
    border-radius: 5px;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}
.goto-buy{ border: 1px solid #11cd6e; color: #11cd6e;}
.goto-repay{ border: 1px solid #ff5373; color: #ff5373;}
.goto-check{ border: 1px solid #888888; color: #888888; margin-top: 15px;}
.payseccess-notice{
    padding: 30px 3% 0;
    font-size: 12px;
    color: #999999;
    line-height: 25px;
}
.payseccess-notice i{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    border: 1px solid #999999;
}
.payinfo{ padding: 15px 3% 0; background: #ffffff;}
.payinfo h1{
    font-size: 17px;
    margin-bottom: 10px;
}
.payinfo p{
    font-size: 12px;
}
/*消息列表*/
.yznews{
    padding: 20px 10px;
} 
.yznews li{
    float: left;
    width: 100%;
    padding: 0 10px;
}
.yznews li a{ 
    display: block;
    float: left;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 16px 10px 0;
    width: 100%;
}
.yznews li h1{ font-size: 15px; height: 15px; width: 100%; line-height: 15px; overflow: hidden;}
.yznews li time{ font-size: 12px; color: #999999; display: block; margin: 15px 0;}
.yznews li .yznews-list{ 
    font-size: 13px; 
    line-height: 20px; 
    height: 40px; 
    overflow: hidden;
}
.yznews li .yznews-more{ margin-top: 15px; border-top: 1px solid #ededed; font-size: 13px; line-height: 45px; }
.yznews li span{ 
    display: block;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    background: #dddddd;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.yznews-none{
    text-align: center;
    font-size: 14px;
    color: #999999; 
    height: 75px;
    top: 50%;
    left: 0;  
    position: fixed;
    margin-top: -40px;
    width: 100%; 
}
.yznews-none img{
    width: 33px;
    margin: 0 auto 6px;    
}
.yznews .yzread h1, .yzread .yznews-list, .yzread .yznews-more{ color: #999999; }

/*消息详情*/
.yznews-detail{ padding: 20px 10px;background: #fff}
.yznews-detail h1{
    font-size: 15px; 
    width: 100%; 
    line-height: 20px; 
}
.yznews-detail p{
    font-size: 13px; 
    line-height: 25px; 
}
.yznews-detail p a{display: block;}
.yznews-detail time{ font-size: 12px; color: #999999; display: block; margin: 10px 0;}


