{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/sysset/tabs'}
<div class="main rightlist">
<!-- 新增加右侧顶部三级菜单 -->
<div class="right-titpos">
	<ul class="add-shopnav">
    {ifp 'sysset.view.shop'}<li {if $_GPC['op']=='shop'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'shop'))}">商城设置</a></li>{/if}
    {ifp 'shop.notice.view'}<li {if $_GPC['p'] == 'notice'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/notice')}">公告管理</a></li>{/if}
    {ifp 'shop.adpc.view'}<li {if $_GPC['p'] == 'adpc'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adpc')}">广告管理</a></li>{/if}
    {ifp 'sysset.view.member'}<li  {if $_GPC['op']=='member'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'member'))}">会员设置</a></li>{/if}
    {ifp 'sysset.view.template'}<li  {if $_GPC['op']=='template'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'template'))}">模板设置</a></li>{/if}
    {ifp 'shop.adv.view'}<li {if $_GPC['p'] == 'adv'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adv')}">幻灯片管理</a></li>{/if}
    {ifp 'sysset.view.category'}<li  {if $_GPC['op']=='category'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'category'))}">分类层级</a></li>{/if}
    {ifp 'sysset.view.contact'}<li  {if $_GPC['op']=='contact'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'contact'))}">联系方式</a></li>{/if}
    {ifp 'sysset.view.sms'}<li  {if $_GPC['op']=='sms'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'sms'))}">短信设置</a></li>{/if}
	</ul>
</div>
<!-- 新增加右侧顶部三级菜单结束 -->

    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
        <input type='hidden' name='setid' value="{$set['id']}" />
        <input type='hidden' name='op' value="member" />
        <div class="panel panel-default">
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员默认头像</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        {php echo tpl_form_field_image('shop[headimg]', $set['shop']['headimg'])}
                        <span class='help-block'>会员默认头像（会员自定义头像>微信头像>商城默认头像）</span>
                        {else}
                        <input type="hidden" name="shop[headimg]" value="{$set['shop']['headimg']}"/>
                        {if !empty($set['shop']['headimg'])}
                        <a href='{php echo tomedia($set['shop']['headimg'])}' target='_blank'>
                        <img src="{php echo tomedia($set['shop']['headimg'])}" style='width:100px;border:1px solid #ccc;padding:1px' />
                        </a>
                        {/if}
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">默认会员级别名称</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <input type="text" name="shop[levelname]" class="form-control" value="{php echo empty($set['shop']['levelname'])?'普通会员':$set['shop']['levelname']}"  />
                        <span class="help-block">会员默认等级名称，不填写默认“普通会员”</span>
                        {else}
                        <input type="hidden" name="shop[levelname]" value="{$set['shop']['levelname']}" />
                        <div class='form-control-static'>{php echo empty($set['shop']['levelname'])?'普通会员':$set['shop']['levelname']}</div>
                        {/if}
                    </div>
                </div>
	
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员等级说明连接</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <div class="input-group ">
                            <input class="form-control" type="text" data-id="PAL-00010" placeholder="请填写指向的链接 (请以http://开头, 不填则不显示)" value="{$set['shop']['levelurl']}" name="shop[levelurl]">
                            <span class="input-group-btn">
                                <button class="btn btn-default nav-link" type="button" data-id="PAL-00010" >选择链接</button>
                            </span>
                        </div>
                        {else}
                        <input type="hidden" name="shop[levelurl]" value="{$set['shop']['levelurl']}" />
                        <div class='form-control-static'>{$set['shop']['levelurl']}</div>
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员等级升级依据</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <label class="radio radio-inline">
                              <input type="radio" name="shop[leveltype]" value="0" {if empty($set['shop']['leveltype'])}checked{/if}/> 已完成的订单金额
                        </label>
                        <label class="radio radio-inline">
                              <input type="radio" name="shop[leveltype]" value="1" {if $set['shop']['leveltype']==1}checked{/if}/> 已完成的订单数量
                        </label>
                        <label class="radio radio-inline">
                              <input type="radio" name="shop[leveltype]" value="2" {if $set['shop']['leveltype']==2}checked{/if}/> 购买指定商品
                        </label>

                        <span class="help-block">默认为完成订单金额</span> 
                        {else}
                        <input type="hidden" name="shop[leveltype]" value="{$set['shop']['leveltype']}" />
                        <div class='form-control-static'>
							{if empty($set['shop']['leveltype'])}
							    已完成的订单金额
							{else if $set['shop']['leveltype']==1}
							    已完成的订单数量
                            {else if $set['shop']['leveltype']==2}
                                购买指定商品
							{/if}
						</div>
                        {/if}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员等级时间限制</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class='radio-inline'><input type='radio' name='shop[term]' value='0' {if $set['shop']['term']==0}checked{/if} /> 关闭</label>
                        <label class='radio-inline'><input type='radio' name='shop[term]' value='1' {if $set['shop']['term']==1}checked{/if}/> 开启</label>
                    </div>
                </div>

                <div class="form-group"  >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员等级到期时间</label>
                    <div class="col-sm-8">
                        <div class="input-group col-xs-2">
                            <input type="text" name="shop[term_time]" class="form-control" value="{$set['shop']['term_time']}"  />
                            <div class="input-group-addon ">
                                <select name="shop[term_unit]">
                                    <option value ="1" {if $set['shop']['term_unit']==1}selected{/if}>天</option>
                                    <option value ="2" {if $set['shop']['term_unit']==2}selected{/if}>周</option>
                                    <option value ="3" {if $set['shop']['term_unit']==3}selected{/if}>月</option>
                                    <option value ="4" {if $set['shop']['term_unit']==4}selected{/if}>年</option>
                                </select>
                            </div>
                        </div>
                        <span class='help-block'>会员等级到期时间</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">强制绑定手机</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <label class="radio radio-inline">
                              <input type="radio" name="shop[isbindmobile]" value="0" {if empty($set['shop']['isbindmobile'])}checked{/if}/> 否
                        </label>
                       <label class="radio radio-inline">
                              <input type="radio" name="shop[isbindmobile]" value="1" {if $set['shop']['isbindmobile']==1}checked{/if}/> 是
                        </label>
                        <span class="help-block">进入商城是否强制绑定手机号</span> 
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">会员中心显示推荐人</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <label class="radio radio-inline">
                              <input type="radio" name="shop[isreferrer]" value="0" {if empty($set['shop']['isreferrer'])}checked{/if}/> 否
                        </label>
                       <label class="radio radio-inline">
                              <input type="radio" name="shop[isreferrer]" value="1" {if $set['shop']['isreferrer']==1}checked{/if}/> 是
                        </label>
                        <span class="help-block">会员中心显示推荐人</span> 
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">绑定手机</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.member'}
                        <a class="btn btn-warning" href="{php echo $this->createWebUrl('member/query', array('op' => 'delbindmobile'))}" data-original-title="" title="">清除绑定记录</a>
                        <span class="help-block">公众号被封后可使用此功能清除手机号绑定记录，让会员重新绑定找回被封公众号会员信息</span> 
                        {/if}
                    </div>
                </div>

                       <div class="form-group"></div>
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                           {ifp 'sysset.save.member'}
                            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"  />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                          {/if}
                     </div>
            </div>
                       
            </div>
        </div>     
    </form>
</div>
</div>
{template 'web/sysset/mylink'}
{template 'web/_footer'}     
