{template 'web/_header'}

<div class="w1200 m0a">
{template 'web/sysset/tabs'}
<style type="text/css">
    .setmenu .form-group{margin-bottom: 0;}
</style>
<div class="main rightlist">
<!-- 新增加右侧顶部三级菜单 -->
<div class="right-titpos">
	<ul class="add-snav">
		<li class="active"><a href="#">PC端设置</a></li>
	</ul>
</div>
<!-- 新增加右侧顶部三级菜单结束 -->
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
        <input type='hidden' name='setid' value="{$set['id']}" />
        <input type='hidden' name='op' value="pcset" />
        <div class="panel panel-default">
            <div class='panel-heading'>
                基本设置
            </div>
            <div class='panel-body'>  
                <div class="form-group">

                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">PC版开关</label>
                    <div class="col-sm-9 col-xs-12">

                        <label class='radio-inline'><input type='radio' name='pcset[ispc]' value='1' {if $set['shop']['ispc']==1}checked{/if}/> 开启</label>
                        <label class='radio-inline'><input type='radio' name='pcset[ispc]' value='0' {if $set['shop']['ispc']==0}checked{/if} /> 关闭</label>
  
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商城LOGO</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.pcset'}
                        {php echo tpl_form_field_image('pcset[pclogo]', $set['shop']['pclogo'])}
                        <span class='help-block'>长方型图片,建议270*60</span>
                        {else}
                        <input type="hidden" name="pcset[pclogo]" value="{$set['shop']['pclogo']}"/>
                        {if !empty($set['shop']['pclogo'])}
                        <a href='{php echo tomedia($set['shop']['pclogo'])}' target='_blank'>
                           <img src="{php echo tomedia($set['shop']['pclogo'])}" style='width:100px;border:1px solid #ccc;padding:1px' />
                        </a>
                        {/if}
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">幻灯片</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="alert alert-info">
                        PC幻灯片是与手机端同步的，但需单独上传PC幻灯图，
                        <a href="{php echo $this->createWebUrl('shop/adv')}">现在去设置幻灯片。</a>
                        </div>
                    </div>
                </div>
                {if $set['shop']['style_pc']=='default_new'}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">拼图广告</label>
                    <div class="col-sm-9">
                        <div class="input-group"  style="width: 99%;float:left;margin-right:1%">
                            {php echo tpl_ueditor('pcset[pcadv]',$set['shop']['pcadv'])}
                        </div>
                    </div>
                </div>
                {/if}
            </div>
            <div class='panel-heading'>
                SEO优化
            </div>
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商城标题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input class="form-control" type="text" value="{$set['shop']['pctitle']}" name="pcset[pctitle]">
                        <span class="help-block">搜索引擎优化商城标题</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">SEO关键字</label>
                    <div class="col-sm-9 col-xs-12">
                        <input class="form-control" type="text" value="{$set['shop']['pckeywords']}" name="pcset[pckeywords]">
                        <span class="help-block">搜索引擎优化商城关键字</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">SEO描述</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea class="form-control" cols="60" name="pcset[pcdesc]" style="height:100px;">{$set['shop']['pcdesc']}</textarea>
                        <span class="help-block">搜索引擎优化商城描述</span>
                    </div>
                </div>
            </div>
            <div class='panel-heading'>
                推荐码
            </div>
        
            <div class='panel-body'>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否启用</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" name="pcset[isreferral]" value="0" {if $set['shop']['isreferral']==0}checked{/if} /> 禁用
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="pcset[isreferral]" value="1" {if $set['shop']['isreferral']==1}checked{/if} /> 启用
                        </label>
                    </div> 
                </div> 
   
                <div class='panel-heading'>
                    奖励设置
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐人获得</label>
                     <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="pcset[reccredit]" class="form-control" value="{$set['shop']['reccredit']}" />
                            <div class="input-group-addon">积分</div>
                            <input type="text" name="pcset[recmoney]" class="form-control" value="{$set['shop']['recmoney']}" />
                            <div class="input-group-addon">元现金</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用者获得</label>
                     <div class="col-sm-9 col-xs-12">
                        <div class="input-group">
                            <input type="text" name="pcset[subcredit]" class="form-control" value="{$set['shop']['subcredit']}" />
                            <div class="input-group-addon">积分</div>
                            <input type="text" name="pcset[submoney]" class="form-control" value="{$set['shop']['submoney']}" />
                            <div class="input-group-addon">元现金</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖励现金方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" name="pcset[paytype]" value="0" {if empty($set['shop']['paytype'])}checked{/if} /> 余额
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="pcset[paytype]" value="1" {if $set['shop']['paytype']==1}checked{/if} /> 微信钱包
                        </label>
                        <span class='help-block'>如果奖励现金，是打到零钱包还是余额( 打到零钱包需要微信支付，并在后台上传证书)</span>
                    </div> 
                </div>
            <div class="panel-heading">
                通知设置
            </div>
          
              <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">通知模板消息ID（任务处理通知）</label>
                    <div class="col-sm-9 col-xs-12">
                       <input type="text" name="pcset[templateid]" class="form-control" value="{$set['shop']['templateid']}" />
                       <span class="help-block">公众平台模板消息ID:  OPENTM200605630，如果不填写，则使用客服消息发送通知</span>
                    </div>
              </div> 
              <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐者通知</label>
                    <div class="col-sm-9 col-xs-12"> 
                       <input type="text" name="pcset[subtext]" class="form-control" value="{$set['shop']['subtext']}" />
                       <span class="help-block">例如：[nickname] 通过您的推荐码注册账号! 获得了 [credit] 个积分,[money]元奖励!</span>
                       <span class="help-block">[nickname] 为使用者昵称 [credit] 奖励的积分 [money] 奖励的钱 </span>
                    </div>
              </div> 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用者通知</label>
                    <div class="col-sm-9 col-xs-12">
                       <input type="text" name="pcset[entrytext]" class="form-control" value="{$set['shop']['entrytext']}" />
                       <span class="help-block">例如：您使用了 [nickname] 的推荐码注册账号! 获得了 [credit] 个积分,[money]元奖励!</span>
                       <span class="help-block">[nickname] 为推荐者昵称 [credit] 奖励的积分 [money] 奖励的钱 </span>

                    </div>
              </div> 
     
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">使用者现金奖励入账描述</label>
                    <div class="col-sm-9 col-xs-12">
                       <input type="text" name="pcset[subpaycontent]" class="form-control" value="{$set['shop']['subpaycontent']}" />
                       <span class="help-block">默认为：您通过 [nickname]的推荐码注册账号的奖励</span>
                       <span class="help-block">[nickname]为推荐者昵称</span>
                    </div>
                </div> 
                          
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐者现金奖励入账描述</label>
                    <div class="col-sm-9 col-xs-12">
                       <input type="text" name="pcset[recpaycontent]" class="form-control" value="{$set['shop']['recpaycontent']}" />
                       <span class="help-block">默认为：推荐 [nickname] 使用推荐码注册账号的奖励</span>
                       <span class="help-block">[nickname]为使用者昵称</span>
                    </div>
                </div>  
        <div class='panel-heading'>
            推荐码LOGO
        </div>
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐码LOGO</label>
                    <div class="col-sm-9 col-xs-12">
            {ifp 'sysset.save.shop'}
                        {php echo tpl_form_field_image('pcset[referrallogo]', $set['shop']['referrallogo'])}
                        <span class='help-block'>960*258</span>
            {else}
                        <input type="hidden" name="pcset[referrallogo]" value="{$set['shop']['referrallogo']}"/>
                        {if !empty($set['shop']['referrallogo'])}
                        <a href='{php echo tomedia($set['shop']['referrallogo'])}' target='_blank'>
                           <img src="{php echo tomedia($set['shop']['referrallogo'])}" style='width:100px;border:1px solid #ccc;padding:1px' />
                        </a>
                        {/if}
            {/if}
                    </div>
                </div>
            </div>

            </div>



	    <div class='panel-heading'>
            登陆注册
        </div>
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">登陆注册LOGO</label>
                    <div class="col-sm-9 col-xs-12">
			{ifp 'sysset.save.shop'}
                        {php echo tpl_form_field_image('pcset[reglogo]', $set['shop']['reglogo'])}
                        <span class='help-block'>335*230</span>
                        {else}
                        <input type="hidden" name="pcset[reglogo]" value="{$set['shop']['reglogo']}"/>
                        {if !empty($set['shop']['reglogo'])}
                        <a href='{php echo tomedia($set['shop']['reglogo'])}' target='_blank'>
                           <img src="{php echo tomedia($set['shop']['reglogo'])}" style='width:100px;border:1px solid #ccc;padding:1px' />
                        </a>
                        {/if}
                        {/if}
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">注册协议</label>
                    <div class="col-sm-9 col-xs-12">
			<div class="input-group form-group">
                                            <input class="form-control" type="text" data-id="{$set['shop']['reg_agreement']}" placeholder="请填写阅读原文指向的链接 (请以http://开头, 不填则不显示)" value="{$set['shop']['reg_agreement']}" name="pcset[reg_agreement]">
                                            <input class="form-control" type="hidden" value="{$set['shop']['reg_agreement']}" name="pcset[reg_agreement]">
                                            <span class="input-group-addon btn btn-default nav-link" data-id="{$set['shop']['reg_agreement']}" style="background: #fff;" data-original-title="" title="">选择链接</span>
                                        </div>
                    </div>
                </div>
		-->
            </div>
            <div class='panel-heading'>
                内容设置
            </div>
            <div class='panel-body'>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">头部菜单</label>
                <div class="col-sm-9">
                    <div class="panel-body table-responsive" style="padding:0px;">
                        <table class="table setmenu">
                            <thead>
                                <tr>
                                    <th style='width:50px;'></th>
                                    <th>名称</th>
                                    <th>链接</th>
                                </tr>
                            </thead>
                            <tbody id="param-items" class="hmenu">
                                {loop $set['shop']['hmenu_name'] $k $v}
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="fa fa-move" title="拖动调整此显示顺序"><i class="fa fa-arrows"></i></a>&nbsp;
                                        <a href="javascript:;" onclick="deleteParam(this)" style="margin-top:10px;" title="删除"><i class='fa fa-remove'></i></a>
                                    </td>
                                    <td>
                                        <div class="input-group form-group">
                                            <span class="input-group-addon" style="border-right: 0px;">名称</span>
                                            <input class="form-control" type="text" value="{$v}" name="pcset[hmenu_name][]">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group form-group">
                                            <input class="form-control" type="text" data-id="{$set['shop']['hmenu_id'][$k]}" placeholder="请填写阅读原文指向的链接 (请以http://开头, 不填则不显示)" value="{$set['shop']['hmenu_url'][$k]}" name="pcset[hmenu_url][]">
                                            <input class="form-control" type="hidden" value="{$set['shop']['hmenu_id'][$k]}" name="pcset[hmenu_id][]">
                                            <span class="input-group-addon btn btn-default nav-link" data-id="{$set['shop']['hmenu_id'][$k]}" style="background: #fff;" data-original-title="" title="">选择链接</span>
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                            </tbody>
                               {ife 'shop.goods' $item}
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="2">
                                        <a href="javascript:;" id='add-param' onclick="addParam('hmenu')" style="margin-top:10px;" class="btn btn-default"  title="添加菜单"><i class='fa fa-plus'></i> 添加菜单</a>
                                    </td>
                                </tr>
                            </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>  

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">楼层显示</label>
                <div class="col-sm-9 col-xs-12" >
                      
                    <label for="isrecommand" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][isrecommand]" value="isrecommand" id="isrecommand" {if $set['shop']['index']['isrecommand'] == 'isrecommand'}checked="true"{/if} /> 推荐
                    </label>
                    <label for="isnew" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][isnew]" value="isnew" id="isnew" {if $set['shop']['index']['isnew'] == 'isnew'}checked="true"{/if} /> 新上
                    </label>
                    <label for="ishot" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][ishot]" value="ishot" id="ishot" {if $set['shop']['index']['ishot'] == 'ishot'}checked="true"{/if} /> 热卖
                    </label>
                    <label for="isdiscount" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][isdiscount]" value="isdiscount" id="isdiscount" {if $set['shop']['index']['isdiscount'] == 'isdiscount'}checked="true"{/if} /> 促销
                    </label>
                    <label for="issendfree" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][issendfree]" value="issendfree" id="issendfree" {if $set['shop']['index']['issendfree'] == 'issendfree'}checked="true"{/if} /> 包邮
                    </label>
                    <label for="istime" class="checkbox-inline">
                        <input type="checkbox" name="pcset[index][istime]" value="istime" id="istime" {if $set['shop']['index']['istime'] == 'istime'}checked="true"{/if} /> 限时卖
                    </label>

                </div>
            </div>
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">广告管理</label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="alert alert-info">
                        楼层栏目上方可添加横幅广告，
                        <a href="{php echo $this->createWebUrl('shop/adpc')}">现在去设置广告。</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='panel-heading'>
                底部设置
            </div>
            <div class='panel-body'> 
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部菜单</label>
                <div class="col-sm-9">
                    <div class="panel-body table-responsive" style="padding:0px;">
                        <table class="table setmenu">
                            <thead>
                                <tr>
                                    <th style='width:50px;'></th>
                                    <th>名称</th>
                                    <th>链接</th>
                                </tr>
                            </thead>
                            <tbody id="param-items" class="fmenu">
                                {loop $set['shop']['fmenu_name'] $k $v}
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="fa fa-move" title="拖动调整此显示顺序"><i class="fa fa-arrows"></i></a>&nbsp;
                                        <a href="javascript:;" onclick="deleteParam(this)" style="margin-top:10px;" title="删除"><i class='fa fa-remove'></i></a>
                                    </td>
                                    <td>
                                        <div class="input-group form-group">
                                            <span class="input-group-addon" style="border-right: 0px;">名称</span>
                                            <input class="form-control" type="text" value="{$v}" name="pcset[fmenu_name][]">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group form-group">
                                            <input class="form-control" type="text" data-id="{$set['shop']['fmenu_id'][$k]}" placeholder="请填写阅读原文指向的链接 (请以http://开头, 不填则不显示)" value="{$set['shop']['fmenu_url'][$k]}" name="pcset[fmenu_url][]">
                                            <input class="form-control" type="hidden" value="{$set['shop']['fmenu_id'][$k]}" name="pcset[fmenu_id][]">
                                            <span class="input-group-addon btn btn-default nav-link" data-id="{$set['shop']['fmenu_id'][$k]}" style="background: #fff;" data-original-title="" title="">选择链接</span>
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                            </tbody>
                               {ife 'shop.goods' $item}
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="2">
                                        <a href="javascript:;" id='add-param' onclick="addParam('fmenu')" style="margin-top:10px;" class="btn btn-default"  title="添加菜单"><i class='fa fa-plus'></i> 添加菜单</a>
                                    </td>
                                </tr>
                            </tbody>
                            {/if}
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">版权信息</label>
                <div class="col-sm-9">
                    <div class="input-group"  style="width: 99%;float:left;margin-right:1%">
                        {php echo tpl_ueditor('pcset[pccopyright]',$set['shop']['pccopyright'])}
                    </div>
                </div>
            </div>
            <!-- 判断调用pc模板是否为default_drug 显示该模板下内容--> 
           {if $set['shop']['style_pc']=='default_drug'}
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部自定义链接</label>
                    <div class="col-sm-9 col-xs-12">
                    <textarea  style="width:1170px;height:600px;" name="pcset[footercontent]">{$set['shop']['footercontent']}</textarea>
                    </div>
            </div> 
            {/if}     
            <div class="form-group"></div>
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                           {ifp 'sysset.save.pcset'}
                            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"  />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                          {/if}
                     </div>
            </div>
                       
            </div>
        </div>     
    </form>
</div>
<script type="text/javascript" src="resource/js/lib/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#param-items").sortable({handle: '.fa-move'});
    })
    function addParam(type) {
        var url = "{php echo $this->createWebUrl('sysset/settpl',array('tpl'=>'setmenu'))}";
        $.ajax({
            "url": url,
            "data": {'type':type},
            success: function(data) {
                $('#param-items.'+type).append(data);
            }
        });
        return;
    }
    function deleteParam(o) {
        $(o).parent().parent().remove();
    }
</script>
{template 'web/sysset/mylink'}
{template 'web/_footer'}     
