{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/sysset/tabs'}
<div class="main rightlist">
<!-- 新增加右侧顶部三级菜单 -->
<div class="right-titpos">
	<ul class="add-shopnav">
    {ifp 'sysset.view.shop'}<li {if $_GPC['op']=='shop'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'shop'))}">商城设置</a></li>{/if}
    {ifp 'shop.notice.view'}<li {if $_GPC['p'] == 'notice'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/notice')}">公告管理</a></li>{/if}
    {ifp 'shop.adpc.view'}<li {if $_GPC['p'] == 'adpc'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adpc')}">广告管理</a></li>{/if}
    {ifp 'sysset.view.member'}<li  {if $_GPC['op']=='member'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'member'))}">会员设置</a></li>{/if}
    {ifp 'sysset.view.template'}<li  {if $_GPC['op']=='template'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'template'))}">模板设置</a></li>{/if}
    {ifp 'shop.adv.view'}<li {if $_GPC['p'] == 'adv'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adv')}">幻灯片管理</a></li>{/if}
    {ifp 'sysset.view.category'}<li  {if $_GPC['op']=='category'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'category'))}">分类层级</a></li>{/if}
    {ifp 'sysset.view.contact'}<li  {if $_GPC['op']=='contact'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'contact'))}">联系方式</a></li>{/if}
    {ifp 'sysset.view.sms'}<li  {if $_GPC['op']=='sms'}class="active"{/if}><a href="{php echo $this->createWebUrl('sysset',array('op'=>'sms'))}">短信设置</a></li>{/if}
	</ul>
</div>
<!-- 新增加右侧顶部三级菜单结束 -->
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" >
        <input type='hidden' name='setid' value="{$set['id']}" />
        <input type='hidden' name='op' value="template" />
        <div class="panel panel-default">
            <div class='panel-body'>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板选择</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.template'}
                        <select class='form-control' name='shop[style]'>
                            {loop $styles  $style}
                            <option value='{$style}' {if $style==$set['shop']['style']}selected{/if}>{$style}</option>
                            {/loop}
                        </select>
                        {else}
                        <input type="hidden" name="shop[style]" value="{$set['shop']['style']}"/>
                        <div class='form-control-static'>
                            {if empty($set['shop']['style'])}default{else}{$set['shop']['style']}{/if}
                        </div>
                        {/if}
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">PC模板选择</label>
                    <div class="col-sm-9 col-xs-12">
                        {ifp 'sysset.save.template'}
                        <select class='form-control' name='shop[style_pc]'>
                            {loop $styles_pc  $style_pc}
                            <option value='{$style_pc}' {if $style_pc==$set['shop']['style_pc']}selected{/if}>{$style_pc}</option>
                            {/loop}
                        </select>
                        {else}
                        <input type="hidden" name="shop[style_pc]" value="{$set['shop']['style_pc']}"/>
                        <div class='form-control-static'>
                            {if empty($set['shop']['style_pc'])}default{else}{$set['shop']['style_pc']}{/if}
                        </div>
                        {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">主题选择</label>
                    <div class="col-sm-9 col-xs-12">
                        <select class='form-control' name='shop[theme]'>
                            <option value='style' {if 'style'==$set['shop']['theme']}selected{/if}>默认主题</option>
                            <option value='style_red' {if 'style_red'==$set['shop']['theme']}selected{/if}>红黑主题</option>
                        </select>
                    </div>
                </div> 

                       <div class="form-group"></div>
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                           {ifp 'sysset.save.template'}
                            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"  />
                            <input type="hidden" name="token" value="{$_W['token']}" />
                          {/if}
                     </div>
            </div>
                       
            </div>

        </div>     
    </form>
</div>
</div>
{template 'web/_footer'}     
