
<!-- start: Main Menu -->
<style type="text/css">

    .nav.nav-sidebar li a .fa-angle-down{display: block !important;}
    .sidebar-left{}
</style>

<div class="sidebar sidebar-left">

    <div class="sidebar-collapse">
        <div class="sidebar-header t-center">
            <a><img class="text-logo" src="../addons/sz_yi/static/resource/images/logo.png"></a>
        </div>
        <div class="sidebar-menu">


            <ul class="nav nav-sidebar">
                {if $menuList = Config::get('menu')}
                {loop $menuList $keyOne $valueOne}
                {if (isset($valueOne['menu']) && $valueOne['menu'] == true)}
                <li>
                    {if (isset($valueOne['child']) && array_child_kv_exists($valueOne['child'],'menu',true))}
                    <a href="javascript:;" i="1"><i class="fa {php echo array_get($valueOne,'icon','')}"></i><span class="text">{php echo array_get($valueOne,'name','')}</span> <span class="fa fa-angle-down pull-right"></span></a>
                    <ul class="nav sub">
                        {loop $valueOne['child'] $keyTwo $valueTwo}
                        <li>
                            {if isset($valueTwo['child']) && array_child_kv_exists($valueTwo['child'],'menu',true)}
                            <a href="javascript:;" i=2><i class="iconfont {php echo array_get($valueTwo,'icon','icon-dian')}"></i><span class="text">{php echo array_get($valueTwo,'name','')}</span><span class="fa fa-angle-down pull-right"></span></a>
                            <ul class="nav sub third">
                               {loop $valueTwo['child']  $keyThird $valueThird}
                                <li><a href="{php echo $this->viewWebUrl(array_get($valueThird,'url',''), array_get($valueThird,'urlParams',[]))}"><i class="iconfont {php echo array_get($valueThird,'icon','icon-dian')}"></i><span class="text"> {php echo array_get($valueThird,'name','')}</span></a></li>
                                {/loop}
                            </ul>
                            {else}
                            <a href="{php echo $this->viewWebUrl(array_get($valueTwo,'url',''),array_get($valueTwo,'urlParams',[]))}"><i class="iconfont {php echo array_get($valueTwo,'icon','icon-dian')}"></i><span class="text">{php echo array_get($valueTwo,'name','')}</span></a>
                            {/if}
                        </li>
                        {/loop}
                    </ul>
                    {else}
                    <a href="{php echo $this->viewWebUrl(array_get($valueOne,'url',''), array_get($valueOne,'urlParams',[])) }"><i class="fa {php echo array_get($valueOne,'icon','icon-dian')}"></i><span class="text">{php echo array_get($valueOne,'name','')}</span></a>
                    {/if}
                </li>
                {/if}
                {/loop}
                {/if}
            </ul>
        </div>
    </div>


</div>
<!-- end: Main Menu -->

<script language='javascript'>
  require(['bootstrap'], function ($) {
    $("[i]").click(function () {

      $(this).parent().parent().children('li').find('ul').slideUp();
      $(this).next().slideToggle();
    });
  })
</script>