{template 'web/_header'}
<div class="w1200 m0a">
    {template 'web/member/tabs'}
    <div class="rightlist">

        <!-- 新增加右侧顶部三级菜单 -->
        <div class="right-titpos">
            <ul class="add-snav">
                <li class="active"><a href="#">会员管理</a></li>
                <li><a href="#">会员分组</a></li>
            </ul>
        </div>
        <!-- 新增加右侧顶部三级菜单结束 -->
        {if p('discuz') && $uc['status'] == 1}
        <form action="{php echo $this->createWebUrl('member/group', array('op' => 'syn'))}" method="post"  id="syn_form">
            {else}
            <form action="" method="post" onsubmit="return formcheck(this)">
                {/if}
                <div class='panel panel-default'>
                    <div class='panel-body'>

                        <table class="table">
                            <thead>
                            <tr>
                                {if p('discuz') && $uc['status'] == 1}
                                <th style="width: 100px;"><input type="checkbox" name="all" id="all" value=""> 全选</th>
                                {/if}
                                <th>分组名称</th>
                                <th>会员数</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach($groups_list as $group){ ?>
                            <tr>
                                {if p('discuz') && $uc['status'] == 1}
                                <td>
                                    {if !empty($row['id'])}
                                    <input type="checkbox" name="syn[]" value="{php echo $row['id']; }">
                                    {/if}
                                </td>
                                {/if}
                                <td><?php echo $group->group_name ?></td>
                                <td>{$row['membercount']}</td>
                                <td>
                                    <a class='btn btn-default' href="{php echo $this->createWebUrl('member', array('groupid' => $row['id']))}"><i class='fa fa-users'></i></a>
                                    {if !empty($row['id'])}
                                    {ifp 'member.group.add|member.group.view'}
                                    <a class='btn btn-default' href="{php echo $this->createWebUrl('member/group', array('op' => 'post', 'id' => $row['id']))}"><i class='fa fa-edit'></i></a>
                                    {/if}
                                    {ifp 'member.group.delete'}
                                    <a class='btn btn-default'  href="{php echo $this->createWebUrl('member/group', array('op' => 'delete', 'id' => $row['id']))}" onclick="return confirm('确认删除此会员分组吗？');return false;"><i class='fa fa-remove'></i></a></td>
                                {/if}
                                {/if}


                            </tr>
                            <?php } ?>
                            </tbody>
                        </table>

                    </div>
                    {if 'member.group.add'}
                    <div class='panel-footer'>
                        <a class='btn btn-primary' href="{php echo $this->createWebUrl('member/group', array('op' => 'post'))}"><i class="fa fa-plus"></i> 添加新分组</a>
                        {if p('discuz') && $uc['status'] == 1}
                        <a class='btn btn-default' href="javascript:;" id="syn_btn"><i class="fa fa-group"></i> 同步用户组</a>
                        {/if}
                        <script>
                            $("#all").click(function () {
                                $('input[name="syn[]"]').prop("checked",$("#all").is(':checked'));
                            });
                            $("#syn_btn").click(function() {
                                $("#syn_form").submit();
                            });
                        </script>
                    </div>
                    {/if}
                </div>
            </form>

    </div>
</div>
{template 'web/_footer'}
