{template 'web/_header'}
<div class="w1200 m0a">
    {template 'web/member/tabs'}
    <div class="rightlist">
        <!-- 新增加右侧顶部三级菜单 -->
        <div class="right-titpos">
            <ul class="add-snav">
                <li class="active"><a href="#">会员管理</a></li>
                <li><a href="#">会员等级</a></li>
            </ul>
        </div>
        <!-- 新增加右侧顶部三级菜单结束 -->
        <form action="" method="post" onsubmit="return formcheck(this)">
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>等级权重</th>
                            <th>等级名称</th>
                            <th>升级条件</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($level_list as $level) {
                        //print_r($level);exit;
                        ?>
                        <tr>
                            <td>{$level['level']}</td>
                            <td>{$level['level_name']}</td>
                            <td>
                                {if empty($shopset['leveltype'])}
                                    {if $level['order_money'] > 0}
                                        完成订单金额满{$level['order_money']}元
                                    {else}
                                        不自动升级
                                    {/if}
                                {/if}
                                {if $shopset['leveltype']==1}
                                    {if $level['order_count'] > 0}
                                        完成订单数量满{$level['order_count']}个
                                    {else}
                                        不自动升级
                                    {/if}
                                {/if}
                            </td>
                            <td>
                                <a class='btn btn-default' href="{php echo $this->createWebUrl('member.memberlevel.update', array('id' => $level['id']))}" title="编辑／查看"><i class='fa fa-edit'></i></a>
                                <a class='btn btn-default' href="{php echo $this->createWebUrl('member.memberlevel.destroy', array('id' => $level['id']))}" onclick="return confirm('确认删除此等级吗？');return false;"><i class='fa fa-remove'></i></a>
                            </td>
                        </tr>
                        <?php } ?>

                        </tbody>
                    </table>
                </div>
                {ifp 'member.level.add'}
                <div class='panel-footer'>
                    <a class='btn btn-primary' href="{php echo $this->createWebUrl('member.memberlevel.store', array('id' => '0'))}"><i class="fa fa-plus"></i> 添加新等级</a>
                </div>
                {/if}
            </div>
        </form>

    </div>
</div>
{template 'web/_footer'}
