<div class="ulleft-nav">
<div class="addtit-name">会员管理</div>
<ul class="nav nav-tabs">
    <li ><a href="{php echo $this->createWebUrl('member/list',array('isagent'=>0))}">会员管理</a></li>
    
    <!--<li class="active"><a href="{php echo $this->createWebUrl('member/recharge',array('op'=>'credit1'))}">充值积分</a></li>

    <li class="active"><a href="{php echo $this->createWebUrl('member/recharge',array('op'=>'credit2'))}">充值余额</a></li>-->

    
    <li ><a href="{php echo $this->createWebUrl('member.memberlevel.index')}">会员等级</a></li>
    <li ><a href="{php echo $this->createWebUrl('member.membergroup.index')}">会员分组</a></li>
   
</ul> 
</div>
