{template 'web/_header'}
<script type="text/javascript" src="../addons/sz_yi/static/js/ZeroClipboard.js"></script>
<link rel="stylesheet" type="text/css" href="../addons/sz_yi/static/css/shop.css">
<div class="w-shop">
	<div class="w-shoptit">
		<div class="shop-logo">
			<img src="{php echo tomedia('headimg_1.jpg')}"/>
		</div>
		<div class="shop-intro">
			<h2 class="ng-binding">{$_W['account']['name']}</h2>
			<p class="ng-binding ng-scope">当前版本: {php echo SZ_YI_VERSION;}</p>
		</div>
		<div class="shop-shortcut">
			<a href="{php echo $this->createWebUrl('shop/goods', array('status'=>1))}" class="btn btn-success btn-sm mr5 ng-scope"><i class="fa fa-plus"></i>发布商品</a>
{loop $plugins $plugin}
	{if $plugin['identity'] == 'designer'}
		{ifpp $plugin['identity']}
        {if p($plugin['identity'])}
            <a href="{php echo $this->createPluginWebUrl('designer')}" class="btn btn-default btn-sm mr5 ng-scope"><i class="fa fa-gavel"></i>店铺装修</a>
        {/if}        
		{/if}
	{/if}
{/loop}
			<div class="btn btn-default btn-sm shop-code-btn">
			<i class="fa fa-mobile"></i> 访问店铺
				<div class="code-dov">
					<h1>手机扫码访问：</h1>
					<img width="120" src="{php echo tomedia($qrcode)}">
					<div class="link-pos">
						<a class="show-shop-code ng-isolate-scope zeroclipboard-is-hover" id="copy_text">复制链接</a>
						<a class="ml10" href="{$url}" target="_blank">电脑上查看</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-pricelist">
		<ul>
            <li>
                <h5>
                    <a href="#">
                        <span >0</span>
                    </a>
                </h5>
                <h6>今日交易额</h6>
            </li>
            <li>
                <h5>
                    <a href="#">
                        <span >0</span>
                    </a>
                </h5>
                <h6>今日订单数</h6>
            </li>
            <li>
                <h5>
                    <a href="#">
                        <span ><i class="unit">￥</i>0.00</span>
                    </a>
                </h5>
                <h6>待付款订单</h6>
            </li>
            <li>
                <h5>
                    <a href="#">
                        <span ><i class="unit">￥</i>0.00</span>
                    </a>
                </h5>
                <h6>待发货订单</h6>
            </li>
         </ul>
	</div>
	<div class="widget-mod">
        <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>  
	</div>
	<div class="widget-mod">
		<div class="widget-head">
			<i class="iconfont icon-yuanquan"></i>销量排行
		</div>
		<div class="widget-body">
			<table class="table table-hover" style="margin-left: 0">
				<thead>
					<tr><th>商品名称</th><th>销量</th><th>上架时间</th></tr>
				</thead>
				<tbody>
					<tr class="ng-scope"><td class="ng-binding">原味乳酪夹心饼干</td><td class="ng-binding">11</td><td class="ng-binding">2016-07-27 09:39:52</td></tr>
					<tr class="ng-scope"><td class="ng-binding">纸巾</td><td class="ng-binding">6</td><td class="ng-binding">2016-06-16 14:02:41</td></tr>
					<tr class="ng-scope"><td class="ng-binding">皖北土鸡蛋</td><td class="ng-binding">5</td><td class="ng-binding">2016-06-12 10:44:12</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script language="JavaScript">
		var clip = null;
		
		function init() {
			clip = new ZeroClipboard.Client();
            console.log(clip);
			clip.setHandCursor( true );
            clip.setText('dddddddd')
			
			clip.addEventListener('load', my_load);
			clip.addEventListener('mouseOver', my_mouse_over);
			clip.addEventListener('complete', my_complete);
			
			clip.glue( 'copy_text' );
		}
		
		function my_load(client) {
			alert("Flash movie loaded and ready.");
		}
		
		function my_mouse_over(client) {
			// we can cheat a little here -- update the text on mouse over
			clip.setText( 'ssss' );
		}
		
		function my_complete(client, text) {
			alert("Copied text to clipboard: " + text );
		}
		
		function debugstr(msg) {
			var p = document.createElement('p');
			p.innerHTML = msg;
			$('d_debug').appendChild(p);
		}
init();
	</script>
<script language="javascript" src="{SZ_YI_STATIC}js/dist/highcharts/highcharts.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '订单趋势图',
            x: -20 //center
        },
        exporting:{
            enabled:false
        },
        credits: {
            enabled: false
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04', '2016-08-05', '2016-08-01','2016-08-01', '2016-08-01']
/*
            categories: [
                {loop $datas $key $row}
                   {if $key>0},{/if}"{$row['date']}"
               {/loop}]
            ]
*/
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'top',
            borderWidth: 0,
            y:20
        },
        series: [
            {
                name: '总订单',
                data: [1.0, 6, 9.5, 34.5, 10.2, 51.5, 25.2, 26.5]
            }, {
                name: '已完成',
                data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1]
            }, {
                name: '已发货',
                data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9]
            }
        ]
    });
});</script>

{template 'web/_footer'}
