<div class="ulleft-nav">
<div class="addtit-name"> 配送方式及运费</div>
<ul class="nav nav-tabs">
    {ifp 'shop.dispatch.view'}<li {if $_GPC['p'] == 'dispatch'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/dispatch', array('status'=>1))}">运费模板设置</a></li>{/if}
    {ifp 'shop.refundaddress.view'}<li {if $_GPC['p'] == 'refundaddress'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/refundaddress', array('status'=>0))}">退货地址设置</a></li>{/if}
    <li class="step"></li>
    {ifp 'verify.keyword'}<li {if $_GPC['method']=='keyword'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('verify/keyword')}">核销设置</a></li>{/if}
    {ifp 'verify.store'}<li {if $_GPC['method']=='store'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('verify/store')}">核销门店管理</a></li>{/if}
    {ifp 'verify.store'}<li {if $_GPC['method']=='category'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('verify/category')}">门店分类管理</a></li>{/if}
    {ifp 'verify.saler'}<li  {if $_GPC['method']=='saler'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('verify/saler')}">核销员管理</a></li>{/if}
    {ifp 'verify.withdraw'}<li  {if $_GPC['method']=='withdraw'}class="active"{/if}><a href="{php echo $this->createPluginWebUrl('verify/withdraw')}">提現申請</a></li>{/if}
    <!--
    {ifp 'shop.dispatch.view'}<li {if $_GPC['p'] == 'dispatch'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/dispatch')}">配送方式</a></li>{/if}
    {ifp 'shop.adv.view'}<li {if $_GPC['p'] == 'adv'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adv')}">幻灯片管理</a></li>{/if}
    {ifp 'shop.notice.view'}<li {if $_GPC['p'] == 'notice'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/notice')}">公告管理</a></li>{/if}
    {ifp 'shop.comment.view'}<li {if $_GPC['p'] == 'comment'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/comment')}">评价管理</a></li>{/if}
    {ifp 'shop.adpc.view'}<li {if $_GPC['p'] == 'adpc'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/adpc')}">广告管理</a></li>{/if}
    {ifp 'shop.refundaddress.view'}<li {if $_GPC['p'] == 'refundaddress'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop/refundaddress')}">退货地址</a></li>{/if}
-->
</ul>
</div>

