{template 'web/_header'}
<div class="w1200 m0a">
{template 'web/statistics/tabs'}
<style type="text/css">
	.num { position:absolute; left:10px;color:#000;font-weight:bold;}
	.progress { position: relative; }
</style>

<div class="rightlist">
<!-- 新增加右侧顶部三级菜单 -->
<div class="right-titpos">
	<ul class="add-snav">
		<li class="active"><a href="#">数据统计</a></li>
		<li><a href="#">销售分析</a></li>
	</ul>
</div>
<div class="panel panel-info">
    <div class="panel-heading">按时间查询</div>
    <div class="panel-body">

        <form action="./index.php" method="get" class="form-horizontal"  id="form1">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
            <input type="hidden" name="m" value="sz_yi" />
            <input type="hidden" name="do" value="statistics" />
            <input type="hidden" name="p"  value="sale_analysis" />
             
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">订单时间</label>
                  <div class="col-sm-2">
                            <label class="radio-inline">
                                <input type="radio" name="searchtime" value="0" {if empty($_GPC['searchtime'])}checked{/if}>不搜索
                            </label> 
                             <label class="radio-inline">
                                <input type="radio" name="searchtime" value="1" {if !empty($_GPC['searchtime'])}checked{/if}>搜索
                            </label>
                </div>
                <div class="col-sm-8 col-lg-7 col-xs-12">
                        {php echo tpl_form_field_daterange('datetime', array('starttime'=>date('Y-m-d H:i',$starttime),'endtime'=>date('Y-m-d H:i',$endtime)), true)}
                </div>
            </div>
           
            
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label"></label>
                <div class="col-sm-8 col-lg-9 col-xs-12">
                    <button class="btn btn-default" ><i class="fa fa-search"></i> 搜索</button>
                    <input type="hidden" name="token" value="{$_W['token']}" />
                </div>

            </div>

        </form>
    </div>
</div>
<!-- 新增加右侧顶部三级菜单结束 -->
<div class="panel panel-default">
<form action="" class="form-horizontal">
    <div class='panel-body'>
        <div class="form-group">
            <div class="col-sm-8 col-lg-12 col-xs-12">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th  style='width:150px;'>订单总金额</th>
                            <th  style='width:150px;'>总会员数</th>
                            <th>会员消费率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{$orderprice}</td>
                            <td>{$member_count}</td>
                                <td>{php $percent=round( $orderprice/($member_count==0?1:$member_count),2);}
			{if $percent>1}{php $percent+=100}{else}{php $percent*=100}{/if}
                             <div class="progress">
                                 <div style="width: {$percent}%;" class="progress-bar progress-bar-success"><span class='num'>{php echo empty($percent)?'':$percent.'%'}</span></div>
                              </div>
                            </td>  
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-lg-12 col-xs-12">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th style='width:150px;'>订单总金额</th>
                            <th style='width:150px;'>总访问次数</th>
                            <th>访问转化率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{$orderprice}</td>
                            <td>{$viewcount}</td>
                           <td>{php $percent=round( $orderprice/($viewcount==0?1:$viewcount),2);}
			{if $percent>1}{php $percent+=100}{else}{php $percent*=100}{/if}
                                <div class="progress">
                                    <div style="width: {$percent}%;" class="progress-bar progress-bar-info"><span class='num'>{php echo empty($percent)?'':$percent.'%'}</span></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
     
        <div class="form-group">
            <div class="col-sm-8 col-lg-12 col-xs-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style='width:150px;'>总订单数</th>
                            <th style='width:150px;'>总访问次数</th>
                            <th>订单转化率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{$ordercount}</td>
                            <td>{$viewcount}</td>
                           <td>{php $percent=round( $ordercount/($viewcount==0?1:$viewcount),2);}
			{if $percent>1}{php $percent+=100}{else}{php $percent*=100}{/if}
                                <div class="progress">
                                    <div style="width: {$percent}%;" class="progress-bar progress-bar-danger"><span class='num'>{php echo empty($percent)?'':$percent.'%'}</span></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-lg-12 col-xs-12">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th style='width:150px;'>消费会员数</th>
                            <th style='width:150px;'>总会员数</th>
                            <th>会员消费率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{$member_buycount}</td>
                            <td>{$member_count}</td>
                          <td>{php $percent=round( $member_buycount/($member_count==0?1:$member_count),2);}
			{if $percent>1}{php $percent+=100}{else}{php $percent*=100}{/if}
                                <div class="progress">
                                    <div style="width: {$percent}%;" class="progress-bar progress-bar-striped"><span class='num'>{php echo empty($percent)?'':$percent.'%'}</span></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      <div class="form-group">
        <div class="col-sm-8 col-lg-12 col-xs-12">
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th style='width:150px;'>总订单数</th>
                        <th style='width:150px;'>总会员数</th>
                        <th>订单购买率</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{$ordercount}</td>
                        <td>{$member_count}</td>
                        <td>{php $percent=round( $ordercount/($member_count==0?1:$member_count),2);}
			{if $percent>1}{php $percent+=100}{else}{php $percent*=100}{/if}
                            <div class="progress">
                                <div style="width: {$percent}%;" class="progress-bar progress-bar-warning"><span class='num'>{php echo empty($percent)?'':$percent.'%'}</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>

{template 'web/_footer'}
