{if $this->breadcrumbs}
    <div class="main">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header-new" style=""><i class="iconfont"></i> {$title}</h3>
                    <ol class="breadcrumb">
                        {loop $breadcrumbs $k $v}
                        {if is_array($v)}
                        <li><i class="iconfont {php echo array_get($v,'icon')}"></i>{if isset($v['url'])}<a href="{php echo array_get($v,'url','#')}">{$k}</a>{else}{$k}{/if}</li>  <!--一级分类-->
                        {else}
                        <li><i class="iconfont {php echo array_get($v,'icon')}"></i>{$v}</li>
                        {/if}
                        {/loop}
                    </ol>
            </div>
        </div>
    </div>

{/if}