<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{php if(isset($title)) $var['page']['title'] = $title}{if !empty($var['page']['title'])}{$var['page']['title']} - {/if}{$var['account']['name']}</title>
    <meta name="keywords" content="{if empty($var['page']['copyright']['keywords'])}{if IMS_FAMILY != 'x'}{$var['account']['name']}{/if}{else}{$var['page']['copyright']['keywords']}{/if}" />
    <meta name="description" content="{if empty($var['page']['copyright']['description'])}{if IMS_FAMILY != 'x'}{$var['account']['name']}{/if}{else}{$var['page']['copyright']['description']}{/if}" />
    <link rel="shortcut icon" href="{$var['siteroot']}{$var['config']['upload']['attachdir']}/{if !empty($var['setting']['copyright']['icon'])}{$var['setting']['copyright']['icon']}{else}images/global/wechat.jpg{/if}" />
    <link href="../addons/sz_yi/static/resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="../addons/sz_yi/static/resource/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../addons/sz_yi/static/resource/css/font-awesome.min.css" rel="stylesheet">
    <link href="../addons/sz_yi/static/resource/css/style.min.css" rel="stylesheet">
    <link href="../addons/sz_yi/static/font/iconfont.css" rel="stylesheet">
    <script>var require = { urlArgs: 'v={php echo date('YmdH');}' };</script>
    <script src="./resource/js/lib/jquery-1.11.1.min.js"></script>
    <script src="./resource/js/index.js"></script>

    <script src="./resource/js/app/util.js"></script>
    <script src="./resource/js/require.js"></script>
    <script src="./resource/js/app/config.js"></script>
    <!--[if lt IE 9]>
    <script src="../addons/sz_yi/static/resource/js/html5shiv.min.js"></script>
    <script src="../addons/sz_yi/static/resource/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">

        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }

        window.sysinfo = {
        {if !empty($var['uniacid'])}
        'uniacid': '{$var['uniacid']}',
        {/if}
        {if !empty($var['acid'])}
        'acid': '{$var['acid']}',
        {/if}
        {if !empty($var['openid'])}
        'openid': '{$var['openid']}',
        {/if}
        {if !empty($var['uid'])}
        'uid': '{$var['uid']}',
        {/if}
        'siteroot': '{$var['siteroot']}',
                'siteurl': '{$var['siteurl']}',
                'attachurl': '{$var['attachurl']}',
                'attachurl_local': '{php isset($var['attachurl_local']) ? $var['attachurl_local'] : ""}',
                'attachurl_remote': '{php isset($var['attachurl_remote']) ? $var['attachurl_remote'] : ""}',
        {if defined('MODULE_URL')}
        'MODULE_URL': '{MODULE_URL}',
        {/if}
        'cookie' : {'pre': '{$var['config']['cookie']['pre']}'}
        };
    </script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../addons/sz_yi/static/css/webstyle.css">
<link rel="stylesheet" type="text/css" href="../addons/sz_yi/static/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="../addons/sz_yi/static/css/common.css">



<div class="container-fluid">
    {if defined('IN_MESSAGE')}

    <div class="jumbotron clearfix alert alert-{$label}">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-lg-2">
                <i class="fa fa-5x fa-{if $label=='success'}check-circle{/if}{if $label=='danger'}times-circle{/if}{if $label=='info'}info-circle{/if}{if $label=='warning'}exclamation-triangle{/if}"></i>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                {if is_array($msg)}
                <h2>MYSQL 错误：</h2>
                <p>{php echo cutstr($msg['sql'], 300, 1);}</p>
                <p><b>{$msg['error'][0]} {$msg['error'][1]}：</b>{$msg['error'][2]}</p>
                {else}
                <h2>{$caption}</h2>
                <p>{$msg}</p>
                {/if}
                {if $redirect}
                <p><a href="{$redirect}">如果你的浏览器没有自动跳转，请点击此链接</a></p>
                <script type="text/javascript">
                    setTimeout(function () {
                        location.href = "{$redirect}";
                    }, 3000);
                </script>
                {else}
                <p>[<a href="javascript:history.go(-1);">点击这里返回上一页</a>] &nbsp; [<a href="./?refresh">首页</a>]</p>
                {/if}
            </div>
            {else}

            {/if}